[2019-08-15 05:05] manojVivek opened #13 "Side-by-side compare two websites/URLs across devices"

[2019-08-15 05:06] manojVivek opened #14 "Side-by-side compare designs with the running app"

[2019-08-27 16:30] manojVivek opened #31 "Add device emulation params for Mobile devices"
Add the emulation parameters correctly for the devices with `touchscreen` capability to support touch events like `tap`, `swipe` etc. Right now only mouse events are supported by all devices.

[2019-09-05 16:43] manojVivek opened #37 "Bookmarks"

[2019-09-14 04:50] manojVivek opened #45 "Scroll event doesn't get sent to other devices when mouse is already on a device when it loads."

[2019-09-14 04:57] manojVivek opened #48 "Add a screenshots gallery to the sidebar"

[2020-05-16 17:32] manojVivek opened #78 "Create a browser extension to open the app from the browser with the current page URL"

[2020-05-16 19:43] akashraj9828 opened #79 "Window wont refresh if any input is passed by mistake on codepen.io."
### What's the issue?
When testing my [pen ](https://codepen.io/akashraj9828/full/eYpPEQq) for responsiveness using you app. I came across a bug in which if I accidently edit the pen in any window. Then that window will stop refreshing. Until app is restarted.

### Expected behaviour?
All windows should be in sync. If a window is recieving input then either input should be in sync too or atleast w

[2020-05-17 11:07] esprush commented on #79
thanks for reporting @akashraj9828. will check and fix this. Thanks

[2020-05-18 06:32] emmanguiang opened #80 "Create a way to have a synchronized input"
I tried using the app on our development site, but as soon as I get to our login page and text inputs are needed I have to do it for every browser.

It would be good to have a synchronized text input.

[2020-05-18 06:40] emmanguiang commented on #80
Never mind this, tried it on google.com and it is working properly

[2020-05-18 06:40] #80 closed

[2020-05-18 17:42] kishoreio opened #81 "Add a smooth scroll for Responsively page"
Adding a CSS `scroll-behavior: smooth` on the HTML tag would make the website to scroll smoothy when the Nav links are clicked.

[2020-05-18 18:39] #81 closed

[2020-05-19 09:29] SampathParavasthu opened #83 "CTRL + R not working on other applications if resposnively is opened"
If responsively is opened and not a active window, CTRL + R does not work on other active applications.
Had my bash opened and was trying reverse search using CTRL + R. Reverse search was not triggered, On closing responsively, it worked. Looks like reloading in this issue is causing the issue

[2020-05-19 13:57] manojVivek commented on #83
@SampathParavasthu Yeah, I can see this happening in the latest release.
We will add a fix for it in the next release. Thanks for reporting it. :)

[2020-05-19 17:06] makampos commented on #78
Well works great on localhost but  I'am try  run this app on Microsoft Visual Studio using an option call "Browser With" and didn't work.

Its possible to run this app and make him open one adress with Default option ? Like a local host?

[2020-05-19 17:25] manojVivek commented on #78
@makampos Did you try the "Set a Homepage" option in the address to make the required address a homepage. So that when you open the app, that address will be loaded by default.
<img width="158" alt="Screenshot 2020-05-19 at 10 53 16 PM" src="https://user-images.githubusercontent.com/1283424/82358177-c651bd80-9a23-11ea-8f5a-64a7de1414b8.png">

[2020-05-19 17:40] adamJLev commented on #83
Yes just figured out what was causing this (repsonsively), was going a little bit crazy lol.

[2020-05-20 18:50] mbrukman opened #85 "Please add a license to this repo"
First, thank you for sharing this project with us!

Could you please add an explicit `LICENSE` file to the repo so that it's clear
under what terms the content is provided, and under what terms user
contributions are licensed?

Per [GitHub docs on licensing][github-docs-licensing]:

Thanks!

[github-docs-licensing]: https://help.github.com/articles/licensing-a-repository/#choosing-the-right-licens

[2020-05-20 20:33] 123Peter789 opened #86 "Desktop Vertical- and Horizontal Scrollbar also on Non-Desktop-devices"
First: "Responsively" is a great idea.

**Issue: Normal desktop scrollbars are also on non-desktop devices**

[2020-05-21 03:18] #83 closed

[2020-05-21 03:31] manojVivek commented on #85
@mbrukman Thanks for bringing it to our notice. We have added a GNU GPLv3 license.

[2020-05-21 03:31] #85 closed

[2020-05-21 03:37] manojVivek commented on #86
@123Peter789 Can you please add a screenshot explaining the issue?

[2020-05-21 05:39] ahopkins opened #87 "Local certificates"
How can I get to settings to be able to disable certificate verification for local certs?

![image](https://user-images.githubusercontent.com/166269/82527244-9d721b00-9b3e-11ea-913f-6b2b3d4ee442.png)

[2020-05-21 06:49] manojVivek commented on #87
@ahopkins Thanks for notifying about this, we will add a way to do this in the next release.

[2020-05-21 07:24] ahopkins commented on #87
Awesome. And thanks for your effort on this. Looks like it will be a super helpful tool!

[2020-05-21 08:52] AmoDinho opened #88 "Great Work! Thanks for making this!"
@manojVivek Thanks for Making this man! 🎉

Well done bruv!

[2020-05-21 09:19] 123Peter789 commented on #86
Sure, hope that helps

![image](https://user-images.githubusercontent.com/16413100/82543832-40ab4a80-9ba8-11ea-9c2a-087196f7cbfd.png)

![image](https://user-images.githubusercontent.com/16413100/82543874-5456b100-9ba8-11ea-832c-63176e58bb4a.png)

![image](https://user-images.githubusercontent.com/16413100/82543888-5b7dbf00-9ba8-11ea-9290-fe07504e85d1.png)

[2020-05-21 12:48] mindmodel opened #89 "Third-party sign in via Google doesn't work"
Navigate to this web site:

https://www.invisiblesolutionslenses.com

Click "Lenses" in top navigation.

Click "Sign Up or Log In" button.

Click "Sign in with Google".

Can't sign in.  Either page keeps re-drawing, or Google complains that the browser is not secure.

[2020-05-21 14:00] Zerstoren-ak opened #90 "Suggestion to add hotkeys"
Hello there, first of all – thank You for the app, it's so good)

I just wanted to suggest to add those kind's of keyboard hotkeys and shortcuts, which we all are used to, like: Opt + Command + I for "Inspect Element"; "Zoom in/out" with Command + +/-;  etc.

Thank You.

[2020-05-21 14:18] mbrukman commented on #85
Thanks, @manojVivek! Just to clarify, you said:

but the [actual license in the repo][license] is **AGPL** which is significantly differs from GPL. Which license did you intend to use here?

[license]: https://github.com/manojVivek/responsively-app/blob/230dab8667fd68547f1f9bf3019e1152ac81ea31/LICENSE

[2020-05-21 14:32] manojVivek commented on #85
@mbrukman Yeah, that is the intended one. Sorry I sent the wrong one in the comment. :)

[2020-05-21 14:34] manojVivek commented on #90
@Zerstoren93  Great suggestion, will incorporate these in the future release.

[2020-05-21 17:55] johncrogers opened #91 "Page refresh & Local storage not persisting"
Great tool! I've installed and attempted to get it working on a project.

I'm having an issue where, if I log in to my app, there is an additional navigation event and the local storage appears to be getting cleared. Am I missing something about the intended usage or perhaps setup for development? I would love to use this app, but it's currently unusable because I cannot persist a login status.

T

[2020-05-21 18:07] manojVivek commented on #87
Added an option to selectively disable SSL validation and it went live in v0.1.4.

Screenshot:
<img width="361" alt="Screenshot 2020-05-21 at 11 36 07 PM" src="https://user-images.githubusercontent.com/1283424/82590826-f8962300-9bbb-11ea-9b7e-898764353975.png">
cc: @ahopkins

[2020-05-21 18:07] #87 closed

[2020-05-21 18:59] agustif opened #92 "When running all devices iphone 6/7/8 doesnt load"
Maybe this is understandable but it would be a nicee to hhave, at 10% I can see all viewports/devices in one quick view

[2020-05-21 19:09] agustif commented on #92
After closing most of other apps (chrome etcc) it works but iphone 6/7/8 will keep stuck won/t load...

Any ideas why?

[2020-05-22 00:25] elderapo opened #93 "[BUG] Globally disables CTRL+R shortcut on ubuntu"
When an instance of `responsively-app` is running it's no longer possible to use `ctrl+r` shortcut for other applications. Is it a bug or intended behavior?

[2020-05-22 03:01] Nothing-Works opened #94 "update the app within the app?"
Can I update the app within the app atm? I think I can not.

I think it's nice to have it.

[2020-05-22 06:07] kaushalyap opened #95 "Include checksum file for the binaries in the release assets"
[latest-linux.yml](https://github.com/manojVivek/responsively-app/releases/download/v0.1.4/latest-linux.yml) contains the sha512 checksum of AppImage 0.1.3 instead of 0.1.4

By the way very useful project! thank you very much for your effort.

[2020-05-22 06:29] Darkensses opened #96 "Threat identified on Windows 10"
I downloaded the release `ResponsivelyApp-Setup-0.1.4.exe` and when I executed the app, Windows Defender triggered an action. I'm sure that your project is not a 'malware' or something like that, but I think is important make a patch for this issue.

![image](https://user-images.githubusercontent.com/23271049/82638022-934a2e00-9bcb-11ea-80c2-a5f37a42817a.png)

[2020-05-22 06:59] kerkeniakov opened #97 "screenshot save location?"
Where is the screenshot save location?

[2020-05-22 07:33] #97 closed

[2020-05-22 08:28] vakker opened #98 "Full refresh shortcut"
In Chrome I can do a full refresh with CTRL+SHIFT+r
It would very useful to have that available in the app as well, or pls let me know if I'm just not able to find the same functionality.
Currently I can't test CSS changes because the app just keeps the cached CSS.

[2020-05-22 08:50] JoeyJanson opened #99 "Reload CSS without reloading the page itself"
First of all: this app is a must have for web development. Great work!

In Chrome I've got an extension called: CSS Reloader. This extension "will allow developers to reload CSS without reloading the page itself." I can set a hotkey (^(control) + R in my case for Mac) and the CSS will be retrieved and reloaded again without reloading the full page. This is way faster for me in a lot of cases then

[2020-05-22 09:09] manojVivek commented on #96
@Darkensses Is it possible for you to attach a screenshot after changing the language to english?

[2020-05-22 09:16] manojVivek commented on #93
This is a duplicate of #83 and the fix went live on v0.1.4 yesterday.

[2020-05-22 09:16] #93 closed

[2020-05-22 09:22] manojVivek commented on #94
@Nothing-Works The app is already set to update in the background whenever they is a new version released and use that on the next app launch.

Can you check the version after re-launching it?
Also, can you let us know the OS details you are on, if the version didn't get updated after a re-launch?

[2020-05-22 09:24] manojVivek commented on #95
@kaushalyap will check it out and keep you posted. Thanks for reporting it.

[2020-05-22 09:25] manojVivek commented on #98
@vakker Thanks for reporting. We will include a fix in the upcoming version.

[2020-05-22 09:28] manojVivek commented on #99
@JoeyJanson That is a great suggestion, we will look incorporating it in the next release.

[2020-05-22 09:46] LOHT03 commented on #96
I also just downloaded the latest release and tried to install it. Windows 10 (1909) Security detects it as a threat.
![image](https://user-images.githubusercontent.com/48422312/82654930-c5f43500-9c64-11ea-900c-7dffab17cc03.png)

[2020-05-22 10:18] ahopkins commented on #87
Wow, super impressed with that turn around. Thanks, looking forward to trying this out now.

[2020-05-22 10:32] manojVivek commented on #95
I checked and `aEnJ5f+z/vwfxo+1G3TLOFFaqkk9rNiXesiAIQyN7lWad3OremY9VoIY1Ww6OSaAX9WflleT360DqvBFNzIuYw==` in the [latest-linux.yml](https://github.com/manojVivek/responsively-app/releases/download/v0.1.4/latest-linux.yml) file matches AppImage 0.1.4.

AppImage 0.1.3's sha512 is `vFwc84G5YUVnv3hEQ5FS0x/9CMJvH4z9s0B5Qe5sflcMmHHtcWWeWak7HP6nLDLbPekhRoBWrS42chcx9euK6g==`

@kaushalyap Please let me know

[2020-05-22 12:32] kaushalyap commented on #95
Did you updated the latest-linux.yml  of 0.1.4? As I remember when I viewing latest-linux.yml the url, path value was the file name of 0.1.4. and file that I have downloaded also 0.1.4.

Does not match with the file (0.1.4) I downloaded. Can you please download the AppImage 0.1.4 and check things locally. I remember in some other project also latest-linux.yml checksum not matching actual file. So

[2020-05-22 12:49] edgarwe opened #100 "Reload when anchor is added in url"
For example if you are in example.com and you click on a link who go to example.com#example all device reload the page. If #example is added by javascript it's the same issue.

Thanks for this tool.

[2020-05-22 13:29] Darkensses commented on #96
@manojVivek please see the attached file from @LOHT03 comment. Thanks for the screenshot LOHT03 🙏

[2020-05-22 14:36] manojVivek commented on #92
@agustif `iphone 6/7/8` getting stuck could be some special case with the page that you tested it with.

Can you let us know the details like the URL and the actions you did to produce it? So that we can reproduce it to find the root cause.

[2020-05-22 15:54] elderapo commented on #93
@manojVivek Now `ctrl+r` doesn't refresh `responsively-app` if it isn't focused (at least not on `ubuntu 20.04`).

[2020-05-22 16:13] manojVivek commented on #95
@kaushalyap It looks like the value in the `sha512` field is not the direct checksum of the downloaded file.

`electron-builder` makes use of https://github.com/develar/app-builder to build the binaries for distribution. And I tried generating the checksum for the downloaded v0.1.4 AppImage file using this tool and it outputs the same value as in the yml.

[code]

You can check this issue for more

[2020-05-22 16:15] manojVivek commented on #93
@elderapo Sorry, that is the expected behavior right?

[2020-05-22 16:20] elderapo commented on #93
Ideally `ctrl+r` should trigger `responsively-app` reload and at the same time work just fine for other applications. In other words, it could be intercepted by `responsively-app` but also should be forwarded to the currently focused application.

[2020-05-22 16:30] manojVivek commented on #83
@SampathParavasthu @adamJLev The fix for this went live in v.0.1.4 yesterday, hope you are finding it good.

[2020-05-22 16:34] manojVivek commented on #93
@elderapo I don't think that is the right behavior. The current one matches how browsers like Chrome and Firefox handle this.

[2020-05-23 01:10] kaushalyap commented on #95
@manojVivek
It is annoying to download separate script for checking the checksum. Can you please provide me with the sha256sum of App-0.1.4.AppImage which can be generated locally by running
`sha512sum ResponsivelyApp-0.1.4.AppImage `

I am getting following
`6849c9e5ffb3fefc1fc68fb51b74cb38515aaa493dacd8977ac880210c8dee559a7773ab7a663d568218d56c3a3926805fd59f965793dfad03aaf04537322e63  Responsive

[2020-05-23 05:53] manojVivek commented on #88
Hey @AmoDinho, thanks for the appreciation, this helps us in making it a little better everyday. :)

[2020-05-23 05:53] #88 closed

[2020-05-23 05:56] manojVivek commented on #91
Hey @johncrogers, It should be because of a specific way your app handles login workflow.

Would you mind sharing a URL to reproduce it? That will help us figure out what is going wrong.

[2020-05-23 06:04] manojVivek opened #103 "Add option to modify device network settings"
Provide option for the following:
1. Turn network offline.
2. Throttle network speed.
3. Clear network cache.

[2020-05-23 06:05] manojVivek opened #104 "Add toolbar option to clear the cookies and local storage for the devices."

[2020-05-23 06:11] manojVivek commented on #95
Hey @kaushalyap, I get what you are saying. It will be good to have another file uploaded as `ResponsivelyApp-0.1.4.AppImage.sha512` with the plain checksum for the file.

I'm re-opening this issue.

[2020-05-23 10:57] webian commented on #96
Virus detected also downloading with Chrome
![image](https://user-images.githubusercontent.com/462601/82729093-f2f02880-9cf4-11ea-9f0f-71727534570e.png)

[2020-05-23 11:42] manojVivek opened #105 "Screenshot capture throws an error for local html files loaded from `File` -> `Open HTML file`"

[2020-05-23 16:40] DavidConstantine88 opened #106 "Windows Defender alert on Trojan:Win32/Fuery.C!cl on version 0.1.4"
![image](https://user-images.githubusercontent.com/30372827/82735810-2d75b780-9d2d-11ea-9536-fba456be4c71.png)

[2020-05-23 17:18] manojVivek commented on #106
Duplicate of #96.

[2020-05-23 17:18] #106 closed

[2020-05-24 06:51] manojVivek opened #107 "Upgrade electron to latest version"

[2020-05-24 08:07] avimar commented on #96
Also Happened to me today when using chrome on windows 10

Trojan:Win32/Fuery.C!cl

Downloaded the windows 10 latest release

[2020-05-24 11:17] #98 closed

[2020-05-24 11:19] esprush opened #109 "include lighthouse metrics"

[2020-05-24 11:19] #107 closed

[2020-05-24 14:33] speckz commented on #96
I was going to post about how Trojan:Win32/Fuery.C!cl was detected with Windows Defender in ResponsivelyApp-Setup-0.1.4.exe, but looking at https://www.virustotal.com/gui/url/56599bcdd55ef9229083d438fde9978f320a0db755f9a70b04dc3d4b4eb80495/detection, it seems to be clean.

[2020-05-24 15:35] Zerstoren93 commented on #90
Thank's for response)

Also, there is one more cool feature You can add to your app to realise not only devise simulation but cross-browsing as well, may be you have seen it - playwrigth: https://github.com/microsoft/playwright. Check it out, it could be very useful.

[2020-05-25 04:06] breakstring commented on #96
Same issue, please refer to the attached image(but with Chinese UI).

![image](https://user-images.githubusercontent.com/14105911/82777235-201d1200-9e80-11ea-921d-b56c5019b1a5.png)

[2020-05-25 04:39] manojVivek commented on #96
This looks a false positive reported for electron apps built with a specific version of `electron-builder`. We will be upgrading the version in the next release, that should fix it.

[2020-05-25 08:17] jjavierdguezas opened #111 "Add option to proceed to website (unsafe) as Chrome does when ERR_CERT_AUTHORITY_INVALID"
Firstly, great app! thanks!
It would be great, especially when developing a website, that when the error `ERR_CERT_AUTHORITY_INVALID` is received, it can be ignored (optionally) as it can be done in Chrome
![image](https://user-images.githubusercontent.com/13673443/82792600-eb08c380-9e6f-11ea-9634-976fe0ef8d26.png)
![image](https://user-images.githubusercontent.com/13673443/82792919-666a7500-9e70-

[2020-05-25 08:26] jjavierdguezas commented on #111
ups I just found the configuration 🤦🏻‍♂️
closing the issue
![image](https://user-images.githubusercontent.com/13673443/82794041-24dac980-9e72-11ea-8e25-27daaad4511c.png)

[2020-05-25 08:26] #111 closed

[2020-05-25 11:57] duongle26 opened #112 "Add responsive mode to freely resize the viewport"
![image](https://user-images.githubusercontent.com/28813618/82810469-cb49bd80-9eb8-11ea-941b-aa3ed12277e5.png)
In the Chrome dev tool, there is a mode that lets you freely resize your viewport

[2020-05-25 12:26] alexvkcr opened #113 "Windows download through Chrome detects Virus when downloading"
this appears when downloading the last .exe from Releases section

Can you prevent it if this is not a virus?

[2020-05-25 12:49] igorlino commented on #113
Its a duplicate of https://github.com/manojVivek/responsively-app/issues/96

[2020-05-25 13:26] Tiberriver256 commented on #96
If anyone else just wants to try this out like me. 0.1.3 seems to download and run just fine. Thanks for the app guys this is 🔥

[2020-05-25 13:51] speckz commented on #96
Yes, Windows Defender does not report anything for ResponsivelyApp-Setup-0.1.3.exe. Same with https://www.virustotal.com/gui/url/c01cd26b15511c49858a3965f5c6c3b805cf03c19740ab815f63bff5c4517f2c/detection.

[2020-05-25 14:05] #113 closed

[2020-05-25 14:10] #104 closed

[2020-05-25 16:32] kdawg1406 commented on #96
Same here when downloading from the below link; Chrome detected a virus.

https://github.com/manojVivek/responsively-app/releases/download/v0.1.4/ResponsivelyApp-Setup-0.1.4.exe

[2020-05-25 16:44] bay007 opened #115 "Application (.exe) is detected as a Virus."
https://www.virustotal.com/gui/file/3d30c93726eb92a087b9cb7086afadb0d27239e61cb99450344d0ae24c84e591/detection

[2020-05-25 16:56] wrick17 opened #116 "Client Side routing support"
When doing client side navigation, the whole page refreshes for all the devices.

Am I missing anything? Any way to get around this?

[2020-05-25 17:07] Darkensses commented on #115
The issue is already reported on #96

[2020-05-25 17:27] alvaromashiro commented on #96
With Firefox in windows also detected as a virus

[2020-05-25 17:44] #115 closed

[2020-05-25 17:51] manojVivek commented on #96
@Darkensses A possible fix went in with v0.1.5. Can you check if it works for you?

https://github.com/manojVivek/responsively-app/releases

[2020-05-25 18:01] duongle26 commented on #116
I got the same problem.

[2020-05-25 18:07] kdawg1406 commented on #96
@manojVivek I'm seeing this warning, but if I dismiss, it downloads.

![2020-05-25_14-06-43](https://user-images.githubusercontent.com/5623887/82835088-ffa98380-9e90-11ea-854f-2ab1e2646a5e.png)

[2020-05-25 18:08] manojVivek commented on #116
The current URL syncing logic considers this as a URL change and sends it to all other devices to load it.
We will have to think of a way to sync the URLs while supporting client side routing.

[2020-05-25 18:08] kdawg1406 commented on #96
@manojVivek Windows is not happy now.  Can't install.

![2020-05-25_14-08-18](https://user-images.githubusercontent.com/5623887/82835167-38e1f380-9e91-11ea-9173-27545884f531.png)

[2020-05-25 18:13] kdawg1406 commented on #96
@manojVivek bizarre, after downloading again, Windows allowed the installer to run.  The program runs fine now.  Best to you, Karl

[2020-05-25 18:13] manojVivek commented on #96
@kdawg1406 This warning is because the app is not signed with a certificate. But you can proceed after clicking on "More info". This is not related to the thread reported in this issue.

Signing a Windows app needs certificates to be purchased and since that is not affordable at this state, we haven't done that. 🙂

[2020-05-25 18:16] DanWahlin commented on #96
Thanks for the quick update @manojVivek! Such a cool app concept.

[2020-05-25 18:19] kdawg1406 commented on #96
@manojVivek this is the best app!  WOW, great idea, and programming.  Thank you!

[2020-05-25 18:21] duongle26 commented on #94
I can confirm that the new version is automatically updated in the background.

[2020-05-25 18:36] alvaromashiro commented on #96
New version worked in windows. No more problems with windows defender when try to download.

[2020-05-25 18:47] Darkensses commented on #96
Hey @manojVivek after reading all the above comments, I confirmed that windows doesn't recognized it as a threat. I cax execute the app with no problems.

I close the issue. Thanks y'all for the support and comments 🥰

![image](https://user-images.githubusercontent.com/23271049/82837226-0d113e80-9e8e-11ea-81ae-b5a820c33c0c.png)

[2020-05-25 18:47] #96 closed

[2020-05-25 18:52] Darkensses commented on #96
I think you need to put all this info in the README, just a sugerence ✌

[2020-05-25 19:02] avimar opened #117 "Multi-screenshot duplicates info on the largest screen"
I'm not exactly sure what's going wrong, but I think there's an issue with syncing the scroll for full-page screenshots.

Here's with 4 portrait devices: iphone 6/7/8 plus, iphone x, ipad, laptop. Browsing https://www.freedomhot.com

The laptop one has duplicated parts of the screen (probably because it already reached the bottom of the page?)

[Localhost - iPad - 2020-25-5 at 9 55 05 PM](https://

[2020-05-25 20:12] avimar opened #118 "Alt-click not mirrored"
For development mode, I set up that alt-click on a button would fill some data in, for validation to see the next step.
I see that it only works in the screen I clicked in.

I guess it's copying the click, but not any modifiers - alt, meta, ctrl, etc.

[2020-05-25 20:21] dodoVelasquez opened #119 "Responsive test"

[2020-05-25 21:13] #94 closed

[2020-05-25 21:34] duongle26 commented on #116
You can have a button to disable syncing URL. Whoever works with client routing app can manually trigger this mode, and the browser will do the routing for you. This can be a temporary solution until you find an optinal one.

[2020-05-26 05:38] jsiesquen commented on #96
Is a false positive also? what happen friends?

![image](https://user-images.githubusercontent.com/1072258/82864035-34492980-9ee9-11ea-8a37-080d90e7d987.png)

[2020-05-26 06:13] Darkensses commented on #96
@jsiesquen please describe the steps to get this warning window and tell us what antivirus are you using.
Also, see the comments above, it's probably a false-positive

[2020-05-26 07:42] staabm opened #120 "Add "Help -> About" menu"
primary driver: there is no way I can see in which version the app is currently installed ?

possible additional infos in this menu could be
- version of the app
- link to the website
- link to the github repo
- link to the docs
- credits for the author

[2020-05-26 09:59] #119 closed

[2020-05-26 10:40] johndavemanuel opened #121 "CSS Media Query is being ignored"
Great tool, but when I try it the CSS media query is not showing but on "real" browsers it is showing

[code]
Is it related to `orientation: portrait` ?
Is this known issue?

[2020-05-26 12:43] codemile opened #123 "[Virus] Warning do not install this app!"
**Latest release contains a virus, and is triggering alerts on Windows 10.**

![image](https://user-images.githubusercontent.com/50146659/82902025-d0e0eb00-9f2c-11ea-9794-53bb711d05e6.png)

[2020-05-26 13:20] #123 closed

[2020-05-26 13:21] codemile commented on #123
This issue appears to be related to code signing.

[2020-05-26 14:10] manojVivek opened #124 "Add an option in the `Help` menu to list all available shortcuts."
UI for inspiration - https://dribbble.com/shots/2563576-Shortcuts-popup-in-Targetprocess

[2020-05-26 23:38] cococov opened #125 "FHD resolution doesn't work"
When I select a HD resolution, this isn't added (or created) and all the devices are selected automatically.

![image](https://user-images.githubusercontent.com/19384973/82960264-f51de580-9f87-11ea-8fc5-7389fe809382.png)

![image](https://user-images.githubusercontent.com/19384973/82960385-58a81300-9f88-11ea-809a-0cea4d507461.png)

[2020-05-27 06:41] alvin96 commented on #125
I am facing the same problem too

[2020-05-27 09:47] #125 closed

[2020-05-27 09:49] manojVivek commented on #125
@cococov @alvin96 The fix will go live in v0.1.6 release.

[2020-05-27 09:53] #99 closed

[2020-05-27 12:59] esprush commented on #79
There is no straight forward fix for this as of now. Will keep this issue open and will take this up if we have more users encountering this.

[2020-05-27 21:33] xanxuz opened #128 "Add Windows installation using Chocolatey"
Hi, you could make a choco package using Chocolatey to improve Windows installation and upgrading process.

https://chocolatey.org/docs/create-packages

[2020-05-28 12:36] lorettalorrain opened #129 "Add new device does not work"
When I want to add a new device, it is not added, plus it moves all inactive devices to the active devices column.
I'm working on macOs

[2020-05-28 12:41] CalamityAdam opened #130 "Adding a new device moves all devices from Inactive Devices column to Active Devices column, does not add new device"
### Description
When adding a new device, after filling out the device info and clicking "Add", all devices from the `Inactive Devices` column are immediately moved to `Active Devices` column. The new device is not actually created. Furthermore, when I drag-and-drop the devices _back_ to the `Inactive Devices` column, the device card disappears. The behavior from the home screen accurately reflect

[2020-05-28 12:52] esprush commented on #130
Duplicate of #125

[2020-05-28 12:55] esprush commented on #130
@CalamityAdam thanks for reporting. this fix will go live in v0.1.6

[2020-05-28 13:03] #105 closed

[2020-05-28 13:04] #130 closed

[2020-05-28 13:05] manojVivek commented on #129
@lorettalorrain This already fixed and it will go live in next release. v0.1.6.

Duplicate of #125.

[2020-05-28 13:05] #129 closed

[2020-05-28 14:41] dlewand691 opened #132 "Adding new device on Mac app doesn't work"
I'm trying to add a new device but it doesn't get added. Also, if "Activate Preview" is checked, all the inactive devices are activated and I have to drag them all out to deactivate them.

[2020-05-28 16:54] drbyte commented on #90
Adding `CMD+L` for editing the URL would be useful too.

[2020-05-28 21:05] SlmnAntnll commented on #132
I had this issue just now as well. I was trying to add a new device to with the dimensions into the device name (e.g. iPhone 5/SE 320x568) so I know at a quick glance the size of the device.

[2020-05-28 22:17] xdebbie commented on #48
Oh yes please make it happen!

[2020-05-28 22:21] sprabowo commented on #132
Duplicate [https://github.com/manojVivek/responsively-app/issues/125](https://github.com/manojVivek/responsively-app/issues/125)

See updated here [https://github.com/manojVivek/responsively-app/issues/125#issuecomment-634552989](https://github.com/manojVivek/responsively-app/issues/125#issuecomment-634552989)

[2020-05-29 04:41] DamnedScholar commented on #120
The diversity of webapps is such that getting one piece of information (version) across a majority of users would require the ability to read `package.json`, `pyproject.toml`, PHP config files for major platforms (Wordpress, Laravel, CodeIgniter, MediaWiki), Java manifests, git tags, and maybe other things. Since there is so much that has to be collected, I don't think it makes sense to hardcode w

[2020-05-29 05:53] staabm commented on #120
Thanks for getting back to me.

Hmm .. my primary intension was just to have a „about dialog“ in the menu - like 95% of desktop applications have.. this dialog would show me the version of the responsive-app I have installed, so I can e.g. check against the websites whether updates are available or I can show the versionnwhen reporting problems.

Not sure how this relates to all the points you men

[2020-05-29 15:07] manojVivek opened #140 "Device manager Improvements"
1. Right now, new devices cannot be added to the in-active list, fix the bug.
2. Refactor the device schema to support additional functionalities.
3. Add search functionality to filter the devices in the in-active list.
4. Add an option to delete the device added by the user.

[2020-05-29 15:12] manojVivek opened #141 "Add the screen dimension near the device name in the preview screen"

[2020-05-29 17:13] manojVivek commented on #120
@DamnedScholar I agree, we should show as much info as possible. Though the vision that you shared can be more like a long-term goal. I see the PR by @jjavierdguezas is a good first step in that direction. 🙂

[2020-05-30 04:43] TrueXakeP opened #145 "Changing a web page hash causes the browser to reload the page."
It seems that changing the web page hash causes the browser to reload the page. The problem is that the completely one-page web application that I am currently working on is not compatible with this. It is fully loaded when you open it and then relies on the hash change. So it reboots from scratch every time you navigate and loses its state.

[2020-05-30 05:53] manojVivek commented on #145
Duplicate of #100

The fix will go in with v0.1.6 this weekend.

[2020-05-30 05:53] #145 closed

[2020-05-30 06:17] TrueXakeP commented on #145
Oh, sorry for a duplicate.

[2020-05-30 06:57] #141 closed

[2020-05-30 17:38] romanakash commented on #124
![Screenshot from 2020-05-30 18-33-04](https://user-images.githubusercontent.com/40427975/83335365-47227c00-a2a4-11ea-80e9-dc41d149ab2a.png)

So I got all the shortcuts programmatically buildDefaultTemplate in menu.js and displayed them in a message dialog box. Doesn't look that great and I did run into some problems aligning them properly. But is this kinda what is wanted?

[2020-05-30 18:14] romanakash commented on #124
#147 Is the message dialog box fine or should I use a new browser window?

[2020-05-31 06:12] #100 closed

[2020-05-31 06:12] #78 closed

[2020-05-31 06:27] #140 closed

[2020-05-31 07:00] kvnam commented on #112
@manojVivek - I'd like to give this a shot. Can you assign this to me? Thanks!

[2020-05-31 13:19] romanakash commented on #124
Okay pushed a new commit which opens a frameless window when help->shortcuts is pressed.

![Screenshot from 2020-05-31 14-07-43](https://user-images.githubusercontent.com/40427975/83353317-a7b7c480-a349-11ea-834e-06b4b6c97a0d.png)

[2020-05-31 14:16] romanakash commented on #124
Added a close button at the end

![Screenshot from 2020-05-31 15-15-09](https://user-images.githubusercontent.com/40427975/83354597-9bd00080-a351-11ea-84bb-2d830b30b3df.png)

[2020-05-31 14:43] manojVivek commented on #124
Thank you so much for getting this implemented @romanakash.
This will go live as part of v0.1.6 tonight.

[2020-05-31 16:01] manojVivek commented on #120
This one is going live in v0.1.6 tonight.

[2020-05-31 16:01] #120 closed

[2020-05-31 16:02] #124 closed

[2020-05-31 19:46] duongle26 opened #150 "v0.1.6 crashs on startup"
![image](https://user-images.githubusercontent.com/28813618/83361313-1cbee480-a3b2-11ea-8d86-332e526da5a8.png)
[code]

[2020-06-01 02:23] manojVivek commented on #150
@duongle26 Can you let me know the OS in which this is happening?

[2020-06-01 04:41] manojVivek commented on #150
This is because of the schema change that went in with the v0.1.6. It was affecting the users who had custom devices added previously.

@duongle26  I have updated v.0.1.6 with a fix for handling the crash scenario. Can you please check with the latest binary here - https://github.com/manojVivek/responsively-app/releases

[2020-06-01 05:34] duongle26 commented on #150
Thanks for your update. It's working fine now.

[2020-06-01 05:34] #150 closed

[2020-06-01 09:42] jjavierdguezas opened #151 "Avoid Windows SmartScreen"
I don't really know much about this topic, I was reading a little and they talk about doing a code signing
The issue is that this can scare new users or cause problems when installing on work computers.
![image](https://user-images.githubusercontent.com/13673443/83396140-cb3b4780-a3fb-11ea-838a-d16ce1f6049f.png)

Microsoft Defender SmartScreen prevented an unrecognized app from starting. Running t

[2020-06-01 10:36] jjavierdguezas opened #152 "When multiple screens, hotkeys dialog does not appears where Responsively App is"
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

**To Reproduce**
When there are multiple screens and Responsively App main window is in screen 2, if you open the hotkeys dialog it appears in screen 1.

**Expected Behavior**
The hotkeys dialog box appears in front of the main window, regardless of what screen it is.

*PS: the hotkeys d

[2020-06-01 10:37] jjavierdguezas commented on #152
cc: @romanakash
related to #90

[2020-06-01 11:55] manojVivek commented on #152
A related issue on Mac OSX, the window hides on blur but is not really closing.
Steps to reproduce:
1. `Help -> Keyboard Shortcuts` and blur the window. The shortcut window will now disappear.
2. `Help -> About`, now in addition to the About window, the Shortcuts window is appearing as well. This confirms the shortcut window was not really closed when it disappeared on blur.

This doesn't happen i

[2020-06-01 11:57] manojVivek commented on #151
Yes @jjavierdguezas you are right. This is because the windows setup file is not code-signed as of yet. So the Microsoft Defender will be showing this warning.

We will keep this issue open until we do that.

[2020-06-01 11:59] manojVivek opened #153 "Add a status bar with key info and useful links."

[2020-06-01 12:00] manojVivek commented on #132
Closing as this issue as the fix had gone live with v0.1.6 yesterday.

cc: @dlewand691 @SlmnAntnll

[2020-06-01 12:00] #132 closed

[2020-06-01 12:00] romanakash commented on #152
Ok I'll work on this later today

[2020-06-01 15:19] manojVivek commented on #118
@avimar Right now the app doesn't mirror any keyboard events, we will have to see the feasibility and have to do it based on the need.

[2020-06-01 15:26] romanakash commented on #152
So I made some changes which should theoretically fix the issues, but I don't have the necessary devices to test out the changes. Can you verify if #154 fixes the problem?

[2020-06-01 16:53] jjavierdguezas opened #155 "Browser extension opens the app but always in https://www.google.com/"
**ResponsivelyApp**

Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

**Google Chrome**

It opens the app but doesn't take the URL

![responsively](https://user-images.githubusercontent.com/13673443/83431925-681bd600-a438-11ea-87ec-0be79a5917e5.gif)

**Firefox**

It says that I don't have the app installed (I do have it) and it still o

[2020-06-01 17:31] jjavierdguezas commented on #152
tested on Windows_NT x64 10.0.18362 and it worked like a charm

[2020-06-01 18:08] gilesbain opened #156 "React-responsive media query not working on Responsively"
Hi there,

I have a site that is displaying different grid layouts dependent on the results of a react-responsive media query e.g

`  const isOnDesktop = useMediaQuery({ query: "(min-device-width: 1025px)" }); `

In chrome, edge, firefox this works great however when I use responsively I only am able to see the desktop layout as this is always returning true. Seems like it could be a compatibility

[2020-06-01 18:18] gilesbain commented on #89
Problem only occurs when 2 or more devices are selected.

[2020-06-01 19:54] jjavierdguezas commented on #156
maybe this is a duplicate of #121 or at least there are related

[2020-06-02 04:20] Nothing-Works commented on #155
@jjavierdguezas I think here there are two issues,

1. for chrome the current URL is not been taking into account.
2. for firefox the extension detection does not work correctly.

[2020-06-02 10:07] manojVivek commented on #156
@gilesbain The problem here is because you used `min-device-width` instead of `min-width`. Is there a specific reason why you are using `min-device-width`?

Your app will work fine, universally, if you have used `min-width` as a media query.

You can also check this answer, it is a general best practice to use `min-width` instead of `min-device-width` unless you have a special reason for it - http

[2020-06-02 10:12] manojVivek commented on #121
@johndavemanuel @gilesbain The problem here is because you used `device-height` and `device-width` media queries instead of just `height` and `width` queries.
Is there a specific reason why you are using `device-width` and `device-height`?

Your app will work fine, universally, if you have used `width` and `height` as a media query.

`width` and `height` here refer to the browser viewport's height

[2020-06-02 10:15] manojVivek commented on #155
@jjavierdguezas @Nothing-Works I'll check this out. Thanks for reporting.

[2020-06-02 13:18] johndavemanuel commented on #121
@manojVivek thanks for the input. I don't usually use device-width and device-height, I just test a site that was passed to me. I just thought it is a bug since it was not rendered on the app.

[2020-06-02 14:30] manojVivek commented on #121
@johndavemanuel  That is great. I'm going to close this issue now, please feel free to open an new one if you face any problems in the future.

[2020-06-02 14:30] #121 closed

[2020-06-02 14:33] manojVivek commented on #152
Thanks for the fix @romanakash and verifying it @jjavierdguezas. I have Merged the PR.

[2020-06-02 16:31] manojVivek opened #157 "Fix the dangling devtools window when the device inspector is loaded and dock it to the main window"

[2020-06-03 07:59] Randagio13 opened #158 "Browser history"
Hi guys!

Thanks for this fantastic app.

I have a problem. I'm using the browser history (in this case with NextJS), and the browser doesn't change the right path. Only when I fire the event twice from the application button.

Thx!

[2020-06-03 10:03] johndavemanuel opened #159 "All inactive devices become active after adding a new device"
I am using Win 10 Pro, after I add new device and after saving it, all the inactive devices become active, then when I drag the active devices to inactive devices, they just gone after couple of seconds.

I replicate the issue twice so I guess something is wrong

[2020-06-03 10:47] manojVivek commented on #159
@johndavemanuel Can you please check the version you are using? The fix for this went in last release v0.1.6.

Duplicate of #125

[2020-06-03 10:49] johndavemanuel commented on #159
![image](https://user-images.githubusercontent.com/8970365/83628353-ec9e5e00-a5ca-11ea-84a6-0e55e60674a4.png)

[2020-06-03 10:49] johndavemanuel commented on #159
0.1.6

[2020-06-03 12:34] Nothing-Works commented on #155
@manojVivek yes, please do so, I will try my best.

[2020-06-03 15:26] AARYAN-MAHENDRA opened #160 "Hello guys"
i just want to contribute to your project.ask for any help if needed.

[2020-06-03 20:55] atilacamurca commented on #80
Are there any configuration to make this work? I'm still not getting synchronized text input.

I'm using the Linux AppImage version 0.1.6

[2020-06-04 08:39] manojVivek commented on #158
@Randagio13 Is there a URL or a sample app you can share with us to understand the behavior more clearly?

[2020-06-04 08:42] manojVivek commented on #160
Hey @AARYAN-MAHENDRA, Thanks for asking. You can always check out the [issues](https://github.com/manojVivek/responsively-app/issues) if you would like to contribute.

Thanks again. 🙂

[2020-06-04 08:42] #160 closed

[2020-06-04 08:45] manojVivek commented on #159
@johndavemanuel I just verified in v0.1.6 that this is not the behavior. Can you please share with us the exact steps that can reproduce this?

[2020-06-04 09:47] jjavierdguezas commented on #159
I can't reproduce it either with

Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

[2020-06-04 12:19] johndavemanuel commented on #159
@manojVivek @jjavierdguezas I will record my screen and share to you guys

[2020-06-04 16:18] Grafikart commented on #37
I start working on it (using a left drawer atm)

[2020-06-04 16:47] manojVivek commented on #37
Thanks and exciting to know that! I'm assigning this to you. 🎉

@Grafikart One quick design suggestion. Can you please implement the bookmarks to be shown in the space below the address bar?

As that is how most browsers do and I think, we should keep it that way. So that, it will be more intuitive for the users than adding it to the sidebar.

What do you think?

[2020-06-04 16:52] Grafikart commented on #37
This is my current idea ![](https://imgur.com/SUIDPxf.png)

[2020-06-04 17:21] manojVivek commented on #37
@Grafikart We don't have to exactly mirror the chrome user experience. But only the placement if we could do it below the address bar it would be great. The code change should be almost similar, instead of adding it to the sidebar, you will have to add it to the [NavigationControls](https://github.com/manojVivek/responsively-app/blob/master/desktop-app/app/components/NavigationControls/index.js) c

[2020-06-04 17:33] Grafikart commented on #37
Ok do you think we should ask the user for a title or use the domain name for the bookmark ?

[2020-06-04 17:48] manojVivek commented on #37
To start with I would suggest, we can just take the page title from <title
/> tag and use it.
If the title is missing we can fallback to the domain name.

On Thu, 4 Jun 2020 at 11:03 PM, Jonathan <notifications@github.com> wrote:

[2020-06-05 07:10] dalerka opened #163 "[Linux] - Cannot launch on MX linux 18 (Debian)"
How can I fix this?
Following instructions [here](https://mxlinux.org/wiki/applications/appimages/), but the program doesn't start (nothing happens) and same with clicking on the appImage file.

#### System info:
  Host: mxs Kernel: 4.15.0-1-amd64 x86_64 bits: 64 compiler: gcc v: 6.3.0
  Desktop: Xfce 4.12.3 tk: Gtk 2.24.31
  Distro: MX-18.3_x64 Continuum March 14, 2018

Starting from the Terminal

[2020-06-05 07:48] jjavierdguezas commented on #163
Maybe this is related to this https://github.com/electron/electron/issues/17972

[2020-06-05 08:04] jjavierdguezas commented on #163
see https://github.com/electron-userland/electron-builder/issues/4495

[2020-06-05 13:29] mattkaye opened #164 "App automatically navigates to iframe URL if lazy loaded"
Here's a URL to test it:
[https://hallettspoint.com](https://hallettspoint.com)

Scroll down and an iframe will spawn in the DOM (lazy loaded)

**Expected behavior:**
The iframe would remain embedded on the parent page.

**Actual behavior:**
Once the iframe source URL loads, it loads in the URL location bar, effectively leaving the page.

I've confirmed that this only seems to happen if an iframe

[2020-06-05 17:35] Randagio13 commented on #158
@manojVivek yep! here's https://tackpay-webapp.now.sh/
When I do `Registrati > Tipper` and I try to go back with the back icon on responsively doesn't work instead, it works on Chrome.

[2020-06-06 05:26] manojVivek opened #165 "Add options to emulate OS dark/light mode settings"
Webpages can styling depending on the user's operating system's dark and light mode appearance settings.

Add an option to set the display mode for the rendered devices.

[2020-06-06 06:30] dalerka commented on #163
@jjavierdguezas Thanks!
I looked into those issues, but I couldn't locate the "chrome-sandbox" in order to apply the `chown + chmode` commands.
The location suggested in the error message is temporary.
`You need to make sure that /var/tmp/.mount_Responn5a9re/chrome-sandbox`

So, I'm not sure what to do now. Also, how safe would it be to run such app as `root` and with `--no-sandbox`?

[2020-06-06 07:39] jjavierdguezas commented on #163
@dalerka sorry I'm not a linux expert but what I understood from those links (and others) is that this is an `electron`/`electron-builder` issue, it is not specific to `ResponsivelyApp`. The option to apply `chown + chmode` is when the issue occurs with some lib in development (the `node_modules` is right there), not when the final package has been created. The solution could be the patching one m

[2020-06-07 05:17] AARYAN-MAHENDRA commented on #165
can I work on this issue.Actually its my first time so please guide me through it

[2020-06-07 11:04] romanakash commented on #90
Can I work on this?

[2020-06-07 14:08] manojVivek commented on #90
@romanakash I think @jjavierdguezas is already working on it. You can take a look at #31 if you can.

Thank you much for checking about it. 🙂

[2020-06-07 17:05] trivikr opened #169 "Add open graph meta tags for responsively.app website"
**Is your feature request related to a problem? Please describe.**
When the link to website responsively.app is shared on Twitter, it's not auto-populated with an image.

Example tweet https://twitter.com/trivikram/status/1269673076322521088
<details>
<summary>Screenshot</summary>

![Screenshot from 2020-06-07 10-00-14](https://user-images.githubusercontent.com/16024985/83974963-d253d100-a8a5-11ea

[2020-06-07 17:51] romanakash commented on #31
Apparently webview does not support device emulation https://github.com/electron/electron/issues/5488.

[2020-06-07 23:29] Nothing-Works commented on #155
@jjavierdguezas `Version 77.0.1 (64-bit)` **Firefox**, it opens the app for me. I have tried both locally load the package and download from addons store.

[2020-06-08 06:36] dalerka commented on #163
@jjavierdguezas no worries, and thank you for taking time to look into the issue!
I can wait for the next release :)

[2020-06-08 07:56] manojVivek commented on #169
@trivikr Thank you so much for noticing and reporting it. 🙌
Just pushed a commit with the relevant tags.

[2020-06-08 08:17] trivikr commented on #169
Verified that Twitter is now showing image for the link

Tweet: https://twitter.com/trivikram/status/1269673076322521088?s=19

[2020-06-08 11:55] manojVivek commented on #155
@Nothing-Works Are you checking it on Windows?

[2020-06-08 13:10] jjavierdguezas commented on #90
yes @romanakash  I'm working on this, please @manojVivek  assign me this issue

[2020-06-08 15:13] RomainFrancony commented on #165
I found a way to do it using Electron [nativeTheme API](https://www.electronjs.org/docs/api/native-theme#nativethemethemesource).

Here is a [video](https://drive.google.com/file/d/1rPlqVG2QmSqRXWHyAFZeHDVzw9ce1cPc/view?usp=sharing) of the current implementation.

I implemented 3 options:
- `system`: uses the operating system preference
- `light`: equivalent of `prefers-color-scheme: light`
- `dar

[2020-06-08 16:52] AARYAN-MAHENDRA commented on #165
Its totally okay.I just started working on it today.

[2020-06-08 17:44] manojVivek opened #170 "Fix the Addressbar style to handle really lengthy URLs better like other browsers"
When a lengthy URL is previewed in the device the floating icons on the right side of the address bar look messed up.

<img width="1639" alt="Screenshot 2020-06-08 at 11 08 25 PM" src="https://user-images.githubusercontent.com/1283424/84062738-72f8dc80-a9dd-11ea-9f34-592cbaa36b25.png">

It should be handle like how Chrome handles it:

<img width="1004" alt="Screenshot 2020-06-08 at 11 13 41 PM" sr

[2020-06-08 17:59] manojVivek commented on #165
@RomainFrancony You nailed it there!  🚀

I think it is ok that the app itself switches to light/dark mode. 👍

**Quick suggestion regarding the icon behavior**:
To keep it simple, we can just keep the toolbar icon to switch between `dark` and `light` mode and remove the `system` option.
From a user perspective, when developing a page we would either want to test it in `light` or `dark` mode. Also `

[2020-06-08 18:00] manojVivek commented on #170
@AARYAN-MAHENDRA We have a new one #170 if you would like to take it. 🙂

[2020-06-08 18:17] manojVivek commented on #164
Verified this is a bug, this is because of https://github.com/electron/electron/issues/6808.

We need to check for `isMainFrame` field and ignore the `did-navigate-in-page`  event.

[2020-06-08 18:23] mattkaye commented on #164
Awesome. This app looks amazing and I can't wait to start using it. I do work on a lot of sites with iframes so I hope this addressed in the queue soon. Great work guys!

[2020-06-08 18:54] RomainFrancony commented on #165
@manojVivek that sounds good to me 👍

I will do the change and make a pull request in the next ~24h

[2020-06-08 20:39] AARYAN-MAHENDRA commented on #170
Sure.Thanks a lot

[2020-06-08 21:18] Nothing-Works commented on #155
@manojVivek I did on both Windows and Mac, however, the [open-url](https://www.electronjs.org/docs/api/app#event-open-url-macos) is `macos` only feature so that's why the `url` is not been taken into account.

[2020-06-09 03:39] willian12345 opened #172 "viewport not working"
Inspect web content  scale to 0.5 or other values
`<meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=.5, minimum-scale=.5">`

but it's not working on ResponsivelyApp

[2020-06-09 06:58] AARYAN-MAHENDRA commented on #170
![error](https://user-images.githubusercontent.com/64866670/84115925-7d9e8a80-aa4c-11ea-8fd5-3144ef2c131b.jpeg)
Can someone tell me why is error message is popping up when i am trying to start the app.
Thanks for Help

[2020-06-09 10:25] Nothing-Works opened #175 "update indicator/ check for update"
![1](https://user-images.githubusercontent.com/18606648/84136814-ebc06d00-aa9f-11ea-9f1c-c294300434e3.png)
I think we should add for checking new versions just like vscode.

And when it's downloading the new version in the background, we should also show something like vsvode as well.

[2020-06-09 10:56] #165 closed

[2020-06-09 11:03] jjavierdguezas commented on #90
@manojVivek  since #171  is merged I think this issue can be closed

[2020-06-09 11:06] jjavierdguezas commented on #175
@manojVivek  if you are ok with it, I can work on this

[2020-06-09 11:08] manojVivek commented on #175
Of course @jjavierdguezas. Assigning it to you! :)

[2020-06-09 11:45] AARYAN-MAHENDRA commented on #170
![modified](https://user-images.githubusercontent.com/64866670/84143756-be11fe80-aa74-11ea-8944-8252f7aa4ad5.png)
Is this okay?

[2020-06-09 11:46] AARYAN-MAHENDRA commented on #170
shall i submit a PR ?

[2020-06-09 13:49] manojVivek commented on #170
@AARYAN-MAHENDRA A quick suggestion, can you add a `text-overflow: ellipsis;` css property. So that the `...` gets added at the end to indicate the truncation?

Ref: https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow

[2020-06-09 13:50] AARYAN-MAHENDRA commented on #170
ok sure

[2020-06-09 15:14] AARYAN-MAHENDRA commented on #170
Warning: Setting pre-commit script in package.json > scripts will be deprecated
Please move it to husky.hooks in package.json, a .huskyrc file, or a husky.config.js file
Or run ./node_modules/.bin/husky-upgrade for automatic update

See https://github.com/typicode/husky for usage

husky > pre-commit (node v12.16.3)
'#lint-staged' is not recognized as an internal or external command,
operable progr

[2020-06-09 16:06] jjavierdguezas commented on #170
@AARYAN-MAHENDRA I reported this to @manojVivek and he will fix it this soon, as a workaround remove the `#` in the `"precommit": "#lint-staged",` script in `package.json` (you may need to install [lint-staged](https://www.npmjs.com/package/lint-staged) globally in your machine) or just pass `--no-verify` to all commands you use

[2020-06-09 16:07] AARYAN-MAHENDRA commented on #170
ok i just did that.Thanks

[2020-06-09 18:14] AARYAN-MAHENDRA commented on #170
#177

[2020-06-09 18:28] AARYAN-MAHENDRA commented on #170
linked a pull request to close this issue.
address bar modified #177

[2020-06-10 02:10] sir-kain commented on #89
This problem occurs because the devices are not configured to allow sites to **read / write cookies**

For the browsers, they often allowed it by default.

![image](https://user-images.githubusercontent.com/8977909/84219222-8bd9be80-aabf-11ea-9b3b-0cd1d70df14e.png)
Example from **Chrome** settings (chrome://settings/content/cookies)

[2020-06-10 02:47] manojVivek commented on #90
@jjavierdguezas Thanks, closing it. This will go live tonight. 👍

[2020-06-10 02:47] #90 closed

[2020-06-10 02:48] manojVivek commented on #170
@AARYAN-MAHENDRA Thank you for the fix, this will go live tonight! 👍

[2020-06-10 02:48] #170 closed

[2020-06-10 03:12] #164 closed

[2020-06-10 03:13] manojVivek commented on #164
@RomainFrancony Thank you so much!

@mattkaye  This will go live tonight!

[2020-06-10 03:20] #155 closed

[2020-06-10 03:25] manojVivek commented on #152
This will go live tonight! 🎉

[2020-06-10 03:25] #152 closed

[2020-06-10 04:54] sprabowo opened #182 "Refactor: Individual Layout"
![image](https://user-images.githubusercontent.com/11748183/84228393-1d255100-ab11-11ea-9317-3d9c0ec927c2.png)

there's some error in development mode

[2020-06-10 11:33] Nothing-Works opened #184 "UnhandledPromiseRejectionWarning: Error: Attempted to register a second handler for 'get-all-shortcuts'"
This is only happening on `macOS` as far as I know.

# How to reproduce.

1. Use the current `master` branch code, `cd desktop-app` and `npm run dev`.

2. **Close the app** by clicking the red x.
<img width="80" alt="Screen Shot 2020-06-10 at 23 20 07" src="https://user-images.githubusercontent.com/18606648/84262191-45dd3300-ab71-11ea-8ffc-6463898435bd.png">

3. And then open the app by clicking t

[2020-06-10 11:51] jjavierdguezas commented on #184
@Nothing-Works  right now we are not using that channel for anything so we can get rid of it, or just call `ipcMain.removeHandler(GET_ALL_CHANNEL)` before [this line](https://github.com/manojVivek/responsively-app/blob/5598529cfb06ac71f719fd97ab4b2c5ba1d9cd33/desktop-app/app/shortcut-manager/main-shortcut-manager.js#L52) in [main-shortcut-manager.js](https://github.com/manojVivek/responsively-app/

[2020-06-11 01:34] #182 closed

[2020-06-11 09:06] manojVivek commented on #31
@romanakash I think it is possible by sending an `Emulation` command to the chromium debugger.

Can you please check this out - https://github.com/AglaiaWang/electron-quick-start/blob/master/main.js#L51 ?

[2020-06-11 11:15] romanakash commented on #31
I tried that out but there is a currently unresolved issue with electron which sets the parent browser window to touch mode as well. https://github.com/electron/electron/issues/18438
So the whole app will have a round touch cursor instead of just the mobile device. Is this the desired behavior?

[2020-06-11 12:35] manojVivek commented on #31
@romanakash Ah, enabling it for the whole app would make it look terrible. But I have an idea to work around this bug, let me know what do you think about the following:

1. Let's have a button which the user can click to enable/disable the touch events.
2. When the user enables the touch events, we will not immediately invoke the emulation command. We will just set a state variable to capture the

[2020-06-11 16:11] jjavierdguezas commented on #48
@manojVivek Do you have any particular idea for this feature? How do you imagine the gallery would look? maybe I can help with this

[2020-06-11 20:19] romanakash commented on #31
Ok, that sounds good. I'll work on it

[2020-06-12 02:53] tsengkasing opened #186 "[Feature] Need Proxy Support"
Developers need to use proxy to switch to different environments.
It will be appreciated to set a proxy in user preference.
It will be better to have this feature like the extension "ProxyOmega" in Chrome.

[2020-06-12 04:53] manojVivek commented on #31
Great, @romanakash  you can use this `svg` for the icon: https://www.dropbox.com/s/jhdffhwyfoksdsp/touch-icon.svg?dl=1

[2020-06-12 07:54] jjavierdguezas commented on #186
@manojVivek  maybe [this](https://www.electronjs.org/docs/api/session#sessetproxyconfig) could be util

[2020-06-12 07:59] manojVivek commented on #48
@jjavierdguezas I was thinking something like the following on the left-hand sidebar for screenshots:

![screenhots](https://user-images.githubusercontent.com/1283424/84479394-80011e80-acb0-11ea-9449-55b94945972d.png)

But not sure how effective/useful it will be.
Maybe we should wait until this gets more votes and discussions?

[2020-06-12 08:02] manojVivek commented on #186
Yes, this will be an essential feature to be added. Maybe we should have as an option to the user-preferences pane to configure it?

[2020-06-12 08:25] jjavierdguezas commented on #48
ok @manojVivek , we should wait then...

[2020-06-12 08:36] jjavierdguezas commented on #186
As a Cuban developer that for many years had to browse and work through a proxy, I would be more than pleased to try to add this feature

[2020-06-12 09:09] manojVivek commented on #186
@jjavierdguezas You go it, assigning to you. Thank you so much 😀

[2020-06-12 09:18] manojVivek commented on #116
@pratyushok Thank you for pointing it out, it is changed now.

[2020-06-12 11:40] AARYAN-MAHENDRA opened #187 "Autocomplete URL feature"
Maybe we could add an autocomplete url feature.So the user just has to type the keyword lile-**(google,yahoo,bing)** and its gets auto completed to **(www.website.com)**  .Its not a major feature or something but I think it would be better to make it as easy as possible for user.
If you agree I would like to work on this issue.

[2020-06-12 12:20] sprabowo commented on #156
Just additional information about device width or device height. Deprecated media queries https://polypane.app/blog/the-complete-guide-to-css-media-queries/#deprecated-media-queries

[2020-06-12 12:26] paulo-correia opened #188 "Install error on Ubuntu 18.0.4 LTS"
Hi,

I'm trying install but get the follow error:
yarn package-linux
yarn run v1.22.4
$ yarn build && electron-builder build --linux
$ concurrently "yarn build-main" "yarn build-renderer"
/bin/sh: 1: concurrently: not found
error Command failed with exit code 127.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
error Command failed with exit code 127.
info Visi

[2020-06-12 13:03] manojVivek commented on #156
Closing as wont-fix as this is the intended behavior for the used media-query.

[2020-06-12 13:03] #156 closed

[2020-06-12 13:05] manojVivek commented on #188
@paulo-correia It looks like the node dependencies are not installed correctly, did you run `yarn` command to install the dependencies?

If not please run it as the first command before building the app.

[2020-06-12 13:09] manojVivek commented on #187
@AARYAN-MAHENDRA I don't think this will be needed as users are not going to use it like a regular browser to visit sites. Also when not done right it will be annoying. Let's not do this at this point in time, maybe in the future.

I'm closing this for now.
Thanks for the suggestion though. 👍

[2020-06-12 13:09] #187 closed

[2020-06-12 13:10] #175 closed

[2020-06-13 07:02] Kidcredo opened #189 "[Feature] Add the File menu directly to the title bar"
I really love this project and I have been using it for my project for quite some time now.

![image](https://user-images.githubusercontent.com/15522605/84562269-bd15f100-ad42-11ea-9526-c20d4707ead1.png)

I think it would be a good idea to add the file menu directly into the status bar on Windows and Linux as it would help optimize the screen space available and it would amazing for devices with a

[2020-06-13 07:25] Kidcredo commented on #189
Maybe we can use this library to achieve it.
https://www.npmjs.com/package/custom-electron-titlebar

[2020-06-13 13:07] manojVivek commented on #189
@Kidcredo  That is a really great idea to increase the usable window area. Thanks for the suggestion.

[2020-06-13 13:23] manojVivek commented on #159
Closing due to inactivity.

[2020-06-13 13:23] #159 closed

[2020-06-14 10:20] johndavemanuel commented on #159
Weird. I cannot replicate it. But I am sure it happens twice.

[2020-06-14 17:58] romanakash commented on #31
Okay, I ran into some issues with this. I was able to enable the touch circle on mouse enter but the mouse leave listener doesn't fire anymore after the cursor has changed into a touch circle. So there wasn't any way of disabling the touch circle without explicitly pressing the toggle button again.

This lead to some confusion from a ux perspective as toggling the touch circle on one web view is j

[2020-06-15 16:16] staabm commented on #109
in the same spirit: webvitals might also be interessting https://web.dev/vitals/

[2020-06-15 17:07] AARYAN-MAHENDRA commented on #189
Can i work on this issue.

[2020-06-15 17:54] manojVivek commented on #189
Yes please @AARYAN-MAHENDRA.

[2020-06-15 19:08] AARYAN-MAHENDRA commented on #189
Thanks.

[2020-06-16 07:48] Kidcredo opened #193 "🐛 Scroll sync does not work when dragging the scrollbar"
I am using Responsively 0.2.0 on a Windows 10 and when I scroll using the scrollbar within the device the scroll sync function does not seem to be working.
![ky7XpmvqG1](https://user-images.githubusercontent.com/15522605/84746518-96a3c000-afa5-11ea-96c5-1437a667be89.gif)

[2020-06-16 16:53] Kidcredo opened #194 "Scrollbars do not appear consistent with the UI"
The scrollbar on Windows doesn't appear consistent with the overall user interface of the app.
![image](https://user-images.githubusercontent.com/15522605/84803420-99db9200-b01f-11ea-8c6e-2f2e2b614f5d.png)

I am already working on a fix for this but i am unable to target the scrollbar within the device containers which are in a WebView which I am unable to fix at the moment.

[2020-06-16 21:31] jonathanurias96 commented on #193
I would like to work on this issue

[2020-06-17 02:28] #157 closed

[2020-06-17 08:32] Grafikart opened #197 "Reopen last opened address"
I wonder if we could reopen Responsively with the last opened window (I can do the PR myself if needed).
We would record the last address in the settings and reopen it

[2020-06-17 13:06] manojVivek opened #198 "Add an option to hide the status bar"
Add a checkbox menu item `View` menu -> `Show Statusbar` to control whether the status bar should be shown/hidden.

[2020-06-17 13:14] manojVivek opened #199 "Add `App Updater` status to the status bar"
Show the status of the `app-updater` and notify the user when there is a new update available.
Refer to the above comment for more details.

[2020-06-17 13:21] #153 closed

[2020-06-17 13:53] jjavierdguezas commented on #199
Great @manojVivek  you can assign this to me

[2020-06-17 14:10] falecci commented on #198
I can work on this. I was thinking of creating a container for `<StatusBar />`, and having a reducer for app config.

[2020-06-17 15:21] manojVivek commented on #198
That's great @falecci, assigning this to you.

[2020-06-17 16:12] manojVivek commented on #193
@jonathanurias96 You need to figure out why the scrollbar drag is not generating the scroll event and how it is different from the normal scroll that it got missed from the sync events.

[2020-06-17 17:13] Kidcredo commented on #194
Just need to figure out how to load the same CSS that was merged recently to load every time the WebView for device containers is updated.

[2020-06-17 21:53] jonathanurias96 commented on #193
Got it! I will work on it.

[2020-06-18 02:37] manojVivek opened #202 "Replace dom-inspector with Chrome DevTools Protocol way of enabling elements inspector"
The current implementation of the inspector(using `dom-inspector`) has some issues. Sometimes the click to inspect an element actually clicks the element, a better solution will be to use the [Chrome Devtools Protocol](https://chromedevtools.github.io/devtools-protocol/) to enable this feature.

[2020-06-18 02:42] manojVivek commented on #197
@Grafikart The user could set the required page as home to achieve that?

But if we are doing this then we should have a settings in user preferences to control this behavior instead of making it the default. Let me know your thoughts.

[2020-06-18 06:40] boris-design opened #203 "Bad Android presentation?"
My website looks broken in Responsively, but still looks good in Android Studio.

<img width="2379" alt="Screen Shot 2020-06-18 at 9 32 17" src="https://user-images.githubusercontent.com/57568533/84986206-d655dd80-b146-11ea-9d2c-91511a84f447.png">

Otherwise, very impressive project, thank you!

[2020-06-18 07:27] manojVivek commented on #203
@boris-design Thanks for reporting, we will check it out.

[2020-06-18 09:03] Grafikart commented on #197
I'm working on multiple site and i'm used to this behaviour from chrome. Ok for the new preference I'll start working on this feature this week end.

[2020-06-19 08:10] #37 closed

[2020-06-19 11:45] tochoromero opened #209 "[Feature Suggestion] Vue DevTools support"
It would be awesome to have the ability to install the Vue DevTools extension, it is provided as a Chrome extension so it should be possible to allow it.

Thank you

[2020-06-19 12:09] jjavierdguezas commented on #209
If this kind of feature is possible, there are a lot of chrome extensions useful for devs, not only Vue's one..

[2020-06-19 12:11] esprush commented on #203
@boris-design thanks for reporting. this is fixed and will be available in the next release.

you might want to check the above site in Nexus 7 and 10.

[2020-06-19 12:13] tochoromero commented on #209
I would think the extensions would need to be vetted before added, so adding the DevTools for the major frontend frameworks seems like a good start.

[2020-06-19 14:17] manojVivek commented on #209
@tochoromero This is a great suggestion. 🎉

We already use `electron-devtools-installer` package to install the react dev tools extension. It takes the chrome store extension id and installs the extension.

So we can keep this a generic option to install any extension by giving the chrome store URL/extension ID.
This way it will be more flexible at the same time the users will have control over th

[2020-06-19 18:08] boris-design commented on #203
Hi Suresh,

Awesome news, yet at the moment Android devices don't work (including Nexus
7 and 10). Will wait for the next release. Thank you!

Also, is it just me or <Cmd+Shift+R> doesn't work as "Reload Ignoring
Cache" at all (no action)? <Cmd+R> works just as expected.

Cheers,
Boris

On Fri, Jun 19, 2020 at 3:11 PM Suresh P <notifications@github.com> wrote:

[2020-06-20 07:12] #197 closed

[2020-06-20 08:08] esprush commented on #203
@boris-design works fine for me.
can you share below information:
1) Responsively app version
2) the url you are testing

[2020-06-20 08:20] boris-design commented on #203
Sure:

1. It's on MacOS.
Version: 0.3.0

Electron: 8.3.0

Chrome: 80.0.3987.165

Node.js: 12.13.0

V8: 8.0.426.27-electron.0

OS: Darwin x64 19.5.0

2. https://itlegal.by

On Sat, Jun 20, 2020 at 11:08 AM Suresh P <notifications@github.com> wrote:

[2020-06-20 09:37] esprush commented on #203
@boris-design the versions look good. not sure what could be wrong.

does anything happen when you do cache refresh?
is it possible for you to share a screen capture of the app when you do cache refresh?

[2020-06-20 12:32] #116 closed

[2020-06-21 00:12] boris-design commented on #203
Sure.
https://drive.google.com/file/d/1LrvO16XIdi8P8Qa-4o-M6oF8ylEkLp-T/view?usp=sharing

Maybe something is wrong on my end. Recently I spent some time trying to
use 3 or 4 of various Android emulators I downloaded here and there until I
settle on Android Studio.

On Sat, Jun 20, 2020 at 12:37 PM Suresh P <notifications@github.com> wrote:

[2020-06-21 00:41] boris-design commented on #203
That's animated entry parts that don't work at load/scroll (yet, some
animated parts does work, i.e. CTA button at the very end). I've just
recorded a longer video to show:
https://drive.google.com/file/d/1z_EVwzjsTeCLY-UEHKRCqMCQCwH71oiv/view?usp=sharing

On Sun, Jun 21, 2020 at 3:12 AM Boris Nefyod <nefyod@gmail.com> wrote:

[2020-06-21 04:46] manojVivek opened #211 "Add stop functionality to the reload button"

[2020-06-21 04:47] #211 closed

[2020-06-21 04:52] manojVivek opened #212 "Shrink the size of the preview area when the devtools window is open to eliminate the inspector blank spot"

[2020-06-21 16:26] #212 closed

[2020-06-21 19:36] sibelius opened #215 "can we open more than one site at the same time?"
basically tabs?

[2020-06-22 05:37] jonathanurias96 commented on #193
I believe this PR can solve the issue #216.
Please review.

[2020-06-22 13:14] RomainFrancony commented on #209
I can work on this if you'd like

[2020-06-22 21:42] paulo-correia commented on #188
Installed AppImage, and OK

[2020-06-23 03:12] manojVivek opened #218 "Bookmarks UX Improvement"
Improvements:
- Make the bookmarks bar sleeker. It takes up a lot of space right now.
- Make the context menu open from the bottom not hiding the bookmark item.
- capture the title and favicon of the page and show it on the bookmarks bar.

[2020-06-23 03:35] manojVivek commented on #209
@RomainFrancony That would be great. 🎉

More details on the functionality:
1. Add a Menu option called `Manage Extensions`.
2. Click on it can open a Popup window. This popup can have the following details:
      - A button to add new extension. This will take either a chrome store extension ID or URL and install the extension using the `electron-devtools-installer` package.
      - A list of alre

[2020-06-23 03:37] manojVivek commented on #215
This will be potentially a bigger change to the app, we will keep it in the queue. Thanks for the suggestion. 👍

[2020-06-23 04:46] #188 closed

[2020-06-23 10:09] manojVivek commented on #193
This will go live in the v0.4.0 release.

[2020-06-23 10:09] #193 closed

[2020-06-23 10:12] manojVivek commented on #194
@Kidcredo I don't think we have to do that since that will interfere with the page's styles and might break something.

[2020-06-23 10:37] Kidcredo commented on #194
Anyways i was unable to find a way to inject code

[2020-06-23 14:06] #198 closed

[2020-06-23 14:14] falecci-peya commented on #218
I could make a take on this :)

[2020-06-23 14:15] manojVivek commented on #194
@Kidcredo CSS can be injected into `webview` using the `insertCss` api. Ref: https://www.electronjs.org/docs/api/web-contents#contentsinsertcsscss-options

But anyway, I'm closing this issue as we are good with it now. Thanks again for the work on this.  🙌

[2020-06-23 14:15] #194 closed

[2020-06-23 14:22] manojVivek commented on #218
@falecci-peya Sorry, I'm already halfway through it. :)

#103 is something we need to do, if you are interested.

[2020-06-23 14:29] falecci commented on #218
@manojVivek sorry, commented with the wrong account 😆 . Sure, no problem!

[2020-06-23 15:41] esprush commented on #203
@boris-design thanks for the videos.

I see the cache refresh works from the menu. does the shortcut alone not work?
one possibility can be shortcut is interpreted by some other open application.

regarding the scroll not working - scroll events does not trigger when the page is still loading. we are looking to fix this.

[2020-06-23 15:43] esprush opened #222 "mirror events across device using browser-sync"

[2020-06-24 00:52] #199 closed

[2020-06-24 04:28] boris-design commented on #203
No problem)

1. Yes, maybe some app catches the shortcut. Have to figure out how to fix
it. Nevermind.

2. > regarding the scroll not working - scroll events does not trigger when
the page is still loading.
I think the scrolling itself works perfectly, but some animations I created
for this page's elements in Webflow (see how the panel looks) just never
get started by Android emulator in Responsiv

[2020-06-24 04:46] #218 closed

[2020-06-24 08:58] pedroknigge opened #224 "help - link to Screenshot folder or change where they store"
Hi! first I have to say thanks for this tool, its amazing. After using little bit I find myself not able to find where the screenshots are. If you can add a link to the folder or let user change where they store should be great. Thanks!

[2020-06-24 11:33] manojVivek commented on #224
@pedroknigge The screenshots are stored on your desktop folder inside `Responsively Screenshots` folder.

Please let us know if you don't see it there.

[2020-06-25 09:07] ardenne21 opened #225 "Horizontal Layout issue"
Hi guys, I have just tested the web app on my Mac and run into an issue when switching to the Horizontal Layout.
As you can see from the screenshots below when switching to the Horizontal Layout, the left menu doesn't open ( see the double line on the left between the left menu and the main view ). In this layout, I am also unable to scroll horizontally to see all the devices.

<img width="1440" a

[2020-06-25 09:14] manojVivek commented on #225
@ardenne21 Yeah, this is a terrible bug.
We will send a fix soon, thanks for reporting it!

[2020-06-25 10:03] RomainFrancony commented on #225
@manojVivek I can take care of this if you'd like

[2020-06-25 10:16] manojVivek commented on #225
@RomainFrancony That would be awesome! Assigning it to you. 🎉
 When you make a fix, please consider testing the docked device dev tools window resizing too, as it seems related to that.

[2020-06-25 11:03] ardenne21 commented on #225
Thank you for your quick reply!
I am just testing the app ( which is awesome by the way! ) and the bug it's not blocking for me.

[2020-06-25 12:54] #225 closed

[2020-06-26 18:36] jeyj0 opened #228 "Checkboxes cannot be checked by clicking on their label"
When opening a site with a checkbox that has a corresponding label tag, clicking on the label (not the checkbox) checks and instantly unchecks the checkbox.

Expected behavior: when clicking on the label, the checkbox should only switch state once.

Minimal HTML to reproduce (both don't work):
[code]

[2020-06-26 18:51] esprush commented on #203
@boris-design version 0.4.0 has been released with the fix for broken android devices.

[2020-06-27 04:54] esprush commented on #228
@jeyj0 can you please share the responsivelyapp version? the checkbox checks and unchecks as expected. I am using 0.4.0

[2020-06-27 08:39] boris-design commented on #203
Thank you! You're awesome, guys!

On Fri, Jun 26, 2020 at 9:52 PM Suresh P <notifications@github.com> wrote:

[2020-06-27 10:09] manojVivek commented on #203
Closing this, as the other items will be taken care in #222

[2020-06-27 10:09] #203 closed

[2020-06-27 11:45] marekmalik opened #230 "[Feature Suggestion] Mobile devices realistic behaviour"
Hi,

as a UX designer I'm wiling to use Responsively App to web audits, where I check usability and web behaviour on mobile devices.
It would be great if mobile devices in Responsively App will interact more realistic.

What I mean "more realistic":

- no hover effects
- a round cursor resembling the dimensions of a human finger
- scroll by touch
- maybe someone will add more...

I believe that th

[2020-06-27 13:38] jeyj0 commented on #228
I'm using 0.4.0, but I'm on NixOS - so that might be creating the issue.
I'll try to reproduce on another machine when I get the time, but for now here's the nix expression I used to get responsively packaged on NixOS:
[code]

[2020-06-27 15:53] manojVivek commented on #230
@marekmalik Thanks for raising this request. This is already being worked on as part of #31. You can watch out for it in future releases.

Closing this as a duplicate of #31

[2020-06-27 15:53] #230 closed

[2020-06-28 06:43] AmitKKhanchandani commented on #80
@emmanguiang Can you tell me, how you able to sync the input text?, are there any specific instructions?

Reopening this thread,

Tested with ResponsivelyApp 0.4.0 (more details in the below animation screencast)
![ResponsivelyApp Input text not syncing](https://user-images.githubusercontent.com/11069057/85940146-467b1500-b938-11ea-9bea-082090dbe710.gif)

I tried out with a simple HTML form as wel

[2020-06-28 06:45] AmitKKhanchandani opened #231 "Input Text does not sync up"
Tested with ResponsivelyApp 0.4.0 (more details in the below animation screencast)

![ResponsivelyApp Input text not syncing](https://user-images.githubusercontent.com/11069057/85940146-467b1500-b938-11ea-9bea-082090dbe710.gif)

I tried out with a simple HTML form as well, example this one: https://github.com/AmitKKhanchandani/Learn-Html-CSS-JS/blob/master/HTML/42%20Complete%20Form.html

It still

[2020-06-28 06:48] AmitKKhanchandani commented on #118
@manojVivek Yes,

I think the input one #231 also similar then, as this is related to keyboard only.

[2020-06-28 09:36] manojVivek commented on #80
@AmitKKhanchandani Syncing of input field is not supported yet. It is will be taken care of in #222. Please watch out there for updates.

[2020-07-01 03:10] #209 closed

[2020-07-01 08:49] #31 closed

[2020-07-01 10:31] jjavierdguezas opened #232 "Weird behavior on Touch Mode"
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

I was testing the new Touch Mode and I detected some issues, I'll try to explain here
- When Touch Mode is on, you cannot perform any action until you click in the area you want to do it (to drag in a device you must click in the device first, if you want to toggle touch mode again you n

[2020-07-01 10:39] jjavierdguezas commented on #232
Oh I figured out that the Inspect Element button was not activating itself, the issue is more like this:
- When you click the Toggle Touch Mode button and Touch Mode is on, moving the mouse to the next button (left or right) will make it look hovered until you toggle Touch Mode again

![touchmodeissue2](https://user-images.githubusercontent.com/13673443/86234807-c521bd80-bb97-11ea-87ab-449752c6d93

[2020-07-01 10:50] jjavierdguezas opened #233 "No horizontal scroll bar when big enough device on individual layout"
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

When you are in individual layout and the focused device is bigger than the screen `ResponsivelyApp` should show an horizontal scroll bar (at app level)
A workaround right now is to use `Shift + mouse wheel` to scroll (at least on Windows)

![scroll bar issue](https://user-images.githubu

[2020-07-01 16:59] jjavierdguezas opened #234 "Inactive Devices list keep reordering itself"
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

If this is intended, then just close this issue... but I personally think it is a bit weird

When managing the devices, no matters how I drag and drop an item in the Inactive Devices list, it keeps reordering itself. Maybe I want to keep an order on that list or I made a mistake and move

[2020-07-02 02:53] manojVivek commented on #234
@jjavierdguezas Yeah you are right, the ordering is not taken care of when a device is dropped in the inactive list.

[2020-07-02 02:58] manojVivek commented on #232
@jjavierdguezas  Yeah, other icons getting activated is because when the mouse events are changed to touch events, the `unhovering` is not happening. Since hover is a mouse event. I couldn't think of a way to fix this.

[2020-07-02 03:00] manojVivek commented on #232
Yeah, I faced this too, for some reason the `webview` and the other parts of the app are losing focus, so that needs the extra tap?

@romanakash Let us know if you have any ideas.

[2020-07-02 04:43] Kidcredo opened #236 "🐛 Adding Multiple Developer Extension does't work."
As shown in the image below i have Vue.js Dev tools and React Developer tools extension installed.
It only show React Developer tools which was installed after Vue.js Dev tools.
Vue.js Dev tools has disappeared from the Dev tools.
This means only one developer tools extension work at a time.

![image](https://user-images.githubusercontent.com/15522605/86316889-83d3f100-bc1d-11ea-9bea-edfcbc362e24.

[2020-07-02 06:47] manojVivek commented on #236
@Kidcredo Are you seeing the Vuejs tab when you delete the `React Developer Tools` extension?

It seems to work pretty fine for me.
<img width="1229" alt="Screenshot 2020-07-02 at 12 16 29 PM" src="https://user-images.githubusercontent.com/1283424/86325607-efd64980-bc5d-11ea-90f3-d639679ef196.png">

Can you please add the exact steps to reproduce it?

[2020-07-02 07:15] prashantpalikhe opened #237 "Add support for devtools extension that are not released in the Chrome web store"
Often, we have custom devtools extensions for our own projects that for obvious reasons, we won't publish to the web store.

It would be great to add support for custom extensions like that. Just like how Chrome allows us to add custom extensions in developer mode.

[2020-07-02 07:15] Kidcredo commented on #236
Steps to reproduce this issue on the latest release.
1.Install Vue Devtools using the extentsion ID
(Now when its a Vue tab it shows up.)
2. Installed React Dev tools (Now only react tabs show up even if its a vue app.)

When i delete react dev tool the Vue tab is visible again.

[2020-07-02 07:43] Kidcredo commented on #236
Ok i understand what happened a bit here is how it happened.

Did a clean install of the latest version of the app.

1. I installed Vuejs devtools
2. Visited vuejs.org Website to check it and it worked
3. I closed the devtools.
4. Installed the React Dev tools
5.Opened Reactjs.org website to see if it works and only react dev tools was visible.
6. I switched to Vuejs.org website without closing th

[2020-07-02 08:06] RomainFrancony commented on #233
@manojVivek I can take care of this one, it's a simple overflow issue with flexbox

[2020-07-02 09:39] saltcod opened #238 "Add a light theme for the App Interface and have a switch in the preferences."
Hey guys! Just discovered this and it looks amazing!

Sadly, my eyes prevent me from being able to work against a dark backgrounds, so I was keen to see if there was a Light mode. The Switch Color Scheme button doesn't seem to do anything when I click it — should that toggle the whole app from light to dark?

Thanks and fantastic work!

[2020-07-02 09:59] gtk2k opened #239 "Add volume control for the devices"
Is it possible to set the volume?
I'm currently creating a page with a movie player, and when I'm viewing previews on multiple devices, everything sounds.
I checked if the volume can be set, but I could not find it.
If not, we hope to add a feature to set the volume in the future.

[2020-07-02 10:38] gtk2k opened #240 "Search Extension keyword the '*' after can't control side bar."
Search Extension keyword input '*' and Enter key.
After can't control side bar.

[2020-07-02 12:49] romanakash commented on #232
Looks like another unresolved electron issue https://github.com/electron/electron/issues/19645

[2020-07-02 14:13] TatisLois commented on #234
Hey 👋🏽

If this is a good first issue for a contributor I’ll like to take a crack at fixing this issue!

[2020-07-02 14:24] jjavierdguezas commented on #238
hi @saltcod ,
I think that Switch Color Scheme feature is for the devices view, not for `Responsively App` windows, for example go to https://nandovieira.com/supporting-dark-mode-in-web-content and click the switch button (you will notice the change, because that website handle OS color scheme)

![darkmode2](https://user-images.githubusercontent.com/13673443/86370676-52404180-bc80-11ea-901b-77333a

[2020-07-02 14:53] saltcod commented on #238
aaah I see.   Yeah it seems I do have a feature request then =)

[2020-07-02 14:54] TatisLois opened #242 "desktop-app directory contains both a yarn and package lock file"
I just cloned and am setting up the codebase in the `desktop-app` directory to dev locally and noticed there is both a `yarn.lock` and `package-lock.json`. Basd on the readme recommendation to run `yarn dev` I assume that yarn is the prefered lock file to install. Is that the case?

Would it make sense to drop one for the other to avoid consistency issues by trying to manage both?

[2020-07-02 15:04] jjavierdguezas commented on #240
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

![extensions](https://user-images.githubusercontent.com/13673443/86375087-8c601200-bc85-11ea-99c3-795b26b1ce8c.gif)

After some clicks the error shows. [here](https://pastebin.com/RFj5nBnK) a pastebin of the JSON

cc: @manojVivek

[2020-07-02 15:11] jjavierdguezas commented on #242
yeah the project has some inconsistencies
I think @manojVivek that this is a good opportunity to "normalize" the development environment: `yarn` vs `npm`, linters, code styles, pre-commit hooks, etc. We could at least write recommendations to contributors in the README

[2020-07-02 15:30] TatisLois commented on #242
@jjavierdguezas that would be helpful - I am going through the setup for local dev and running into a few issues. I think i'll be able to get up and started but a refresh on how to contirbute and setup local would be amazing. I'd be willing to help in anyway

[2020-07-02 15:32] manojVivek commented on #238
@jjavierdguezas Yeah that is right, we need to add a light theme for app.

@saltcod Thanks for reporting. We will add this to the roadmap.

[2020-07-02 15:36] manojVivek commented on #242
Yeah the `package-lock.json` got added by mistake in a contribution PR. We should delete it and stick to `yarn`.

[2020-07-02 15:37] manojVivek commented on #236
Ok got it @Kidcredo, this is not an issue then. Closing it, thanks for looking into it though.

[2020-07-02 15:37] #236 closed

[2020-07-02 15:38] TatisLois commented on #242
@manojVivek 👍 can I open a PR removing it?

[2020-07-02 15:38] manojVivek commented on #234
@TatisLois That would be awesome, assigning it to you! 🙌

[2020-07-02 15:43] manojVivek commented on #240
@jjavierdguezas  Great, thanks for the triage.

@RomainFrancony Maybe be we should add some validation on the input box?

[2020-07-02 15:44] manojVivek commented on #233
@RomainFrancony Great!

[2020-07-02 15:45] manojVivek commented on #239
Sure @gtk2k, Will add it to the roadmap.

[2020-07-02 15:48] manojVivek commented on #232
Oh! 😓

Let's keep this open for tracking this issue.

[2020-07-02 16:01] RomainFrancony commented on #240
@manojVivek I don't know the exact specification of Chrome Store extension's ID but it seems that they are only composed of letters, so probably a regex like `/[a-z]+/i`

[2020-07-02 16:10] manojVivek opened #245 "Do auto-reload the page, watching for the file changes, if a local HTML file is loaded in the browser."

[2020-07-02 16:12] manojVivek commented on #240
Yeah, the extension id is composed of lower case alphabets.

[2020-07-02 17:00] jjavierdguezas commented on #240
@RomainFrancony @manojVivek I could only find that they are always 32 characters long
see [here](https://support.google.com/chrome/a/answer/7532015?hl=en)
![image](https://user-images.githubusercontent.com/13673443/86389238-4f504b80-bc96-11ea-90cd-ea4238e757e6.png)

[2020-07-02 18:17] MeStrak opened #248 "Handle OAuth new window and target blank new tab actions."
Hi there, I tried out responsively-app today but have an issue with authentication.

When our app loads it connects to AWS Cognito to authenticate the user, but the page doesn’t load in Responsively-app, I think because it’s external to our site.

I tried to the same In Sizzy (a similar app) and the auth screen loaded in a popup. I then authenticated and could login.

Is there a way to enable this

[2020-07-02 22:35] jeremytenjo opened #268 "Suggestion: Updating elements in devtools should update all the screens at the same time"
Great app!

Suggestion: Updating elements in devtools should update all the screens at the same time

[2020-07-02 22:57] moraispgsi opened #249 "Question: Screen density."
Hi, I am curious, does this tool simulate the screen densities of the devices?

[2020-07-02 23:13] SCallahan101 opened #250 "Photo doesn't show up"
It showed no images at all but img tags are there.

[2020-07-03 00:06] pajaydev commented on #240
I would like to work on this if it's unassigned. Thanks.

[2020-07-03 03:07] QQBoxy opened #251 "chrome-extension options not working"
Can you support users to configure chrome-extension?

![chrome-extension](https://lh3.googleusercontent.com/ufakZQOxk1vkx8yZbpz8qwhAvSzmUlkmZWbk4A7CYv3AMI_ONzMrzLUyMv4twtKlFxReNDcQ8HSnvNYkZmc=s0?.jpg)

[2020-07-03 03:40] manojVivek commented on #240
@pajaydev Appreciate it, I'm assigning it to you. 🙌

cc: @RomainFrancony

[2020-07-03 03:42] manojVivek commented on #248
That is right, OAuth based login is a problem right now. Thanks or raising it @MeStrak, adding it to the roadmap.

[2020-07-03 03:52] manojVivek commented on #249
We ran into some issues while implementing it before, but we will re-check it now.
Thanks for bringing it up! 🙌

[2020-07-03 03:56] manojVivek commented on #250
Hey @SCallahan101, Does it work fine on Chrome?

If so can you please give a sample URL to test it out?

[2020-07-03 03:57] manojVivek commented on #242
@TatisLois You can combine it with #234's PR maybe?

[2020-07-03 08:03] RichardLindsay opened #252 "HTTP basic authentication fails"
When trying to access a site with basic authentication, I don't receive the username/password dialog.

I'm presented with the following error:

ERROR: -202
ERR_CERT_AUTHORITY_INVALID

[2020-07-03 08:43] jjavierdguezas commented on #252
Hi @RichardLindsay
could you provide an example URL?
Also, did you check `Disable SSL Validation` in User Preferences ?
![image](https://user-images.githubusercontent.com/13673443/86450451-dbf01d80-bd19-11ea-9998-30dc384ae023.png)

[2020-07-03 09:21] jjavierdguezas commented on #252
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

I set up a basic auth server using [this basic example](https://github.com/http-auth/http-auth#basic-example) from `http-auth`
`ResponsivelyApp` showed the authentication popup
the only thing is that there is no option to cancel and close the dialog, making that if you don't have valid c

[2020-07-03 09:22] uzprocode opened #255 "How hide scroll bar of mobile devices when i use mouse?"
<img width="1906" alt="螢幕快照 2020-07-03 下午5 21 38" src="https://user-images.githubusercontent.com/21970517/86454366-b4b54280-bd51-11ea-8010-a4538be7be9b.png">
hide scroll bar.

[2020-07-03 09:44] manojVivek commented on #252
@jjavierdguezas  Noted, will have to add a cancel button to it.

[2020-07-03 09:48] #233 closed

[2020-07-03 09:55] manojVivek commented on #255
@uzprocode This is a good suggestion. Will add it to the roadmap. 🙌

[2020-07-03 10:09] jong-hui opened #256 "[Feature Suggestion] Add notch area"
Thanks for made great open source app.

We sometimes have situations on the web to respond to safe area(e.g notch).
But, we can't test the notch area in this app. Like a `env(safe-area-inset-bottom)`
So if possible, consider support a safe area.

Thanks for reading

[2020-07-03 10:10] jjavierdguezas opened #257 "DevTools first row disappears when it is open and you go to customize devices"
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

If you have the dev tools open and you go to customize devices, the dev tools remains there but the first row disappears, so we cannot close it
![dev_tools](https://user-images.githubusercontent.com/13673443/86458666-e6181900-bd25-11ea-8c01-466881500cf5.gif)

[2020-07-03 10:46] misiekofski opened #258 "Issues with building app locally via "yarn package-win""
System Windows 10, Version 1909
Machine is blocked by company policy, so I can't install by downloading .exe from releases.

So I tried to build it locally with elevated cmd.exe as local admin:
[code]

Stacktrace with error (looks like issue with permissions to AppData folder):
[code]

The other command to run it in dev mode works properly:
[code]

[2020-07-03 12:09] be222dd commented on #252
Can I try to work on this? If it is not picked yet?

[2020-07-03 13:16] jjavierdguezas opened #261 "Handle anchor tags with target = blank"
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

Right now `Responsively App` does not handle `<a/>` tags with `target="_blank"` prop so clicking on them does nothing

For example create an `index.html` with the following:
[code]
Open it with Chrome and click on the link, a new tab opens on the `Responsively App` website
Open it with `

[2020-07-03 13:21] jjavierdguezas commented on #261
@manojVivek  maybe [this answer on StackOverflow](https://stackoverflow.com/a/48923751)  can help and also take into account [this issue](https://github.com/electron/electron/issues/1458)

[2020-07-03 13:27] moraispgsi commented on #249
That is great to ear. Hope you guys manage to do it somehow.

[2020-07-03 13:59] manojVivek commented on #261
Yes @jjavierdguezas, This is related to the #248 as well, where OAuth login flow is getting blocked.

We should make it open one new browser window so that the user gets a feel of how the app will work in the regular browser.

[2020-07-03 14:01] manojVivek commented on #258
@jjavierdguezas Any ideas? 🤔

[2020-07-03 14:02] manojVivek commented on #252
@be222dd That would be awesome, assigning it to you! 🙌

[2020-07-03 14:09] manojVivek commented on #257
Yeah, it is because of the way the docked dev-tools functionality is implemented. The first row is a `div` in the main window while the actual `devtools` section is a `BrowserView`. It is made to feel like it is one section but actually it is not. 😁

This is done in such a way because of a disability in electron that was preventing the `devtools` content to be loaded as a `webview`.

Here the over

[2020-07-03 14:10] jjavierdguezas commented on #258
I think this is a particular scenario with a computer with an extra layer of protection given by company policies. I use Windows and I tested this in some Windows computers (personal and workplace) and I can't reproduce it.
@misiekofski what antivirus do you have? maybe it is blocking the file while scanning it? ( see https://github.com/electron-userland/electron-builder/issues/3722 )

[2020-07-03 14:12] jjavierdguezas commented on #258
also https://github.com/electron-userland/electron-builder/issues/2778

[2020-07-03 14:34] SCallahan101 commented on #250
Sure,

My original chrome tab show this -
https://gyazo.com/b1229009bcac8f340d877a7c07747479

Your program show this - https://gyazo.com/6f95354fbad940e85952cb111957812f

https://shannon-callahan-web-portfolio.herokuapp.com/Pages/Intro.html

Shannon C.
Thinkful Student
SDSU MPA of 2016
*My native language is American Sign Language. While I am bi-lingual, you
may notice English translation errors.

[2020-07-03 15:12] TatisLois commented on #242
@manojVivek sounds good will do 👍

[2020-07-03 22:17] jjavierdguezas commented on #251
👀

Right now we are no handling extensions with UI but all contributions are welcome!
maybe [electron-extensions](https://github.com/sentialx/electron-extensions) can help

[2020-07-03 22:21] jjavierdguezas commented on #224
We could add a menu item like `Open Screenshots Folder` that opens it (and maybe in the future lets the user change that location)

[2020-07-03 22:36] jjavierdguezas opened #264 "Forward action does not update URL in search bar"
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

1- Open `Responsively App` _It should open in the home URL (google.com in this case)_
2- Go to any different URL or open a file
3- Press Back button
4- Press Forward button
The URL in the search bar should be the one in step 2 but it remains showing the one in step 1

![foward](https://u

[2020-07-04 01:48] pedroknigge commented on #224
I could found it. The problem is when I take all screenshoot together, the app create a folder but I cannot access, give me an error. Maybe because all my files are in other disk and it's creating the folder in the old desktop location.
![image](https://user-images.githubusercontent.com/63541209/86502944-340d3b00-bd7f-11ea-8c09-91b9ee310a48.png)

[2020-07-04 01:49] pedroknigge commented on #224
Should be a good add! Maybe add the option to change the default folder. Thanks!

[2020-07-04 02:53] jalejandro0211 opened #267 "popup-blocked"
how to enable popups?

[2020-07-04 03:44] #257 closed

[2020-07-04 03:48] manojVivek commented on #245
The fix is so neat, Thanks JJ for the quick one!

[2020-07-04 03:48] #245 closed

[2020-07-04 03:51] manojVivek commented on #224
@jjavierdguezas Good idea and thanks for the quick implementation!

[2020-07-04 03:52] manojVivek commented on #224
@pedroknigge This created the screenshot folder in the current user's desktop, maybe a folder permission issue?

[2020-07-04 03:57] manojVivek commented on #267
@jalejandro0211 Is this for the js popups like `alert` or `New tab` type?

[2020-07-04 03:59] manojVivek commented on #264
@esprush We missed the events when the forward action is performed?

[2020-07-04 04:04] manojVivek commented on #251
The feasibility of implementing this is very less considering the lack of support from `electron`.
Maybe we should close this for now and re-visit at a later point in time?

[2020-07-04 04:06] manojVivek commented on #240
@pajaydev Please join us on Gitter if you have any questions along the way - https://gitter.im/responsively-app/

[2020-07-04 04:07] manojVivek commented on #234
@TatisLois Please join us on Gitter if you have any questions along the way - https://gitter.im/responsively-app/

[2020-07-04 04:07] manojVivek commented on #252
@be222dd Please join us on Gitter if you have any questions along the way - https://gitter.im/responsively-app/

[2020-07-04 04:12] manojVivek commented on #268
@tenjojeremy This is a great suggestion, I have been thinking about the same recently. 🙌
Will consider it as a high impact feature on the Roadmap.

[2020-07-04 05:27] #224 closed

[2020-07-04 06:42] manojVivek opened #269 "Make the Address bar smarter"
- The address bar should show suggested links from the user's previous browsing history when something is typed.
- The suggestions should be ordered based on the number of times the URL was visited previously.

[2020-07-04 10:34] #112 closed

[2020-07-04 11:56] be222dd commented on #252
I will start working on it today and joining the gitter asap.

[2020-07-04 12:05] AnupNair08 opened #272 "Popup windows not opening."
I have tried using a website that has a popup to sign-in but apparently the site does not open the popup or does not redirect to the screen.

[2020-07-04 12:41] jalejandro0211 commented on #267
Hi @manojVivek js popups like newtab

[2020-07-04 14:38] karthick3018 commented on #269
hi @manojVivek  if this feature is unassigned I would love to work on this ! thanks

[2020-07-04 15:10] jjavierdguezas commented on #250
@manojVivek  @SCallahan101
Inspecting elements in the website provided and comparing them with the ones in Responsively I found out that the images are there. The issue is about that there is no height set in styles or props, and somehow Chrome computes a value (greater than 0px) but Responsively app does not (so 0px eq no img showing)

![image](https://user-images.githubusercontent.com/13673443/8

[2020-07-04 15:20] manojVivek commented on #272
@AnupNair08 Thanks for reporting it, we already have an issue open for this #248. Please watch that issue for the updates, closing this one as a duplicate.

[2020-07-04 15:20] #272 closed

[2020-07-04 15:34] manojVivek commented on #267
@jalejandro0211 We have another issue open for this issue. #248. Please watch for the updates there, closing this as a duplicate of #248.

[2020-07-04 15:34] #267 closed

[2020-07-04 15:37] #239 closed

[2020-07-04 15:40] manojVivek commented on #269
@karthick3018 Awesome, that will be great! Assigning it to you. 🙌

For any UI/UX reference lets handle it same as Chrome's address bar.

Also join us on Gitter, if you have any questions along the way - https://gitter.im/responsively-app/

[2020-07-04 16:24] be222dd commented on #252
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25454196/86516735-cd922680-be2b-11ea-9d6d-752ff1299395.gif)

So, I guess there is a problem with the logic as well. I got the button appear in the form but handleClose function behaves weird as shown in the gif up there.

[2020-07-04 16:50] manojVivek commented on #252
@be222dd It should show un-authorized on all devices when cancel is clicked once. Can you please check the logic as well?

[2020-07-04 20:22] SCallahan101 commented on #250
Interestingly, I discovered a different reason by canceling out my img's
css regarding height. I have it down as max-height: 100%; I guess it did
something different that I'm seeing.

Thanks! Sorry to bother you over something small.

Shannon C.
Thinkful Student
SDSU MPA of 2016
*My native language is American Sign Language. While I am bi-lingual, you
may notice English translation errors. Contact

[2020-07-05 06:10] #261 closed

[2020-07-05 07:40] Xaoka opened #275 "Error shown on localhost mirrors"
**Environment**
Desktop
Windows
localhost:3000

**Repro steps**

1. Host a server at localhost
2. Navigate to it with responsively
3. Note the error ERR_NAME_NOT_RESOLVED as if there was a DNS failure, despite it loading and being on the local network.

[Image](https://imgur.com/xUjVw1E)

**Expected behaviour**
Local network sites should not display a DNS error

[2020-07-05 16:39] jjavierdguezas commented on #103
@manojVivek  for tracking: https://github.com/electron/electron/issues/21250
I'll try with the `debugger` workaround

[2020-07-05 22:37] Grafikart commented on #238
@manojVivek Where would you put this setting ? I could take a look at it (I would put the setting in the setting sidebar to avoid an extra button close to the address bar).

[2020-07-05 22:48] pajaydev commented on #240
@manojVivek  Thank you

[2020-07-06 06:28] amanvijay96 opened #280 "error while loading"
App threw an error during load
Error: ENOENT: no such file or directory, open '/home/aman_vj/indegene/responsively-app/desktop-app/app/package.json'
    at Object.openSync (fs.js:440:3)
    at Object.func (electron/js2c/asar.js:140:31)
    at Object.func [as openSync] (electron/js2c/asar.js:140:31)
    at Object.readFileSync (fs.js:342:35)
    at Object.fs.readFileSync (electron/js2c/asar.js:542:4

[2020-07-06 07:33] johnadan opened #281 "Cannot install Responsively app in Ubuntu"
Cannot install app in Ubuntu and displays error that file is unsupported after downloading app installer from the website. Have already tried installing the app via recommended applications such as Software Install, AptURL, Snap Store, Run Software, and Handler for snap:// URIs but nothing worked.

[2020-07-06 07:52] #281 closed

[2020-07-06 08:06] #280 closed

[2020-07-06 09:57] deadcoder0904 opened #282 "Back button sometimes doesn't work with Next.js/Gatsby.js"
If I use `Link` in Next.js to go from 1-page to another sometimes the back button doesn't work. It stays on the old page.

I haven't tried this on Gatsby.js but I'm pretty sure it'll be the same. I saw [a tweet](https://twitter.com/thekitze/status/1154716996652716032?s=20) regarding the same issue with Sizzy. See https://trello.com/c/3njJh8ad/22-fix-using-more-than-2-devices-with-nextjs-and-nuxt o

[2020-07-06 11:12] manojVivek commented on #238
Yes @Grafikart that is what I was thinking too.
To add a toggle in `UserPreferences` component - https://github.com/manojVivek/responsively-app/blob/18fdd56e7c8f2686bcc2abfe9871b14ddb450a8e/desktop-app/app/components/UserPreferences/index.js

[2020-07-06 11:13] manojVivek commented on #238
Do you want me to assign this to you?

[2020-07-06 12:14] misiekofski commented on #258
Thank you @jjavierdguezas

What I did:
1. Added to `package.json` in `build: {}` section:
[code]
2. Create env variable: `ELECTRON_BUILDER_CACHE` and set it to different directory (C:\scv\cache)

The error now shows almost the same issue (renaming nsis folder failed in different location):
[code]

Fortunately I went into folder and changed `982794555` to `nsis-3.0.4.1` and ran `yarn package-win`
!

[2020-07-06 13:08] manojVivek commented on #256
@jong-hui Thanks for raising this. Sorry, I'm not able to understand what you mean by a notch area, can you please give an example?

[2020-07-06 13:27] manojVivek opened #286 "Prompt to move the app to `Applications` folder in mac if launched from somewhere else"
Please refer to [isInApplicationsFolder](https://www.electronjs.org/docs/api/app#appisinapplicationsfolder-macos) and [moveToApplicationsFolder](https://www.electronjs.org/docs/api/app#appmovetoapplicationsfolderoptions-macos) api to implement this.

[2020-07-06 13:28] Grafikart commented on #238
I thought it would be simple but changing the createMuiTheme type to "light" doesn't seem to work so I'm not sur I will have the time if it's more complex.

[2020-07-06 13:40] manojVivek commented on #238
Yes, I understand. Thanks for checking 👍

[2020-07-06 14:28] esprush commented on #264
thanks @jjavierdguezas. @manojVivek  yes. looks like event is not handled properly. I will check this.

[2020-07-06 14:30] esprush commented on #282
@deadcoder0904 thanks for reporting. this needs to be fixed.

[2020-07-06 14:37] esprush commented on #231
@AmitKKhanchandani the app does not sync keyboard inputs yet. Its in the roadmap. should be available along with #222

[2020-07-07 06:25] jaunesarmiento commented on #256
@manojVivek I think he means the [black bars in newer devices](https://miro.medium.com/max/1000/1*2vE1g5s1yx-W3XNy9qjPGQ.jpeg). There are probably dozens or maybe hundreds of variations of the device notch on multiple manufacturers. But I like this suggestion.

[2020-07-07 06:38] jong-hui commented on #256
@jaunesarmiento This is what I mean.

I know, That there are many variations. So if possible, consider this suggestion.

thanks for reading.

![image](https://user-images.githubusercontent.com/42797995/86728582-87c1a200-c067-11ea-8ce3-beb94c89a3ac.png)

[2020-07-07 07:50] jaunesarmiento commented on #256
Oh right, safe area insets.

[2020-07-07 11:49] manojVivek commented on #256
Thanks for the explanation @jong-hui, adding it to the roadmap.

[2020-07-07 11:56] jjavierdguezas commented on #275
Hi @Xaoka you need to provide more info, maybe share a piece of code to reproduce your scenario
I think this is a specific problem with your application
I tested many dummy localhost servers and all of them work just fine, so the issue does not seems to happen with all servers at localhost (maybe it is only your app or your computer or network)
Maybe some lib in the front is making a request and t

[2020-07-07 15:39] mehkera opened #287 "Why google.com at launch"
Hello all,

i ask why puting google.com when we launch the app ? it add trafic for them (i guess they don't need it !).

Is it possible to have an example page !?

Can we personnalize the page at start up ?

Thanks for our excellent app.

[2020-07-07 19:25] jjavierdguezas commented on #287
I personally don't care if it is google.com but if I were to change it I would use https://responsively.app/ 😉
Also you could always set any page as Home Page and customize the his behavior

[2020-07-08 06:37] pajaydev commented on #240
@manojVivek I have created a PR, kindly review

[2020-07-08 06:53] amanvijay96 opened #289 "how do i integrate responsively app with my maizzle project"
Is there any API available for integration?

[2020-07-08 07:01] mehkera commented on #287
Yes agree.

Thanks.

[2020-07-08 07:01] #287 closed

[2020-07-08 08:43] diego-vieira opened #290 "Add a border to the devices based on a switch in the user preference."
Is there an option to set the background color to something other than the gray one?

One of my projects use the same hex color as the app making it hard to see the edge of each page.

Thanks

[2020-07-08 08:53] jjavierdguezas opened #291 "Weird behavior when resizing Responsive Mode device"
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

When we have the special Responsive Mode device and also other devices, when trying to resize the device it gets very hard sometimes.
![resp](https://user-images.githubusercontent.com/13673443/86898316-d83d0c00-c108-11ea-9026-460a7076ec2c.gif)

I think this is because the special device

[2020-07-08 09:48] kvnam commented on #291
Thanks @jjavierdguezas, I'll look into this and add a fix.

[2020-07-08 11:44] manojVivek commented on #289
@amanvijay96 I don't know much about maizzle but from what I understand, I believe maizzle emails are HTML files. So you can load them with `File` -> `Open HTML file` option and preview them.

Please correct me if I'm wrong.

[2020-07-08 11:47] manojVivek commented on #290
@diego-vieira We have an issue open for having a light theme for the app #238. But that is a bigger change and will take time.

But meanwhile, we can add some kind of device border highlighting like in the below screenshot. Let us know if that will work for you.

<img width="250" alt="Screenshot 2020-07-08 at 5 15 37 PM" src="https://user-images.githubusercontent.com/1283424/86914939-c24a3e00-c13e

[2020-07-08 11:49] manojVivek commented on #291
@kvnam Maybe we could just add some extra margins for the re-sizable devices as a quick fix. We know getting the right UX for this feature is a little too complicated.

[2020-07-08 11:51] diego-vieira commented on #290
@manojVivek that'd be perfect. Very kind of you to reply so quickly. Many thanks

[2020-07-08 11:57] manojVivek commented on #258
@misiekofski I hope you found the solution and we can close this issue.

[2020-07-08 11:57] #251 closed

[2020-07-08 13:10] diego-vieira commented on #290
@manojVivek I can do this one, but I can't see a way to assign this issue to myself?

[2020-07-08 13:25] manojVivek commented on #290
That is awesome, I'm assigning it to you! 🙌

You can just add a switch in the `UserPreferences` component and based on the value show a border. So that the users can selectively enable it.

Also, you can join us here if you get any questions along the way - https://gitter.im/responsively-app/

[2020-07-08 14:34] misiekofski commented on #258
Yes this can be closed, thank you :)

[2020-07-08 15:09] #258 closed

[2020-07-08 15:17] kvnam commented on #291
Sure @manojVivek, I'll see if I can figure out better solution, but will push the extra margins fix first though.

[2020-07-08 15:54] manojVivek opened #293 "Upgrade to Electron 9(for Chrome 83)"

[2020-07-08 16:51] BraydenTW commented on #109
Yes this would be awesome.

[2020-07-08 16:51] BraydenTW opened #294 "Add SEO tips"

[2020-07-08 16:58] stevedesmond-ca opened #295 "Responsive Mode dimensions are in the wrong order"
Steps to reproduce:
- launch Responsively v0.6.1
- resize "Responsive Mode" to 800px wide by 600px tall

Expected result:
- dimensions show as "800x600"

Observed result:
- dimensions show as "600x800"

![image](https://user-images.githubusercontent.com/195896/86948040-9e750100-c11a-11ea-8484-e857441f3766.png)

[2020-07-08 17:15] jjavierdguezas commented on #295
The issue here is with the `Tilt Device` button which is not working with this special device
In the image shared by @stevedesmond-ca it can be seen that the button was pressed, tso the dimension shows HxW instead of WxH
When the button is not pressed the info displayed is valid
When the button is pressed the info flips but not the view, it also seems that this action is not allowed for this devic

[2020-07-08 18:55] sebasrodriguez opened #297 "Screenshot > Fixed footer is missing from screenshots"
Description:

When taking out pictures for any resolution on a page that contains a fixed footer the footer is missing from the final picture.

I've noticed that as soon as it starts to take the pictures the footer is removed and only added back again once all the pictures are taken.

[2020-07-08 19:23] stevedesmond-ca commented on #295
Thanks for the clarification, indeed the "half-working but appearing disabled" icon was not obvious!

[2020-07-09 06:30] chaitaliss opened #298 "App does not run on windows 7"
Downloaded and launched but it displays blank page.

See the screenshot attached.

![image](https://user-images.githubusercontent.com/30620931/87004857-bc566a80-c1db-11ea-83fb-dcde2578f0fd.png)

[2020-07-09 08:58] jjavierdguezas commented on #298
hi @chaitaliss I couldnt reproduce it
![image](https://user-images.githubusercontent.com/13673443/87018970-51ecfc80-c1d2-11ea-9af2-450025b1bafc.png)

- Which version of Windows 7 do you have? (Win+R , type winver then hit ENTER)
- Can you share the info in the About dialog of Responsively? (press F1 inside Responsively)
- Which version of .NET Framework do you have installed (I think it should be

[2020-07-09 13:13] manojVivek commented on #295
Even the re-sizable device should be allowed for rotation, I guess.

@kvnam Thoughts?

[2020-07-09 13:22] manojVivek commented on #297
@sebasrodriguez Yes, we remove all the `fixed` position elements when we try to take a screenshot.

Since only visible sections can be captured, for longer pages we take multiple screenshots at different scroll positions and then stitch them all together to form the full page screenshot.
In this process, if the `fixed` position elements are not hidden, it will be captured at each of the intermedia

[2020-07-09 13:44] manojVivek commented on #294
@BraydenTW thanks for raising this, can you please add more details on what kind of SEO tips?

[2020-07-09 14:07] BraydenTW commented on #294
Yeah no problem. I was thinking of having a dedicated section for SEO tips (Mobile friendless, meta tags, keywords). Somewhat like issue #109 but have more of an emphasis on giving SEO tips. This would be great because it would be a “one-stop-shop” for this type of metrics section.

[2020-07-09 14:29] manojVivek commented on #294
Hm, I feel that will be a whole new project on its own. 😄
But yeah will add it on the Roadmap.

[2020-07-09 14:31] BraydenTW commented on #294
Oh ok 😅 I think you just gave me an idea 👍

[2020-07-09 14:31] #294 closed

[2020-07-09 14:54] kvnam commented on #295
@manojVivek @jjavierdguezas I agree, the rotation should work for this mode as well. Will get this in with the other fixes as well. Thanks guys!

[2020-07-09 15:04] prakashchokalingam commented on #286
Can you change my PR status from draft?

[2020-07-09 16:28] diego-vieira opened #300 "Add a way to save your preferences settings (workplace)"
When switching projects, you might not need all devices you configured.

If you are working on a project that it's an internal app, your end user might use Full HD monitors and iPhone/Android devices, in which case you need 3 device types.

However, if you are working on a project that your end user might have, mobile phones, table, full hd devices you will need to keep removing/adding your device

[2020-07-10 03:24] #290 closed

[2020-07-10 03:59] manojVivek commented on #300
@diego-vieira This is a great suggestion. Any ideas on how/where the workspace switcher can be placed in the UX perspective?

[2020-07-10 05:06] amanvijay96 commented on #289
It's like I want to send a request to the app and get the required screenshot. So how do I do it?
Is there an API available for integration?

[2020-07-10 05:20] manojVivek commented on #289
No @amanvijay96, we don't have that kind of integration. For now, you need to manually load the URL and create screenshots.

[2020-07-10 05:25] chaitaliss commented on #298
Hey, I am able to view it today, not sure why it was not working. I took long time to load screens on app then it loaded.
As it loaded now on win 7 hence closing this ticket.

[2020-07-10 05:25] #298 closed

[2020-07-10 08:41] amanvijay96 commented on #289
is there any API reference available for responsively?

[2020-07-10 10:35] manojVivek commented on #289
@amanvijay96 There are no APIs as such, just a Desktop App.

[2020-07-10 10:54] #289 closed

[2020-07-10 12:34] amankkg opened #302 "CSS media query weird match behavior using min-width"
# environment
Responsively 0.6.1
Ubuntu 20.04 based Linux

# problem
In order to match a device width using `(min-width: 768px)` (iPad) media query I have to write 762 instead of 768. Same with other values for given rule.

## reproduction

Let's match 5 built-in devices: iPhone 5/SE (default, 320x568), iPhone X (375x812), iPad (768x1024), iPad Pro (1024x1366), Laptop HiDPI (1440x900)

### markup

[2020-07-10 14:22] ruisaraiva19 commented on #302
This happens on both `v0.6.0` and `v0.6.1` versions.

[2020-07-10 15:37] diego-vieira commented on #300
### Workspace Switcher
I have just done this one btw (copy of layout selector)

![image](https://user-images.githubusercontent.com/930792/87171873-374a7e80-c2cb-11ea-8197-458fb7a67b05.png)

### Workspace Name
Here workspace `Project 1` could be a dropdown as well with a `X` button. Just an idea.
The principle is the same as layout selector.

![image](https://user-images.githubusercontent.com/93079

[2020-07-11 05:32] #240 closed

[2020-07-11 16:43] esprush opened #305 "duplicate handler 'install-extension'"
In Mac, install-extension is attempted twice which should not be the case

[2020-07-12 01:35] manojVivek commented on #300
@diego-vieira Love these. 👏
Fits the concept in both places perfectly.

Please let me know if you want to work on it, I'll assign it to you.

[2020-07-12 03:23] #264 closed

[2020-07-12 03:23] #305 closed

[2020-07-12 06:30] richosr opened #307 "Add an option in user preference to configure screenshots location"
The destination for screen shots needs to be configurable.

Writing to the protected desktop is not good practice and is flagged by Anti-Virus software as BAD!

![image](https://user-images.githubusercontent.com/992654/87240428-bc58a380-c443-11ea-8c19-53501fc9ef4a.png)

Steve

[2020-07-12 06:41] manojVivek commented on #307
@richosr Thanks for raising this, adding it to the roadmap.

[2020-07-12 06:48] manojVivek commented on #248
@MeStrak With `v0.6.0` we shipped an update to handle new tab requests by opening a new electron window. Can you check if this issue is resolved by that?

Also, it would be great if you could give us a sample URL to test this out.

[2020-07-12 08:12] diego-vieira commented on #300
@manojVivek yes please, I'll have a go next week. thanks

[2020-07-12 10:31] manojVivek commented on #300
Done.

[2020-07-12 11:54] MeStrak commented on #248
I just tested it and it's working, thanks a lot!

The first time I tried I'm not sure if there was a bug or if the popup appeared behind the main app and I didn't see it. After that I restarted the app and the login worked as expected.

Unfortunately this is actually an internal app so I'm unable to share it. I haven't been able to find another example with the same issue.

I have an open source p

[2020-07-12 11:54] #248 closed

[2020-07-12 13:26] manojVivek commented on #248
Glad it worked! :)

[2020-07-12 13:59] jalejandro0211 commented on #248
Hi, @manojVivek  doesn't work, :( can you try this page: ([https://armand1m.github.io/react-with-firebase-auth/])

I'm using Firebase authentication with react, in my local project but with this page returns the same error:

Try to log on with google option... and the console log returns:

**Code**: "auth/popup-blocked",
**message**: "_Unable to establish a connection with the popup. It may have b

[2020-07-12 14:03] manojVivek commented on #248
@jalejandro0211 Are you seeing the following message in the google signing popup?

If you are already login, please log out once and then try to log in. Let me know if you see this screen.

[2020-07-12 14:06] jalejandro0211 commented on #248
Hi, I restart my PC and open your app... and returns the same error
![image](https://user-images.githubusercontent.com/54046809/87248426-00857d00-c41f-11ea-93fa-f2c92900138f.png)

[2020-07-12 14:20] manojVivek commented on #248
@jalejandro0211 It is a compatibility issue between firebase and electron. This thread has more details: https://github.com/firebase/firebase-js-sdk/issues/2478

The firebase team replied that it doesn't support the OAuth login in electron. I don't think we will be able to do anything about it from our side. 😐

[2020-07-12 14:51] jalejandro0211 commented on #248
ohh 😐... ok tks

[2020-07-12 15:58] esprush opened #309 "Open folder only once when taking all devices screenshot"
**Issue:**
When taking screenshot for all devices. the screenshot folder opens for each device.

**Expectation:**
folder should open only once.

**Affects:**
Linux

[2020-07-13 13:41] manojVivek opened #312 "Design an image for social media preview(OG Image)"
Need an image designed that can be used as a preview image while sharing the website URL on social media.

I'm thinking something like this [image](https://lirp-cdn.multiscreensite.com/resource_center/dms3rep/multi/opt/og-image-960w.png) with the screenshot of the app and the logo and name on the top. But open to new ideas.

[2020-07-15 02:09] sebastianlp opened #313 "Zoom controls are hidden below devices tab in individual device mode"
When you are working with a setup like the image below (using a screen spliced by 2/3 and 1/3) and working with some devices to make the tab appears, you open the Zoom input, the submenu opens below the devices tab

Using this setup:
Version: 0.6.1
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Darwin x64 19.4.0

Image
![image](https://user-images.githubuserco

[2020-07-15 06:04] manojVivek commented on #313
@sebastianlp This is a terrible bug, thanks for reporting it. 👍

[2020-07-15 07:49] pajaydev commented on #313
@manojVivek  Shall I take this one ?.

[2020-07-15 09:48] manojVivek commented on #313
@pajaydev That would be awesome. Assigning it to you. 👍

[2020-07-15 15:49] kaknut opened #314 "Windows Blocking Download"
Windows defender is blocking the download and app has been marked unsafe. I'll suggest the product owner @manojVivek to fill out the Microsoft feedback form.

![1](https://user-images.githubusercontent.com/33004850/87567462-edee9a80-c6e1-11ea-81ec-3a0942ae0ddb.png)
![2](https://user-images.githubusercontent.com/33004850/87567441-e9c27d00-c6e1-11ea-84d5-d605b8ca4a95.png)
![3](https://user-images.gi

[2020-07-15 16:24] AmitKKhanchandani commented on #231
@esprush Correct,
So closing this issue as it would get fixed.

[2020-07-15 16:24] #231 closed

[2020-07-15 16:25] AmitKKhanchandani commented on #314
#151

[2020-07-15 16:35] #291 closed

[2020-07-15 16:35] #295 closed

[2020-07-15 16:35] #307 closed

[2020-07-15 16:35] #222 closed

[2020-07-15 17:33] manojVivek commented on #314
@kaknut This is a duplicate of #151, please watch for the updates there.
Thanks, @AmitKKhanchandani!

[2020-07-15 17:33] #314 closed

[2020-07-15 17:35] manojVivek commented on #231
@AmitKKhanchandani #222 went live in v.0.7.0, please update the app and then it should work. 👍

[2020-07-15 18:20] AmitKKhanchandani commented on #231
Perfect, let me try it out :)

[2020-07-15 19:29] atilacamurca commented on #228
Codesandbox for reproduction <https://codesandbox.io/s/cranky-feynman-l5l48?file=/index.html>

Open <https://xr5xg.csb.app/> on responsively-app

The first checkbox works. The second one doesn't.

Tested on

[code]

[2020-07-16 06:55] Nightliss opened #315 "0.7.0 - unable to install React Dev Tools"
OS: Win10 x64 Pro v2004
Resposively 0.7.0

Hey there,

I just installed latest version of Responsively (first time user) and I'm unable to install React Dev Tools:
![image](https://user-images.githubusercontent.com/30467858/87637106-09898d80-c742-11ea-9b7d-fa6d4ec016a4.png)

Redux DevTools have been installed just fine.

[2020-07-16 07:47] jjavierdguezas commented on #315
I can confirm that this is happening

[2020-07-16 08:12] jjavierdguezas commented on #228
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

The issue I noticed is related to this "checkbox inside a label" pattern (to get it checked when clicking on checkbox, label or the space in between)
[code]

But what I saw is that the check/uncheck action is not syncing correctly. I mean, when you click the checkbox on a device it works

[2020-07-16 08:22] jjavierdguezas opened #316 "When you toggle Dev Tools in Responsive Mode device it gets a colored border"
Electron: 8.3.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.18362

When you toggle Dev Tools in Responsive Mode device it gets a border with `#6e7bb2` color. Other devices do not.

![respdevice](https://user-images.githubusercontent.com/13673443/87645660-18763d00-c74e-11ea-9975-3567b16c9341.gif)

[2020-07-16 08:28] pajaydev commented on #315
@jjavierdguezas  am also able to reproduce, getting this error

[code]

[2020-07-16 10:00] fabiangigler opened #317 "Disable Event Mirroring Globally"
My issue comes up in the following use case:
I already have a workflow set up that is running browser-sync, to live reload the site across browsers and real devices in the local network. It is also set up to mirror events by default already.

By default when I click or scroll in Responsively, the events are mirrored twice, resulting in an endless loop of events repeating each other. Event mirrorin

[2020-07-16 11:59] mehrdad-shokri opened #318 "rpm distribution"
Hi, can I distribute this app as a  rhel/fedora rpm package?

[2020-07-16 14:47] geiras opened #319 "Inspect element, click instead of select"
When I'm trying to use the Inspect element feature to find the styles of a specific element, I expect that element to be selected on the Elements tab. What's happening is that, if the element has an action, that action is running.

Ex: I have a button, I want to inspect to check background color. If I change to Inspect element and then click on the button, the button will do its action.

Suggestio

[2020-07-16 15:01] geiras opened #320 "UX: Remember Zoom level"
**Problem**
On the screen that I usually use, both screens fit on the width if the zoom level is 70%. Every time that I close and open the app again, it resets back to 60%.

**Solution**
Remember zoom level when the app is closed and opened again.

[2020-07-16 15:47] manojVivek commented on #320
@geiras Great suggestion, will add it to the roadmap. 🙌

[2020-07-16 15:51] manojVivek commented on #318
@mehrdad-shokri Appreciate any help with that. 🙏

[2020-07-16 15:56] manojVivek commented on #319
@geiras Thanks for raising this. Yeah, we are aware of it. This doesn't happen for all elements but yeah for some elements the inspection click triggers the click action.

The solution is to integrate the chromium native elements inspector for this option. And it is being dealt in #202.

Duplicate of #202. Please watch there for updates.

[2020-07-16 15:56] #319 closed

[2020-07-16 16:01] geiras commented on #320
No problem! UI/UX designer here using the app to QA on designs. Will create more issues if I find the need for.
Thanks for making this app possible. I would love to replace the browser as my go to tool when doing QA.

[2020-07-16 16:03] manojVivek commented on #317
@fabiangigler This is a bug that got introduced in the latest release v0.7.0. That is causing the disable event mirroring to not work and it is being looked into by @esprush. Meanwhile, you can download [v0.6.1](https://github.com/manojVivek/responsively-app/releases/tag/v0.6.1), if this is blocking you.

But nevertheless, we'll take this as a requirement to add an option to globally disable event

[2020-07-16 16:03] geiras commented on #319
I searched for a similar issue before opening this one and I couldn't find it. I suspected it was a deeper issue and a bit more complicated than what I said.

So far, it happened on all elements with a link/action.
Will keep an eye on #202 for updates.

Thanks.

[2020-07-16 16:04] manojVivek opened #321 ""Disable event mirroring" not working after moving to browser-sync"

[2020-07-16 16:04] manojVivek opened #322 ""Disable event mirroring" is not working after moving to browser-sync"

[2020-07-16 16:09] manojVivek commented on #320
Thanks for the support and keep these coming. 🙂

[2020-07-16 16:18] manojVivek commented on #45
Fixed in #222

[2020-07-16 16:18] #45 closed

[2020-07-16 19:33] rossmoody commented on #312
Maybe something like this?

![responsively-2](https://user-images.githubusercontent.com/29072694/87714352-7f9ced00-c760-11ea-90b1-93fa4ab5053b.png)
![responsively-1](https://user-images.githubusercontent.com/29072694/87714359-81ff4700-c760-11ea-8a0d-3c566525fb0c.png)

[2020-07-16 22:36] sebasrodriguez commented on #302
I've investigated this issue a little bit and it seems that the problem is that the scrollbar size is not being taken into account so the actual viewport size is lower than the device.

On this screenshot I'm with a 375 px width iPhone X but the body size is only 354 px.

<img width="1552" alt="Screen Shot 2020-07-16 at 19 32 10" src="https://user-images.githubusercontent.com/1605931/87729246-4209

[2020-07-17 00:36] jzabala commented on #320
I would like to try this one!

[2020-07-17 08:45] manojVivek commented on #315
Any reason why this is only happening for this extension? 🤔

[2020-07-17 08:53] jjavierdguezas commented on #315
https://github.com/MarshallOfSound/electron-devtools-installer/issues/141 👀👀

[2020-07-17 08:55] manojVivek commented on #312
@rossmoody thank you so much for mocking these up. These look great! I like the second one especially.
Do you think we should make the name a little bigger?

[2020-07-17 18:11] manojVivek commented on #312
Something like this would be great:
<img width="564" alt="Screenshot 2020-07-17 at 11 39 32 PM" src="https://user-images.githubusercontent.com/1283424/87817627-ec120c00-c886-11ea-96f4-9d63580f9d7b.png">

[2020-07-17 18:14] rossmoody commented on #312
Yeah that looks totally incredible. I'll brb

[2020-07-17 18:43] rossmoody commented on #312
![responsively-3](https://user-images.githubusercontent.com/29072694/87820263-9efc4e80-c822-11ea-9c0b-291a1dad7d7c.png)

I pulled the blue from the UI buttons.

[2020-07-18 03:29] manojVivek commented on #315
@jjavierdguezas Great find! Looks like a fix went in `electron-devtools-installer v3.1.1` yesterday. I'll upgrade the version. 👍

[2020-07-18 03:40] #315 closed

[2020-07-18 03:41] manojVivek commented on #315
@Nightliss This will go live in next week's release.

[2020-07-18 03:45] manojVivek commented on #312
This is so cool @rossmoody! 😎 Thank you so much.
Can you also attach the source files please so that I can drop in screenshots previewing different websites?

[2020-07-18 12:27] manojVivek commented on #313
@pajaydev @sebastianlp's PR is fixing it, you haven't looked into it.
Closing this issue with it.

[2020-07-18 12:29] #313 closed

[2020-07-18 12:44] manojVivek commented on #320
@jzabala Thank you! Assigned it to you. 🙌

[2020-07-18 16:52] andronocean commented on #302
Bug persists in 0.7.0. It seems to be connected to the value of the "responsive" checkbox. I created a custom iPad size, 768x1024, checked the responsive box, and the `<body>` gets the correct width of 768px.

With the box unchecked it's consistently about 5-6 pixels short of the declared width.

[2020-07-18 18:22] rossmoody commented on #312
I made this in Figma. I can invite you as an editor if you'd like. What's your email? https://www.figma.com/file/rBP9Wb7pZmUFSo3tGu5gI2/Marketing?node-id=0%3A1

[2020-07-18 20:52] marcoscannabrava opened #328 "Persist scroll position across page reloads"
Everytime you save a file the screen refreshes and scrolls to the top.
- e.g. Building a footer component on responsively becomes pretty annoying as the page scrolls back to the top everytime I save.

[2020-07-19 02:17] manojVivek commented on #312
Or I can add you to responsively Figma account so that all the designs are in one place if you can send your email?
I'm fine either way, my email id is p.manoj.vivek@gmail.com

[2020-07-19 02:28] manojVivek commented on #302
@ruisaraiva19 @sebasrodriguez @andronocean Hey guys, thanks for the triage information.

With all the info, I'm able to figure out the cause for the issue, it is because of the `3px` device border, that is shrinking the device width by `6px`. I'll make a fix for this.

[2020-07-19 03:22] manojVivek opened #330 "List `Responsively App` as an item in the native `Open With` applications list for html files"

[2020-07-19 03:33] manojVivek commented on #302
Results after the fix:
<img width="1421" alt="Screenshot 2020-07-19 at 9 02 09 AM" src="https://user-images.githubusercontent.com/1283424/87866366-93ce2d80-c99e-11ea-9821-436b61a4678f.png">

@amankkg Thanks for reporting it, this will go live in the next release.

[2020-07-19 03:35] #302 closed

[2020-07-19 04:38] manojVivek opened #332 "Add a section on the website homepage about the "Responsively Helper" browser extension"
The website's code is in `website` folder of this repo and `npm install && npm start` would start it for local development.

A list of available pre-built UI components can be found by clicking the `Elements` link on this page: https://themes.getbootstrap.com/preview/?theme_id=19860.

Links to the extension:
Chrome Webstore: https://chrome.google.com/webstore/detail/responsively-helper/jhphiidjkoo

[2020-07-19 05:01] manojVivek opened #333 "Revamp the icon set with a fresh icons and a simplified `Icon` component to render the icons."
1. Curate an icon-set from https://icones.netlify.app/ the required icons for our app and generate a font file(can be easily done on this website).
2. Create a new `Icon` component that will take the icon name and render it.
3. Replace the existing icons with this new component.

[2020-07-19 05:24] manojVivek commented on #328
@marcoscannabrava You are suggesting the scroll position should be restored to the same after the reload?

[2020-07-19 05:25] #321 closed

[2020-07-19 12:37] jjavierdguezas commented on #330
maybe this can help
https://www.electron.build/configuration/configuration
![image](https://user-images.githubusercontent.com/13673443/87874764-d0188280-c9cc-11ea-9960-4094fc007c89.png)

[code]

[2020-07-19 21:11] marcoscannabrava commented on #328
Exactly. If you picture someone building a footer on a homepage you'll understand what I went through yesterday. Everytime I made a change I had to go to the Responsively.app tab and scroll back down to the footer. I think it's super important, honestly.
***Congratulations for the app. It's a game changer.***

[2020-07-20 08:00] #320 closed

[2020-07-20 08:05] manojVivek opened #338 "UX: Address Bar suggestion keyboard interaction"
Add the usual drop-down's keyboard interactions for the address bar suggestions:

1. `Up` and `Down` keys to highlight the items in the list
2. `Enter` key to navigate to the highlighted URL.

[2020-07-20 08:05] manojVivek commented on #338
@karthick3018

[2020-07-20 08:07] #269 closed

[2020-07-20 09:11] karthick3018 commented on #338
@manojVivek  thanks !

[2020-07-21 08:41] #103 closed

[2020-07-21 17:21] snwagbata opened #340 "App is flagged as unsafe by Microsoft Defender Smartscreen"
I tried to download the app in the new Microsoft Edge chromium browser and the Microsoft Defender SmartScreen flagged it as unsafe
https://imgur.com/a/UIVOB4E

[2020-07-21 17:31] rossmoody commented on #312
Ah, very cool! That's super rad actually, maybe there are other places I could assist.

[2020-07-21 17:31] rossmoody commented on #312
my email is `fiftyfivehis (at) gmail .com`

[2020-07-21 19:16] jjavierdguezas commented on #340
duplicated #151

[2020-07-21 21:36] snwagbata commented on #340
@jjavierdguezas my bad, I thought the issue had to do with Microsoft edge only

[2020-07-21 21:37] #340 closed

[2020-07-22 02:25] #316 closed

[2020-07-22 04:07] manojVivek commented on #312
@rossmoody  Done

[2020-07-22 14:21] manojVivek commented on #338
Also, we can add `ESC` key to close the suggestions.

[2020-07-22 14:23] manojVivek opened #341 "Add an option to clear the URL history(used for URL suggestion)"
Add a button to the user preferences that can clear the data that is used for the Address bar suggestions.

[2020-07-22 22:44] pajaydev commented on #341
@manojVivek  Shall I work on this ?. Do we have designs for this ?.

[2020-07-23 04:14] manojVivek commented on #341
@pajaydev Sure, assigning this to you!

For the design, we can add a button with `Clear Address History` text below the `Screenshot Path` input box in the UserPreferences section. Maybe we can add a top border to show the separation.

[2020-07-23 06:12] karthick3018 commented on #338
yeah that will be gud working on that too !

[2020-07-23 14:36] manojVivek commented on #338
@abakermi This issue was already picked up by @karthick3018. It would have been great if you could have picked an un-assigned issue. :)

@karthick3018 Do you mind if we go ahead with @abakermi's PR?

[2020-07-23 14:59] karthick3018 commented on #338
@manojVivek  your call manoj i've done with downshift  !

[2020-07-24 05:16] manojVivek commented on #338
Ok @karthick3018, let's go with @abakermi's PR this time then.

You can check out the other issues that we have. :)

[2020-07-24 11:04] manojVivek commented on #312
@rossmoody Thanks so much for your help on this one.

@all-contributors Please add @rossmoody for design.

[2020-07-24 11:10] manojVivek commented on #312
@sebasrodriguez Please join our community on Gitter - https://gitter.im/responsively-app/, for any discussions in the future.
Thanks again!

[2020-07-24 11:10] #312 closed

[2020-07-24 19:51] naher94 commented on #328
Ditto on this one!

[2020-07-24 19:58] naher94 opened #345 "Store zoom value between sessions"
would be awesome to store the zoom value between session. current behavior seems to reset to 60% zoom

[2020-07-24 20:01] ewazlak commented on #328
Upvote!

[2020-07-25 04:56] manojVivek commented on #345
Duplicate of #320

@naher94 This went live on v0.8.0. Can you please check if you are using the latest version of the app?

[2020-07-25 05:01] esprush commented on #318
@mehrdad-shokri does rpm in electron support autoupdate of new releases?

[2020-07-25 05:33] JasonLi-9933 opened #347 "App cannot be installed on Window 10."
The progress bar seems to stuck here forever. I am not quite sure if there is something wrong with my device. It works fine on my Mac.
![image](https://user-images.githubusercontent.com/64922370/88449692-ad87ce80-cdfd-11ea-914a-8e91ce8b8084.png)

[2020-07-25 05:52] manojVivek opened #348 "Quick screenshot option to capture the visible section(not full page) of the device"
Add an icon to the device toolbar to enable this functionality.

[2020-07-25 05:58] manojVivek commented on #348
@rossmoody Any icon suggestion for this one?

[2020-07-25 06:04] manojVivek opened #349 "Add page title to the Address Bar Suggestion items"
Show the title before the URLs in the suggestion panel like in chrome:

<img width="694" alt="Screenshot 2020-07-25 at 11 31 21 AM" src="https://user-images.githubusercontent.com/1283424/88450166-a0ed8f80-ce6a-11ea-8b4d-04d1eb56b31e.png">

[2020-07-25 09:41] jjavierdguezas commented on #347
@JasonLi-9933 I'll try later to reproduce it in a fresh Windows machine with the latest installer, but meanwhile Do yo have any antivirus installed?

[2020-07-25 13:22] jjavierdguezas commented on #347
couldnt reproduce it
tested latest installer from release page in a Windows Sandbox session and in a fresh Azure Windows 10 virtual machine
No antivirus (maybe the Defender, default one)
please provide more info

[2020-07-25 14:21] naher94 commented on #345
Hi @manojVivek I do have version 0.8.0 but it doesn't seem to store the zoom setting cross sessions. I there a specific action that has to be taken to keep it sticky?

Version: 0.8.0
Electron: 8.4.0
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Darwin x64 19.5.0

[2020-07-25 14:21] rafaykhawar09 commented on #328
Cool

[2020-07-25 14:44] jjavierdguezas commented on #328
hi @manojVivek maybe I can give this a try

[2020-07-25 15:18] manojVivek commented on #328
That is great, thanks @jjavierdguezas. 🙌

This might help: https://www.npmjs.com/package/electron-retain-webview-scroll

[2020-07-25 15:27] jagsbyteinception opened #350 "Load webpage once and use it across all devices"
Can we have an option that all network requests for a URL are made once and then the same responses are used across all devices?
Each device making its own set of requests increases loading time.

[2020-07-25 15:33] manojVivek commented on #345
@naher94 I'm attaching a screencast of how it works for me. Is it not working the same for way for you?

![zoom-level-recording](https://user-images.githubusercontent.com/1283424/88460489-28162400-ceba-11ea-88aa-823e17e235ee.gif)

[2020-07-25 15:37] manojVivek commented on #350
@jagsbyteinception Thanks for raising it.

But I'm afraid that is not possible with electron `webview`'s design. It is merely a chrome `webview` rendering and we don't have much control over customizing this behavior.

[2020-07-25 16:01] naher94 commented on #345
Same process exactly.. but seemed to have sorted its self out now... maybe a caching issue? Either way thanks for you help!

[2020-07-25 17:47] JasonLi-9933 commented on #347
I have an antivirus called McAfee. But it didn't give me any warnings. When I started installing, it was blocked by something called Windows Defender SmartScreen. But I unblock it eventually, and it starts installing and stuck there forever. Not sure if this is the issue. It didn't take up any CPU while installing so I am assuming it just stopped rather than loading slowly.

[2020-07-25 19:12] jjavierdguezas commented on #347
yeah I think this is related to #155
Maybe Defender is analysing some files or deleting them blocking or breaking the install

[2020-07-26 01:49] jzabala commented on #255
I'll like to take this one!

[2020-07-26 04:57] manojVivek opened #352 "UI components design revamp"
@rossmoody is working on a design mockup with fresh layout and icons.

Link to see the WIP: https://www.figma.com/file/XJUVfydg6YDaFMBos7prlT/UI-Components?node-id=36%3A2

[2020-07-26 05:22] manojVivek commented on #255
Awesome @jzabala. Thanks for the quick PR!

[2020-07-26 05:24] #255 closed

[2020-07-26 09:36] #202 closed

[2020-07-26 11:27] #318 closed

[2020-07-26 16:56] #345 closed

[2020-07-26 20:31] jzabala commented on #348
I'll like to work on this one. Let me know what icon to use for it.

[2020-07-27 05:15] manojVivek commented on #348
@jzabala Great, assigning this to you. 🙌

[2020-07-27 11:18] markovucurovic commented on #352
I am trying to download this app on linux, there is no any reference on how to do it. Can you help me?

[2020-07-27 11:27] manojVivek commented on #352
@markovucurovic I just replied to your twitter question.
Let's not hijack this issue as this is not relevant to the question. :)

You can open a new issue if you still face any problems after following that link. Thanks!

[2020-07-27 12:01] adisher opened #356 "Error: -324 ERR_EMPTY_RESPONSE on http://localhost:3000/"
I am using Windows 10 and recently found out this great looking app. I am developing a site in Reactjs and on loading my localhost:3000, the desktop app responds with an error `Error: -324 ERR_EMPTY_RESPONSE`.

Maybe I am missing a detail? Please guide me on it.

[2020-07-27 12:23] manojVivek commented on #356
@adisher It looks like the dev server is returning an empty response.

Are you sure the URL is loading fine on Chrome/Firefox?

[2020-07-27 13:53] #338 closed

[2020-07-27 19:51] naher94 commented on #352
icons are looking nice @rossmoody let me know if you ever need a design review as a fellow designer!

Would you be up for updating the branding as well have some ideas that might play really nice with the design language here and on the splash page? @manojVivek @rossmoody

If you are curious about my work: [https://rehanbutt.com](https://rehanbutt.com)

[2020-07-28 05:11] manojVivek opened #357 "Branding updates and splash page"
To discuss the ideas from @naher94 about the branding update and splash page.

[2020-07-28 05:11] manojVivek commented on #352
@naher94 I would love to hear your ideas on those as well. We can do it on #357 if you would like.

[2020-07-28 13:14] naher94 commented on #357
How some ideas around updating the branding to pull in the bright pink-red from the splash page. Related to that I was wondering if the hover color purple that is in the app had its own meaning. Might make sense to converge the pink-red and purple for brand consistency.

Also was thinking to update the logo that fit better with the new icon language and the tone of the application and the splash p

[2020-07-28 13:26] jjavierdguezas commented on #357
please keep the original icon and colors (but create a light theme)
I really don't like a colorful app

[2020-07-28 13:50] marcoscannabrava commented on #357
The current logo definitely feels a bit old school with that TimesNewRoman Rs... I also agree with jjavier about not having a colorful app to keep it clean and minimal.
If it's just the icon though I really like the suggestion. Perhaps converging to the more neutral duotone of the Splash Page (very-dark-navy-blue & pink-red) to unify the branding of the app?

[2020-07-28 13:56] jjavierdguezas commented on #357
I am not a designer, and yes the icon feels old school, maybe we need to give it more love, but the "responsive concept" (content adapted to device size) is really well represented with the Rs (and I don't see it in @naher94 propose)

[2020-07-28 16:48] manojVivek commented on #357
To be honest the bright pink-red from the website and the purple on the app are just random colors and don't really carry much meaning.

Is it possible to add a preview image with this logo on the app UI screenshot?

But I agree with others too, would prefer a less flashy logo.

@naher94  If you prefer more instant conversation we can connect on Gitter too: https://gitter.im/responsively-app/

[2020-07-28 17:15] #293 closed

[2020-07-28 17:53] manojVivek opened #360 "Deep Desktop integration for Linux"
Related discussion: https://github.com/manojVivek/responsively-app/pull/355#issuecomment-665179622_

[2020-07-28 17:54] #330 closed

[2020-07-29 15:48] jjavierdguezas commented on #250
I would like to review this issue now that we upgrade electron and chrome, but the URL no longer shows the same @SCallahan101

[2020-07-29 16:25] jjavierdguezas commented on #255
Electron: 9.1.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18363

@manojVivek  @jzabala  maybe we need to apply css styles to all scrollbars and not only the one of the `body`
![image](https://user-images.githubusercontent.com/13673443/88825757-3caf3080-d1c8-11ea-99df-f78c23695171.png)

![image](https://user-images.githubusercontent.com/13673443/888263

[2020-07-29 20:22] jzabala commented on #255
Yeah, that looks like a better solution. Thanks for pointing it out @jjavierdguezas. I can create the PR for that.

[2020-07-29 21:13] nasatome opened #363 "Adding a viewport "simulated real mode" with mockup"
This is just an idea, you can ignore it since one can simply grab and manually add these viewports, but the truth is that for my particular case it would be useful that in the case of iphones (and nexus 5x which is a very standard resolution mobile and is the one that uses Google Chrome for its lighthouse tests) there would be some selector to switch from resolution mode to real viewport mode. (si

[2020-07-29 22:49] SCallahan101 commented on #250
Oh sorry, gyazo limited number of saved photos. Maybe that's why it was
deleted. Do you want me to test it again?

Shannon C.
Thinkful Student
SDSU MPA of 2016
*My native language is American Sign Language. While I am bi-lingual, you
may notice English translation errors. Contact me if you have any questions
or need clarification.*

*"The cure for boredom is curiosity. There is no cure for curiosi

[2020-07-30 05:20] Kidcredo opened #365 "🐛: When using 'open with' on HTML files it loads google.com page instead of the HTML file."
![IwAKSPmTRP](https://user-images.githubusercontent.com/15522605/88883541-21720e80-d224-11ea-8883-51c6cabb05f6.gif)

[2020-07-30 05:37] manojVivek commented on #365
That is strange.
It tries to loads that file and then goes back to google.com.

@esprush Could this be because of the URL syncing?

@jjavierdguezas Any ideas?

[2020-07-30 06:38] gergobalogh opened #366 "Ssl certificate error when running over LAN"
Error 107.
ERR_SSL_PROTOCOL_ERROR.
I've disabled ssl verification in Responsively.
In chrome it works.
![image](https://user-images.githubusercontent.com/31627579/88889172-61e38380-d248-11ea-8931-27634e0077a1.png)

[2020-07-30 07:24] manojVivek commented on #366
@gergobalogh This is happening even after the "Disable SSL Validation" is checked in the preferences section?

[2020-07-30 07:25] gergo-balogh commented on #366
Wow that was a fast answer :+1:
 What more info should I provide?

[2020-07-30 07:27] gergobalogh commented on #366
Yes, as I've mentioned in my first comment. it is disabled.
![image](https://user-images.githubusercontent.com/31627579/88893565-36b06280-d24f-11ea-9f50-3e7346d48e24.png)

[2020-07-30 07:40] manojVivek commented on #348
@jzabala We can go with the below svg for the icon:
[code]

[2020-07-30 07:42] manojVivek commented on #366
@gergo-balogh Looks this error case is not handled by the SSL preference.
I'll check more and get back soon.

Meanwhile, is there a public URL with the same error that we can use to debug this?

[2020-07-30 07:46] gergo-balogh commented on #366
No. I'm running a local react project. If it helps maybe you could connect with Anydesk?
Thank you.

[2020-07-30 07:47] jjavierdguezas commented on #365
I cant reproduce it, @Kidcredo can you please share the files?

[2020-07-30 07:58] jjavierdguezas opened #367 "When HTML file has an # in the name, it does not open with responsively"
Electron: 9.1.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18363

- How to reproduce
1- create a valid html file in your file system
2- open it with responsively, it should go OK
3- rename the file and put a `#` somewhere in the name
4- open it with responsively, an `ERROR: -6 ERR_FILE_NOT_FOUND` appears

I don't know if this happens with other charact

[2020-07-30 08:02] jjavierdguezas commented on #367
it does not work from `Open HTML file` menu item nor from `Open with Responsively` OS menu

[2020-07-30 08:02] jjavierdguezas commented on #367
maybe we need to URL encode the filepath/filename

[2020-07-30 08:18] jjavierdguezas commented on #366
@gergo-balogh @gergobalogh  if you change `https://` by `http://` does it still giving you the error?

[2020-07-30 08:20] gergo-balogh commented on #366
That resolved the issue. Thank you!

[2020-07-30 08:24] jjavierdguezas commented on #366
I think your app does not respond to HTTPS requests (yet 😉)

[2020-07-30 08:29] #366 closed

[2020-07-30 14:58] jjavierdguezas commented on #365
Thats weird @Kidcredo , it works in my PC like a charm

I completed the `fun.js` Here you have the used files: https://we.tl/t-rCG0FduozF

![openwithissue2](https://user-images.githubusercontent.com/13673443/88938316-8b6ed000-d285-11ea-904c-145b5b95aa24.gif)

[2020-07-30 15:28] Kidcredo commented on #365
I am guessing this was because of some cache issue due to updating directly without uninstalling the 0.8.0 version first.
Just uninstalled and did a clean install now it seems to be working fine.

[2020-07-30 15:44] Kidcredo commented on #365
After the clean install it worked once and when I tried it again it happened again.
It happened again with the file you shared @jjavierdguezas
![9DtPEXVKBx](https://user-images.githubusercontent.com/15522605/88943673-4d6cae80-d27b-11ea-9f98-558d0700c745.gif)

[2020-07-30 16:30] jjavierdguezas commented on #365
Definitely something weird happens. I can see by myself that when you open a file using `Open with`, sometimes Responsively go a back to HOME_PAGE and the file, its like some race condition between redux state initialization and the open file logic. Somehow in my tests it always ends showing the desired file, but in your PC "got to home page" wins...

[2020-07-30 17:11] Kidcredo opened #368 "Uninstalling Responsively app on windows 10 does not remove cache and configuration setting"
Uninstalling the app does not remove cache and config files files from C:\Users\\[Username]\AppData\Roaming\ResponsivelyApp

[2020-07-30 17:18] jjavierdguezas commented on #365
I tried with multiple devices and in my PC it always works,

[2020-07-30 20:49] jzabala commented on #348
Awesome! Added to the PR 🙂

[2020-07-31 01:00] adisher commented on #356
Sorry for responding late! I got busy with the project. The URL `localhost:3000` works fine at Chrome until I launch it in Responsively App. Then it stops responding on both sides.

But then, if I change the port to let's say `localhost:3001`, it works fine on both sides. I've reproduced it twice now!

One more thing, my menu icon is set up in a way that it displays only on the small screens. But,

[2020-07-31 04:44] #348 closed

[2020-07-31 05:02] manojVivek commented on #365
@jjavierdguezas @Kidcredo It is possible it could be because of the URL sync.

Possible explanation:
1. One of the devices in the preview is lagging in rendering during the app load.
2. When the `address-change` event is triggered. It is failed in the lagging device because the `webview` is not ready.
3. Finally, when the lagging device loads the default URL(google.com), the URL sync is transmitti

[2020-07-31 05:18] manojVivek commented on #368
This might help: https://www.electron.build/configuration/nsis.html#custom-nsis-script

[2020-07-31 05:26] manojVivek commented on #356
This is strange. Maybe it is something specific in your project setup that is causing it?
Can you try opening the URL on both Chrome and Firefox? Just to confirm it doesn't happen there.

This is the intended behavior. We mirror events like click, scroll, etc. So the click mirroring is triggering the menu on iPad Pro.

[2020-07-31 17:35] manojVivek opened #369 "Open the App from the cli and load the url/filepath passed as the arg."
Sample Mac command can be:
[code]

[2020-07-31 17:56] manojVivek opened #370 "Add a way to show the user-permission requests by the webpage."
Currently, the user-permission requests for showing notifications/access to geolocation are being ignored and not shown to the app user.
Add a mechanism to show a prompt to the user about the request.

[2020-07-31 18:26] manojVivek opened #371 "Rename/Review desktop devices profiles to standard resolutions formats."

[2020-08-01 14:48] manojVivek opened #372 "Add file:// scheme to the address if entered URL can be detected as a filesystem path"
Right now the default protocol is `https://`, detect if the entered URL is a filesystem path use `file://`.

[2020-08-02 08:27] manojVivek commented on #234
@TatisLois, any updates on this one?

It is perfectly alright if you got busy, just let us know. :)

[2020-08-03 03:12] esprush commented on #328
@jjavierdguezas @manojVivek came across below option in browserSync. looks like they support this out of the box.
https://www.browsersync.io/docs/options#option-scrollRestoreTechnique

[2020-08-03 09:22] manojVivek commented on #328
@esprush  I think, this only applies when `browser-sync` is doing the reloading.

[2020-08-03 16:20] esprush commented on #328
just checked on the latest version and this works for me. @marcoscannabrava can you confirm?
cc: @manojVivek @jjavierdguezas think chrome 83 update handled this

[2020-08-03 16:46] Addin opened #374 "Screenshot blank image"
When you take a Screenshot, the image looks blank. I recorded a video with the problem.

https://www.loom.com/share/5e987c5779254d20bda8506e541c488d

[2020-08-03 19:36] chris-53 commented on #365
I am having the same issue. Watching this keenly in the hope someone finds a solution.

[2020-08-03 23:10] marcoscannabrava commented on #328
Awesome! It's fixed.

[2020-08-03 23:10] #328 closed

[2020-08-04 04:28] manojVivek commented on #374
@Addin Can you please add the app and platform details? (`Help` menu -> `About` -> `Copy`)

I checked your website from my laptop and it works fine, attaching the screencast below. So the above details will give us more ideas on what is wrong.

![2020-08-04 09-46-48 2020-08-04 09_50_07](https://user-images.githubusercontent.com/1283424/89252914-bf0c7a00-d638-11ea-8924-130f13706109.gif)

[2020-08-04 04:49] Addin commented on #374
Here's the data.

Version: 0.9.0
Electron: 9.1.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

[2020-08-04 13:57] esprush commented on #360
this is possible by doing below steps
1) create .desktop file for our application - (have to update this each time we release, also have to watch for appImage directory changes).
2) add an entry for protocol and 'open with' in mimeapps.list

limitation:
cannot undo above changes when user decides to remove appImage.

@manojVivek @jjavierdguezas what do you think?

[2020-08-04 14:43] manojVivek commented on #360
@esprush  That seems a little complicated. I would suggest we hold on implementing it before a user requests it.

[2020-08-04 16:25] esprush commented on #360
on installing using AppImageLauncher:

for reference:
it makes the app searchable like other install applications. but does not support protocol and open with handlers.
(even otherwise asking users to install another application to use ours, I feel is an overhead).

[2020-08-04 16:30] frankie-tech opened #376 "Strange issue rendering web font"
When loading the Google Font WorkSans, [GF Page](https://fonts.google.com/specimen/Work+Sans) & [GitHub Repo](https://github.com/weiweihuanghuang/Work-Sans), the "A" character renders incorrectly. See image:

![image](https://user-images.githubusercontent.com/26461046/89318007-3697d480-d64c-11ea-85f9-afefeb57bfde.png)

If I open the same web page in Chrome, the issue is not there. There is an [iss

[2020-08-04 17:25] #371 closed

[2020-08-04 17:34] manojVivek commented on #376
@frankie-tech It looks more like a bug in the font version and has nothing to do with the app.

We will rollout Chrome 84 in the future releases and that might fix this on the app. But having said that, the root cause is the font file.

Please let us know if we can do anything else.
I'm going to close this as we can't do much about it.

[2020-08-04 17:34] #376 closed

[2020-08-04 17:40] manojVivek opened #377 "Add an option to do text search in the rendered devices"
1. `Cmd/Ctrl` + `F` should open the search box like chrome.
<img width="359" alt="Screenshot 2020-08-04 at 11 05 24 PM" src="https://user-images.githubusercontent.com/1283424/89326141-79d36100-d6a7-11ea-82f9-3fe0f37397d7.png">

2. Any user interaction can invoke the electron API to highlight the search text: https://www.electronjs.org/docs/api/web-contents#contentsfindinpagetext-options

[2020-08-04 18:05] manojVivek opened #378 "Support device's pixel density configuration"
Right now the devices DPI factor is not emulated, figure out a way to fix it.

[2020-08-05 07:54] manojVivek commented on #374
@Addin I have tried it with the same setup and it worked for me.

Is it possible there is any permission problem in your system?
If not, can you also try re-installing the app?

[2020-08-05 14:43] kushal98 opened #379 "Not showing responsiveness"
Hey,

I tried running a html page which is built using aframe and I noticed when I make some changes in one screen its not changing in other screens.

Thanks

[2020-08-05 15:40] Addin commented on #374
I re-installed the app and now it's in a loop when a screenshot is taken 😢

![image](https://user-images.githubusercontent.com/6179522/89433512-0b72bb00-d708-11ea-9a55-696eae876230.png)

[2020-08-05 15:59] jjavierdguezas commented on #379
hi @kushal98 what do mean by "make some changes in one screen"? are you modifiying the html code in one device via devtools?

[2020-08-06 09:47] manojVivek commented on #374
@Addin Can you try changing the `Screenshot Location` to a different folder, on the `User Preferences` on the left side?

[2020-08-06 17:31] Addin commented on #374
Bingo! changing the image location works.

[2020-08-07 02:17] manojVivek commented on #374
Great, closing this issue.

[2020-08-07 02:17] #374 closed

[2020-08-07 12:50] tpikachu commented on #315
`Warnings loading extension at /Users/XXXXX : Unrecognized manifest key 'browser_action'. Unrecognized manifest key 'minimum_chrome_version'. Unrecognized manifest key 'update_url'. Cannot load extension with file or directory name _metadata. Filenames starting with "_" are reserved for use by the system.`

v: 3.1.1

[2020-08-07 16:35] manojVivek commented on #315
@tpikachu These are warning because those fields in manifest are not recognized by electron, but the extension should still work fine.

[2020-08-07 16:46] manojVivek commented on #300
Hey @diego-vieira, did you get a chance to give this one a try? :)

[2020-08-08 07:13] richosr2 opened #382 "Screenshots not showing all background images/colours correctly"
When getting screen shot some images/colours not showing correctly:

example page:
![image](https://user-images.githubusercontent.com/65107678/89704753-f359a080-d980-11ea-91c5-7bb3ff0c1a07.png)

Screen shot from program looks like:
![image](https://user-images.githubusercontent.com/65107678/89704783-4895b200-d981-11ea-9eec-a5c47f9f0e12.png)

regards
Steve

[2020-08-08 11:56] manojVivek commented on #382
@richosr2 Can you please share a sample page URL to test it?

Related note: If that purple background image is `position: fixed` then that will not be displayed while taking the screenshot.

[2020-08-08 12:04] manojVivek opened #383 "Show current device name in the devtools panel and also add a option to switch between devices"

[2020-08-08 12:35] richosr2 commented on #382
http://myphpsite.co.uk/1digitalis/

[2020-08-08 14:18] manojVivek commented on #382
@richosr2 It is because that image has `position: fixed` set on it.

[code]

The app hides those elements while taking the screen, that is a requirement as fixed Position elements get repeated while capturing full-page screenshots.

[2020-08-08 14:23] manojVivek opened #385 "Add a user preference option to control if fixed position elements should be hidden while capturing the screenshot"
Right now we add `responsivelyApp__ScreenshotInProgress` class to the elements that have `position: fixed` as those elements get repeated during the full page screenshot.

But this is creating problems for some pages, so we need to make this hiding logic optional and let the user chose what is required for them.

[2020-08-08 14:24] manojVivek commented on #382
Created issue #385 to add an option to make this hiding configurable.

Closing this one, please watch for the updates there.

[2020-08-08 14:24] #382 closed

[2020-08-08 14:25] manojVivek commented on #297
Created issue #385 to add an option to make this hiding configurable.

Closing this one, please watch for the updates there.

[2020-08-08 14:25] #297 closed

[2020-08-08 14:27] richosr2 commented on #382
But if take screenshot with Firefox screenshot, the sshot is perfect;

![image](https://user-images.githubusercontent.com/65107678/89712875-e14a2300-d9bd-11ea-812f-99936693f0c7.png)

[2020-08-08 14:28] manojVivek commented on #382
Yes, that is right. We will make a workaround in #385.

[2020-08-10 04:59] manojVivek opened #386 "Add a CSS editor that can used to quickly apply CSS for each device and then copied later to paste it to the codebase"
Add a CSS Editor panel(Maybe in the sidebar?) that should allow the user to do quick CSS designing.

Quick pointers:
1. If the user has 3 devices in preview, this panel can have 4 tabs/sections: `All`, `Device1`, `Device2`, `Device3`.
2. All CSS in these 3 panels should be combined(using media query conditions) and then apply it to all devices.
3. Changes should be applied as and when the user typ

[2020-08-10 12:32] diego-vieira commented on #300
@manojVivek sorry for the delay on that, big project the last couple of weeks and holidays at the moment. If there is anyone else that wants to move on with it, I'm happy with that. I should have some spare time towards the first weeks of September. Thanks

[2020-08-10 13:03] manojVivek commented on #300
Cool @diego-vieira. No worries. Just checked. :)

Will keep this thread updated if anyone is taking this.

[2020-08-10 14:20] crperezt commented on #385
Could I take a crack at this? Were you thinking of a checkbox in the User Settings saying "Remove fixed position elements from full screenshot" or something like that?

[2020-08-10 15:44] manojVivek commented on #385
@crperezt Awesome! That is exactly what I have been thinking. 😀
Shall I assign this issue t you if you are going to give it a go?

[2020-08-10 15:53] crperezt commented on #385
That'd be great, thank you! Already started on it.

[2020-08-12 01:04] jzabala opened #388 "Persistent hover effect when Toggle Touch Mode button is activated."
As described on https://github.com/responsively-org/responsively-app/issues/232#issuecomment-652340907 by @jjavierdguezas

![touchmodeissue2](https://user-images.githubusercontent.com/13673443/86234807-c521bd80-bb97-11ea-87ab-449752c6d93d.gif)

_Note: moving this to its own issue since it can be worked independently of the other problems reported on #232_

[2020-08-12 02:35] jzabala commented on #372
I'll like to take this one 🙂

[2020-08-12 11:48] manojVivek commented on #372
Great, thanks @jzabala 👏

[2020-08-12 15:54] #383 closed

[2020-08-13 09:25] #372 closed

[2020-08-13 13:27] lkusam opened #393 "Modals on the screens are displayed when taking a screenshot"
When taking a screenshot of a page with a modal pop up on the screen is  not included in the screen shot.
Happens to  regular screenshot also quick screen shot.
---

See the images for details took screenshots using the control center ( Header bar) and individual device screenshot as well as quick screenshot.

![Materializecss - Full - iPad - 2020-13-8 at 9 23 30 AM](https://user-images.githubuser

[2020-08-13 13:47] manojVivek commented on #393
@lkusam Thanks for raising this. This is already being worked on as part of #385.

For more details on why it is happening: https://github.com/responsively-org/responsively-app/issues/382#issuecomment-670934366

Closing this as a duplicate of #385. Please watch that issue for updates.

[2020-08-13 13:47] #393 closed

[2020-08-13 13:56] romanakash commented on #377
Can I work on this?

[2020-08-13 14:01] esprush commented on #377
@romanakash I have started on this. my bad did not update the status.

[2020-08-15 06:07] #385 closed

[2020-08-15 15:57] aUsefulMethod commented on #367
I can look into URL encoding and attempt this if there isn't anyone else working on it?

[2020-08-15 16:11] manojVivek commented on #367
@aUsefulMethod That would be awesome, please go ahead. 🙌

I'll assign this to you!

[2020-08-15 19:00] aUsefulMethod commented on #367
![Screenshot (42)](https://user-images.githubusercontent.com/34969195/90319649-9e2d0a00-deff-11ea-8aa5-34dc11493fcb.png)

Getting this response when running yarn dev from desktop-app

[2020-08-16 01:14] aUsefulMethod commented on #367
I'm so sorry, I'm on my laptop and I hadn't run npm install :/. I use too many devices. 🤦‍♂️

[2020-08-16 03:46] JohnRawlins commented on #349
Hi,
I am interested in working on this issue if nobody has already. Is there anything I need to know before submitting a pull request? Thanks in advance.

[2020-08-16 03:54] manojVivek commented on #349
@JohnRawlins Awesome, thank you so much for showing interest. I'll assign this to you. 🎉

I don't think there is any specific catch here, but some things to watch out for:
1. The search text should search the title text too.
2. The implementation should be backward compatible with the currently saved history data.

[2020-08-16 09:20] #332 closed

[2020-08-16 10:55] manojVivek opened #397 "Add a section on the website to list the contributors"
Add a section above the footer on homepage and downloads page like below:

<img width="1680" alt="Screenshot 2020-08-16 at 4 18 30 PM" src="https://user-images.githubusercontent.com/1283424/90332659-562fe500-dfdc-11ea-8bfe-c12a19c96bfa.png">

Inspired from this link: https://insomnia.rest/download/core

[2020-08-16 11:33] ns23 commented on #317
Hello

Can I work on this issue ?

[2020-08-16 11:44] Front-end999 commented on #347
Hello, I would like to ask, why do I turn off the antivirus software and application detection and still fail or still get stuck? Hello, I want to ask, why I turn off the antivirus software and application detection but still does not work or still get stuck?

[2020-08-16 13:22] manojVivek commented on #317
@ns23 That would be awesome 🎉

But you should be implementing this on top of https://github.com/responsively-org/responsively-app/pull/387 and not the current `master` branch.

Please let me know so that I can assign this issue to you. 👍

[2020-08-16 16:10] #322 closed

[2020-08-16 21:31] nuggetnchill commented on #397
I can try to tackle this!

[2020-08-17 07:43] ns23 commented on #317
Hi

#387 is merged into master , So I will be fixing this by create branch from master only right ?

Also can you please guide me to a  file where I should be looking in order to fix this issue?

[2020-08-17 10:05] mbondoso commented on #91
I currently have the same issue. our login is provided by external oauth service, once that page is opened it just goes refreshing non stop.

[2020-08-17 19:17] lepasq commented on #397
Hi, I'd like to work on this issue!
I've already had a look at [this](https://github.com/Kong/insomnia.rest/blob/master/src/partials/contributors.js) and [this fetch script](https://github.com/Kong/insomnia.rest/blob/master/scripts/fetch-metrics.js) and I will try to implement the contributors list in a similar way.

[2020-08-18 02:30] jzabala commented on #397
@lepasq Thank you! Assigned it to you. 🙌

[2020-08-18 03:20] jzabala commented on #237
Closed by #259

[2020-08-18 03:20] #237 closed

[2020-08-18 11:36] manojVivek commented on #317
Yes right.

You can implement this in the same way how the screenshot option in the toolbar is implemented. You can start from here: https://github.com/responsively-org/responsively-app/blob/master/desktop-app/app/components/ScrollControls/index.js#L58

[2020-08-18 14:21] manojVivek opened #402 "[UX] - Improve the device manager workflow and make it easier to add, delete or re-arrange devices in preview"

[2020-08-18 14:31] manojVivek opened #403 "Show alert of some kind that SSL validation can be disabled whenever the page load fails because of SSL validation."

[2020-08-19 10:03] lepasq commented on #397
Hello again! I've worked on the contributors list for quite a while now, and this is the result that I got:
![screenshot-2020-08-19_11:56:33](https://user-images.githubusercontent.com/53230128/90620692-1272f080-e213-11ea-9f1c-2075b537947f.png)

When hovering over an avatar, a small textbox, containing the username and the contribution stats, will be displayed.
![screenshot-2020-08-19_11:59:12](htt

[2020-08-19 10:46] manojVivek commented on #397
@lepasq Awesome! 🎉

I think you can add it to the `custom.css` file.

Also, can you please move this section above the `Start building beautiful websites` block:

<img width="1396" alt="Screenshot 2020-08-19 at 4 14 52 PM" src="https://user-images.githubusercontent.com/1283424/90625486-47913a00-e237-11ea-9ad3-8272d113c11e.png">

[2020-08-19 11:05] lepasq commented on #397
![screenshot-2020-08-19_13:03:23](https://user-images.githubusercontent.com/53230128/90627557-67673480-e21c-11ea-80b3-db4db1e0ad33.png)

@manojVivek Thanks for your quick reply!

This is where I moved the section. Does it come up to your expectations?

[2020-08-19 11:20] manojVivek commented on #397
@lepasq I was thinking this can be between that light purple and black section(not combined to the browser extensions block). With just the white background.

[2020-08-19 18:11] eugenia-carlini opened #405 "Error message in-app"
Hi,

When open app, it shows me the following message error:

<img width="1138" alt="error in app" src="https://user-images.githubusercontent.com/61878414/90673436-21b36780-e22e-11ea-964d-2eceb7b88c2c.png">

Regards.

[2020-08-19 18:25] jjavierdguezas commented on #405
hi @eugenia-carlini , could you copy paste the text of the error (the image does not show all of it)?
also, could you provide more info about your environment (OS, etc), and are you using an official release or are you playing around with the code?

[2020-08-20 03:49] #349 closed

[2020-08-20 04:02] manojVivek opened #407 "Improve the App's crash page to have instructions on how to report the issue."
Right now the crash page just shows the error stacktrace as a string in a single line:
<img width="1138" alt="90673436-21b36780-e22e-11ea-964d-2eceb7b88c2c" src="https://user-images.githubusercontent.com/1283424/90715361-a56d6280-e2c7-11ea-8901-b3d57e91c0b2.png">

The improved version can have the following:
1. Show a clear message that the app has crashed
2. Add instruction stating a Github issue

[2020-08-20 05:16] ns23 commented on #317
Okay.. I will start working on it ..

[2020-08-20 05:20] manojVivek commented on #317
Great, assigning it to you then. 🎉

@ns23  Please joining our Slack workspace if you want to discuss any questions you might have: https://join.slack.com/t/responsively/shared_invite/zt-h0ouywhs-IIeHj39ymz5IOrgcOa_tRA

[2020-08-20 08:52] gorogoroumaru commented on #407
Hello, thanks for this awesome software!
I'm new to contribute and I have no idea about how to show this crash page.
Could you tell me about this?

[2020-08-20 09:46] jjavierdguezas commented on #407
hi @gorogoroumaru and welcome
from the top of my head: just throw an Error inside any component in the renderer process

[2020-08-20 10:08] lavonbgrant opened #408 "Full Page Screenshot Not Working"
I am trying to take a screenshot for a general laptop of our home page but it is not working. While it goes through the entire process from "taking" to "processing" to "complete" -- no actual screenshot is taken.

I have uninstalled and reinstalled and trying clearing the cache folder. I have also tried moving the screenshot folder to several places. Nothing works. Please advise .

[2020-08-20 10:37] jjavierdguezas commented on #408
hi @lavonbgrant
Could you share your environment settings (OS, etc)? (press F1 inside Responsively and copy-paste the info showed)
Do that website has a public URL in order to reproduce with it?
Do this happened only for that website or it happens with other public websites (if so please share)?

[2020-08-20 10:44] gorogoroumaru commented on #407
Thank you!
I will try.

[2020-08-20 11:36] jjavierdguezas commented on #407
@gorogoroumaru awesome, should I assign you this issue?

[2020-08-20 12:09] #397 closed

[2020-08-20 13:12] gorogoroumaru commented on #407
Sorry, @jjavierdguezas.
I couldn't show the crash page.
Could you give me a code example to show this?

[2020-08-20 13:30] manojVivek commented on #407
@gorogoroumaru Can you please try adding `throw new Error('test');` on https://github.com/responsively-org/responsively-app/blob/master/desktop-app/app/components/Addressinput/index.js#L67

Also, please feel free to join your slack workspace for any questions: https://join.slack.com/t/responsively/shared_invite/zt-h0ouywhs-IIeHj39ymz5IOrgcOa_tRA (edited)

[2020-08-20 13:32] jzabala commented on #407
@gorogoroumaru the problem is that in `development` we don't show that page. Go to:

https://github.com/responsively-org/responsively-app/blob/6fd99970e9604fa7a89ca6e5abaf760def48d8a5/desktop-app/app/containers/Root.js#L59

and comment the `if` statement. Now, you can throw an error (`throw new Error('Foo')`) from any component.

Let us know if you want to give this issue a try to assign it to you

[2020-08-20 13:43] gorogoroumaru commented on #407
Thank you so much @manojVivek  and @jzabala!
I tried your suggested approach, but the screen blacked out and I cannot see the crash page.
Could you help me?
I'm sorry for asking many times.

[2020-08-20 13:48] jjavierdguezas opened #410 "Address bar suggestions do not work with initially highlighted item"
Electron: 9.1.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18362

- How to reproduce:
  1- Start typing in the address bar to trigger suggestions
  2- Without moving or selecting anything, press `ENTER` to go to the highlighted website
  3- Responsively will go to the incomplete url instead of going to the highlighted website

Do not highlight any item

[2020-08-20 13:49] lavonbgrant commented on #408
Jose,

Here’s the information requested:

Version: 0.11.0

Electron: 9.1.1

Chrome: 83.0.4103.122

Node.js: 12.14.1

V8: 8.3.110.13-electron.0

OS: Windows_NT x64 10.0.19041

The screenshot feature doesn’t work on any site, including https://www.google.com/

Thanks!

From: José Javier Rodríguez Zas <notifications@github.com>
Sent: Thursday, August 20, 2020 5:38 AM
To: responsively-org/responsively

[2020-08-20 13:53] jzabala commented on #407
@gorogoroumaru sure, no worries.

Commenting the if in `Root.js`

![Screen Shot 2020-08-20 at 9 50 34 AM](https://user-images.githubusercontent.com/1315054/90778572-caafa000-e2ca-11ea-809f-e5651f9f2988.png)

Throwing error in `WebView/index.js`

https://github.com/responsively-org/responsively-app/blob/6fd99970e9604fa7a89ca6e5abaf760def48d8a5/desktop-app/app/components/WebView/index.js#L812

I get

[2020-08-20 13:59] gorogoroumaru commented on #407
Thank you!
I will make a pull request in a few days.
Could you assign me this issue?

[2020-08-20 13:59] jjavierdguezas commented on #408
Sorry @lavonbgrant  I can't reproduce it, and the fact that it does not work on any site suggests me that it is something specific of your environment.
Any other information you can share will help us
For example:
- Can you share a video/gif of the problem?
- Are you admin in this Windows PC ?
- Did you try to open Responsively as Admin?
- Do you have any antivirus installed? If so, try stopping i

[2020-08-20 14:02] jjavierdguezas commented on #407
great @gorogoroumaru assigned to you

[2020-08-20 14:17] eugenia-meli commented on #405
Hi @jjavierdguezas! How are you?

I couldn't copy/paste the message error from the app. Because of that, I took a screenshot. The entire error says the following:

![image](https://user-images.githubusercontent.com/59061738/90783261-3c411b80-e2d6-11ea-94b4-58f9b65306c0.png)

My environment is macOS Catalina 10.15.4. I downloaded it from here: https://responsively.app/
If you need more data from my

[2020-08-20 14:19] lavonbgrant commented on #408
Jose,

Appreciate the prompt response--will attempt all of your suggestions and see if any work.

Thanks again!

LG

Get Outlook for Android

On Thu, Aug 20, 2020 at 8:59 AM -0500, "José Javier Rodríguez Zas" <notifications@github.com> wrote:

Sorry @lavonbgrant  I can't reproduce it, and the fact that it does not work on any site suggests me that it is something specific of your environment.

Any

[2020-08-20 14:20] eugenia-carlini commented on #405
Hi @jjavierdguezas! How are you?

I couldn't copy/paste the message error from the app. Because of that, I took a screenshot. The entire error says the following:

![image](https://user-images.githubusercontent.com/59061738/90783261-3c411b80-e2d6-11ea-94b4-58f9b65306c0.png)

My environment is macOS Catalina 10.15.4. I downloaded it from here: https://responsively.app/

Also, I took a screenshot ab

[2020-08-20 14:24] manojVivek commented on #405
@eugenia-carlini Can you please try running the following command in your terminal and then re-open the app?
```rm -rf ~/Library/Application\ Support/ResponsivelyApp```

[2020-08-20 14:27] eugenia-meli commented on #405
It definitely worked! Thanks @manojVivek.

Regards!

[2020-08-20 14:29] jjavierdguezas commented on #405
@eugenia-carlini glad that it worked, thanks @manojVivek
btw, we are addressing the crash view improvements in https://github.com/responsively-org/responsively-app/issues/407

[2020-08-20 14:31] eugenia-meli commented on #405
Great @jjavierdguezas! It's good to know! 👍

[2020-08-20 14:41] #405 closed

[2020-08-20 14:52] med1001 commented on #403
Hi,
Electron is based on Google's open-source Chromium.
In the chromium source code  in net_error_list.h they are listing all network errors

they write these lines in the beginning of the file:

// This file contains the list of network errors.

//
// Ranges:
//     0- 99 System related errors
//   100-199 Connection related errors
//   200-299 Certificate errors
//   300-399 HTTP errors
//   400

[2020-08-21 07:26] kaushalyap opened #412 "Flatpak version please"
Please consider [publishing to flathub](https://github.com/flathub/flathub/wiki/App-Submission#how-to-submit-an-app). Annoying thing about appimage version is have to

 - create desktop icon manually
 - update manually & update desktop icon accordingly

[2020-08-23 22:18] jzabala opened #414 "Remove routing dependencies."
Remove unnecessary routing dependencies (`react-router`, `react-router-dom` and `connected-react-router`) and all related code:

https://github.com/responsively-org/responsively-app/blob/6fd99970e9604fa7a89ca6e5abaf760def48d8a5/desktop-app/app/Routes.js#L19

https://github.com/responsively-org/responsively-app/blob/ddc790da2d127c1cd29fe6ff88e1ec99d83c1a33/desktop-app/app/reducers/index.js#L10

[2020-08-24 04:19] manojVivek commented on #414
Or maybe we can keep it and make better use of it.
Like integrating the user-preferences section to the router, so that the app's UI state can be restored via an URL?

Just a thought.

[2020-08-24 13:47] jzabala commented on #414
Do you have an idea of a situation where we would use that? Because at all moments we have the user preferences in the store and for opening the app with specific args we could use something similar to the issue #369

[2020-08-24 17:16] manojVivek commented on #414
Not really, I don't have a real use-case. Just speculation, if we ever need to control the app UI from an external URL or something like that.

In this case, we will have to manually manipulate the values in the store to reflect the required state right?
I guess, passing a specific URL to load(in the below line) and letting the router do the rest would be taken care of by the router.

https://gith

[2020-08-24 18:09] jzabala commented on #414
Doing it via the url or in other way, I think the code that takes those values and manipulate the store needs to exists somewhere. The only thing we'll be changing is from where the values are coming from.

I get that the libs are already in the app and they don't bothered anyone, but if we are not using them they are just making the app a little (very very little) heavier and slower (since it is

[2020-08-24 18:14] #410 closed

[2020-08-25 00:22] mrfelfel commented on #369
Can you explain more? I read the source
But there seems to be such a feature in the system. So what exactly does the openWithHandler function do?

[2020-08-25 01:20] jzabala commented on #386
@manojVivek I have been thinking a little about this feature. What would you think about a design like this:

![css editor](https://user-images.githubusercontent.com/1315054/91111517-b2cf7780-e64e-11ea-86b5-dd38627586c7.png)

- Instead of tab we use checkboxes.

- Selecting all selects `all checkbox` + all devices checkboxes

- Unselecting 1 checkbox, other than all, unselects that checkbox + `all

[2020-08-25 02:57] manojVivek commented on #386
@jzabala I was thinking about something like this, let me know your thoughts:
![css_editor](https://user-images.githubusercontent.com/1283424/91117590-98c48200-e6ac-11ea-9ecd-0e3cef61fbfd.png)

Here is the Figma link: https://www.figma.com/file/a4DGDidgygGlsrTpC9JGuc/CSS-Editor?node-id=3%3A17

[2020-08-25 03:15] jzabala commented on #386
@manojVivek I see. That definitely looks better than mine 😂

A user using this tool will probably just copy the whole thing and paste it in the css file. What would you think about only using the big `All screens` and use `Add Screen` to add the media query at the end? I know the `Copy Styles` will probably do that but if I were typing I'll just do `Command+A`, `Command+C` and back to my editor.

[2020-08-25 04:44] manojVivek commented on #386
Yeah `Command+A`, `Command+C` will be a use-case we should definitely cover.

Is it possible to achieve that without making it a full-text field? Something like a content editable div?
Just feel having that separation would make it more intuitive than a single text field with CSS breakpoints.

[2020-08-25 05:57] manojVivek commented on #414
Yes, that makes sense. We can always add it back when required.

[2020-08-25 14:33] #367 closed

[2020-08-25 15:14] #242 closed

[2020-08-25 15:16] jjavierdguezas commented on #250
Yes @SCallahan101, it would be nice if you could test it again in order to close this issue or label it properly

[2020-08-25 15:56] jjavierdguezas commented on #369
Hi @mrfelfel, `openWithHandler` is a function developed as part of #330. When you use the `Open with ...` feature of the (Windows and Mac) OS it sends the path of the selected file as a cli arg (`process.argv[1]`)
So, right now you can do:
[code]
and it will open the file inside Responsively. It should work in Mac too

That only works for local files but we can extends this to anything customizabl

[2020-08-25 16:39] manojVivek commented on #369
Yeah, `path/to/Responsively.exe "path/to/file.html"` seems better.

[2020-08-25 17:29] manojVivek opened #420 "Show a warning in the Device manager when more number of devices(more than what the system resources can handle) are added for preview"
### Problem
Users adding more number of devices to the preview than their system can handle.

### Solution
1. Come up with a device per CPU value for optimal app functioning.
2. When the user adds more than what their system can handle, show a warning `Adding more than "x" devices may slow down the system. Are you sure you want to continue?`.

[2020-08-25 19:04] jjavierdguezas commented on #86
@123Peter789 @manojVivek  @jzabala can you reproduce this issue in the current release? I can't

Electron: 9.1.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18362

![image](https://user-images.githubusercontent.com/13673443/91216592-841cd400-e716-11ea-811e-fcaaadf15f20.png)

[2020-08-25 19:20] jzabala commented on #86
@jjavierdguezas I can't either but this was probably fixed by https://github.com/responsively-org/responsively-app/pull/364

Electron: 9.1.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

![Screen Shot 2020-08-25 at 3 16 00 PM](https://user-images.githubusercontent.com/1315054/91217764-093bc500-e6e6-11ea-9e99-9fc4126a8ef5.png)
![Screen Shot 2020-08-25 at 3

[2020-08-25 20:13] jjavierdguezas commented on #86
closing then

[2020-08-25 20:13] #86 closed

[2020-08-26 00:21] jjavierdguezas commented on #234
It's been like two months so I gave it a try (and it was tricky),
@TatisLois don't worry there are (and will be) more issues to solve. looking forward for your contributions in the future! 💪🏻

[2020-08-26 12:58] jzabala opened #423 "Improve Manage Devices view UX"
1. `CommandOrControl+F` (depending on the platforms) in this view should open and focus the search input.

![Aug-26-2020 08-51-42](https://user-images.githubusercontent.com/1315054/91305931-d04d3000-e779-11ea-9052-082d7bdf0f29.gif)

2. `Escape` with the search input focused should close it and not the whole view.

![Aug-26-2020 08-53-07](https://user-images.githubusercontent.com/1315054/91306044-0

[2020-08-26 15:36] manojVivek opened #424 "Screenshots v2"
The main reason behind this new screenshot mechanism is to get away with the logic of capturing portions of the screens and then stitching it all together to form the complete image.

V2:
1. Instead of capturing different sections of the page by scrolling to that location, we will temporarily increase the height and width of the `webview` to match the documents dimensions. This way `webContents.ca

[2020-08-27 02:21] jzabala commented on #386
It sounds like an interesting issue but no worries. Go for it 😁

I saw this React editor that we could use. Check the demo, it even has autocomplete.
https://github.com/securingsincity/react-ace

Yeah. If we have the separation I suppose a simple `Command+C` could do the trick only you have something selected. So, on `Command+C` if the user has a selection only that is selected otherwise everythin

[2020-08-27 08:14] #234 closed

[2020-08-27 13:32] jjavierdguezas commented on #403
Should we assign this to you @med1001 ?

[2020-08-27 13:35] jjavierdguezas commented on #369
Should we assign this to you @mrfelfel ?

[2020-08-27 13:44] jjavierdguezas commented on #252
@be222dd are you still working on this? if you aren't please tell us to assign this to other. If you are still working on this, please take a look on #426 and see how I managed to open only one modal and handle related prompts when one of them is resolved. That way this should be fixed:

[2020-08-27 14:35] manojVivek commented on #386
Cool, will check it out. I was thinking of https://microsoft.github.io/monaco-editor/. Will compare both and select one.

Can you please explain this a bit? How will we copy everything when there is no selection?

[2020-08-27 14:50] jjavierdguezas commented on #386
I dont know `react-ace` but `monaco-editor` has a lot (A LOT) of features

[2020-08-27 15:08] jzabala commented on #386
@manojVivek

Wow `monaco-editor` looks rad 😍

Let's say I am typing in the `All` box and I click the copy styles button. To me that should copy the styles of all boxes ready to paste in my final file:

[code]

Well, if I were in that box and instead `Command+C` it should copy the whole thing too. Or maybe we could use another shortcut. I just think it would be cool not to have to move my hands fro

[2020-08-27 15:45] #370 closed

[2020-08-27 15:49] manojVivek commented on #386
Yeah, that makes sense. I'll get the initial setup ready and then let's discuss more over it.

[2020-08-28 08:36] med1001 commented on #403
Yes, I'll be happy to try it @jjavierdguezas .

[2020-08-28 09:56] jjavierdguezas commented on #403
great assigned this to you @med1001

[2020-08-28 19:08] #424 closed

[2020-08-29 11:34] jjavierdguezas commented on #95
Hey @manojVivek if we include a `package.json` script, lets say `yarn generate-checksums` that generates a checksum file for each file (`filename.extension.checksum.txt`) in the `release` folder (top level not subdirs) using [this code](https://github.com/electron-userland/electron-builder/issues/3913#issuecomment-504698845), would that help?

[2020-08-29 13:51] manojVivek commented on #95
Yeah, that might help.

But then it is not as simple as that, we will also need to have scripting to upload those files to the GitHub `release` as well. As I'm pretty sure `electron-builder` is not going to support this.

[2020-08-29 13:53] jjavierdguezas commented on #95
@manojVivek oh I see I thought you upload the release files manually...

[2020-08-29 13:56] manojVivek commented on #95
`electron-builder` uploads it all mandatory files automatically.
I just manually upload one file `ResponsivelyApp-*.zip` which is needed for mac auto-updates and for some reason it is not taken care of by that package.

[2020-08-29 14:00] jjavierdguezas commented on #95
so if you upload a file manually, could you do the same with the checksum files until we found a better approach?

[2020-08-29 14:10] manojVivek opened #430 "Aggregated console log viewer to quickly see console logs from all the devices in a single place"
This can be seen as functionality similar to Chrome's console log viewer but with logs streamed from all devices.

1. We can have a log section that can stream logs from every device(with some kind of UI indication to show which device that log is from).
2. Have some pill buttons that can be used to select/de-select the devices from which the logs are shown.
3. Optional but good to have: Add an op

[2020-08-29 14:15] jjavierdguezas commented on #95
Maybe this could help https://www.electron.build/configuration/configuration#afterallartifactbuild

[2020-08-30 07:13] ngthuongdoan commented on #275
Who still getting this error??? It happens to me in the latest version.

[2020-08-30 17:02] diego-vieira commented on #300
@manojVivek unfortunately I won't be able to look into this in the near future. Please, feel free to close for now if you wish. Thank you

[2020-08-30 17:07] Taeluf opened #433 "Should it assume HTTP for localhost?"
## Current Behavior
1. Type `taeluf.localhost` (or your own localhost subdomain)
2. [enter]
3. address bar becomes: `https://taeluf.localhost`

## Desired Behavior
When `.localhost` tld is used, route to `http://taeluf.localhost`

## My thoughts
All my sites use `HTTPS`, but not in local development. Firefox assumes `http://`, and I think other browsers do to. Or maybe there is some "dns" type loo

[2020-08-31 02:57] manojVivek commented on #300
@diego-vieira No worries, Will unassign you from this, so that some else can take it up. 👍

[2020-08-31 03:01] manojVivek commented on #433
@Taeluf This totally makes sense. Thanks for suggesting it.

[2020-08-31 06:27] Taeluf opened #435 "Thorough notes for contributors"
## Basic Issue
The `README` currently says:

This gave me errors that yarn wasn't installed, then that modules weren't found.

## Desired Result
Step-by-step instructions that cover installing dependencies, including:
- installing npm
- installing yarn
- Any npm setup that needs done before `yarn dev`
- Anything else I'm missing

It would be nice to have a contributors file that details these thin

[2020-08-31 06:28] Taeluf commented on #435
## Extended Notes
First error was that yarn was not found, so I tried to `sudo dnf install yarn` before realizing I needed to go through NPM, which thankfully I had installed when doing a tutorial a month ago. I'm a PHP developer, primarily.

From the `desktop-app` folder, I ran `yarn dev` and got errors like:
- Error: Cannot find module '@babel/register'
- Error: Cannot find module '@babel/core'

[2020-08-31 06:33] Taeluf commented on #433
Starting line 294 of [AddressInput/index.js](https://github.com/responsively-org/responsively-app/blob/master/desktop-app/app/components/Addressinput/index.js)
[code]

I believe `if (address.startsWith('localhost') || address.startsWith('127.0.0.1')) {` just needs to be changed to:

[code]

I had issues setting up the dev environment (for which I submitted an issue), so I'm just making note of thi

[2020-08-31 06:49] jjavierdguezas commented on #435
Hi @Taeluf thanks for the suggestions, we will take it into account
You must be new developing for `nodejs` because this is pretty standard
To work in `nodejs` projects, first you need to install `nodejs`
Then there is some ways to manage the dependencies (packages), most common are:  `npm` and `yarn`. We use `yarn` so you need to install it
Then you need to install the dependencies, with `yarn` y

[2020-08-31 06:55] jjavierdguezas commented on #433
@Taeluf should we assign this to you?

[2020-08-31 08:53] jjavierdguezas opened #439 "Add portable version of Responsively [Windows]"
This could be useful for users without installation privileges.

We need to figure a way to manage the current "check for updates" behavior because there will be no auto updates with portable versions

[2020-08-31 12:54] #368 closed

[2020-08-31 12:55] #435 closed

[2020-08-31 12:57] #439 closed

[2020-08-31 15:18] jjavierdguezas commented on #275
hi @Xaoka @ngthuongdoan could you provide a reproducible scenario?

[2020-08-31 15:25] ngthuongdoan commented on #275
Everything is fine in the previous version. The latest version provide that ERR when I route to my localhost.

[2020-08-31 15:39] jjavierdguezas commented on #275
I still cant reproduce it, so we need to try to reproduce your specific scenario

[2020-08-31 16:03] maxwillkelly commented on #423
I've managed to implement the Command/Control to focus input, should be able to implement the second tweak and make a pull request soon.

[2020-08-31 16:05] jjavierdguezas commented on #423
great @maxwillkelly  assign this to you then

[2020-08-31 17:11] Taeluf commented on #433
Probably not. I'm having troubles getting my environment setup (not enough extra disk space, thanks to dual-boot partitioning) & I think I'm done with it for today & not exactly sure when I'll return to it.

[2020-08-31 19:32] jjavierdguezas commented on #433
No problem at all

[2020-08-31 21:37] #407 closed

[2020-09-01 13:15] ngthuongdoan commented on #275
@jjavierdguezas Don't know why but it's running smoothly now @@. Thanks

[2020-09-01 13:17] jjavierdguezas commented on #275
We didn't do anything so.. great!? 😅

[2020-09-01 13:18] jjavierdguezas commented on #275
@manojVivek it could be something related to releases? (some file refreshing, cache, etc)