[2020-09-01 14:03] manojVivek commented on #275
Oh, but I don't think we change went released to this one. Not any that I can think of. 😅

[2020-09-01 14:19] jjavierdguezas commented on #275
I mean, as part of a new release when an user install or update a new version there are some files that are copied, deleted, refreshed etc... Could it be affecting something related to this? I say this because the only thing that changed from yesterday to today is that we did a release and @ngthuongdoan has probably updated the app

[2020-09-01 15:16] manojVivek commented on #275
My gut feel is this should be something to do with the environment's network/permissions. But we cannot come to a conclusion without a reproducible scenario.

[2020-09-01 15:23] jjavierdguezas commented on #275
We are totally agreed

[2020-09-02 15:59] #433 closed

[2020-09-03 02:33] #186 closed

[2020-09-03 12:14] jjavierdguezas commented on #95
@manojVivek  that `.zip` file is generated in `release` folder when you package the app for mac?
Is it always `ResponsivelyApp-VERSION.zip` ?

[2020-09-03 12:27] AlexNodex opened #445 "Codeinjection blocked"
Are you aware that winblows 10 is flagging your winblows install not to run?

[code]

[2020-09-03 12:32] #445 closed

[2020-09-03 16:09] manojVivek commented on #95
I was checking the docs and I think that zip is not automatically getting emitted because we just have `dmg` under `targets` for `mac` in `package.json` file.

Changing that to `default` might help, as per the documentation: https://www.electron.build/configuration/mac

@jjavierdguezas  I'm trying that out now. Will keep you posted.

[2020-09-03 16:16] jjavierdguezas commented on #95
ok @manojVivek I made a PR with some code that maybe you find useful, if not you can reject it...

[2020-09-03 16:29] manojVivek commented on #95
@jjavierdguezas Thank you so much for implementing it.

After making it to `default` it generated the `zip` file. But I'm not sure if that will work fine with the updater. I can validate it only during a release, shall I keep your PR open until the next release and then merge it?

[2020-09-03 16:44] jjavierdguezas commented on #95
yes @manojVivek thats ok with me.

[2020-09-04 03:43] #238 closed

[2020-09-04 09:15] diego-betto opened #448 "Undock Inspector"
It seems that you cannot undock the inspector (you can only dock to the left or to the bottom) that is really usefull since you may have limited space. Any idea?

[2020-09-04 09:33] manojVivek commented on #448
@diego-betto You can do it using the option in the User-preferences, screenshot below:

<img width="358" alt="Screenshot 2020-09-04 at 3 01 47 PM" src="https://user-images.githubusercontent.com/1283424/92224660-bd480780-eebf-11ea-84a9-db8f71ed7cbe.png">

[2020-09-04 09:36] diego-betto commented on #448
Nice, thank you

[2020-09-04 09:36] #448 closed

[2020-09-04 09:55] luannaufal opened #449 "CSS rendering not working fully on all devices on Localhost"
### Context
When using the App, one of the most important validations are CSS related.

### Expected
My application to open with CSS rendered correctly, including custom fonts.
This currently works perfectly in production:
![image](https://user-images.githubusercontent.com/8204335/92226320-edb98280-ee7a-11ea-9173-4bc5ec5bb5a7.png)

### Issue
When opening the same application on `localhost`, it doe

[2020-09-04 10:39] jjavierdguezas commented on #449
It seems that the first device is OK right?
maybe this is related to #282 (see the links at the end of the description)

[2020-09-04 10:41] jjavierdguezas commented on #282
@esprush mybe this can help https://www.electronjs.org/docs/api/command-line-switches#--ignore-connections-limitdomains

[2020-09-05 06:29] manojVivek commented on #449
@luannaufal A couple of questions:
1. Can you try opening the URL in multiple tabs in the Chrome browser and check if you are seeing the same behavior there?
2. Is it possible for you to share a URL where we can debug this issue?

[2020-09-06 05:59] manojVivek commented on #117
@avimar This issue is fixed in version v0.12.0 of the app. Please upgrade the app and check it out.
Closing the issue for now, feel free to re-open it if you still face any problems.

[2020-09-06 05:59] #117 closed

[2020-09-06 06:21] avimar commented on #117
On the latest auto-update, full screenshots (either on one viewport or all) just hangs.
version 0.12.0

[2020-09-09 18:58] shytec commented on #275
I have the same with some websites. I installed version: 0.6.1 and it works great. So teh latest vesion need some fix.

[2020-09-13 11:48] steveyang331 opened #452 "Got resizing handler by using custom device with responsive"
_Official released app.
Win 10_

**Step:**
 reproduced 5/5 - 100%

Just create 3+ custom devices , and responsive .

![image](https://user-images.githubusercontent.com/16850883/93017270-ea03c980-f5f9-11ea-95f1-915a50c4316c.png)

[2020-09-16 07:07] GabrielBanua opened #453 "Full Page Screenshot Not Working on Phone and Tablet"
I am trying to take a screenshot in iPhone X and iPad but it's not working. But when I tried taking full page screenshot  on laptop/desktop device it's working perfectly. I also tried reinstalling and running the app in administrator but the problem still occurs.

I notice that if I choose either of this two options here, full page screenshot won't work.
![report](https://user-images.githubusercon

[2020-09-16 09:06] manojVivek commented on #453
@GabrielBanua It happens for a specific page or every screenshot is failing?  Please try capturing https://twitter.com to narrow down if it is a URL specific problem.

If the twitter screenshot is working fine, can you please share the URL that is failing? So that it will be easier to debug the issue.

[2020-09-16 13:24] Mattlomet commented on #309
Hello this issue seems to have been fixed. Just tested and only 1 folder opened for 4 devices.

[2020-09-16 13:34] jjavierdguezas commented on #309
hi @Mattlomet did you test it on Windows? or did you test it on another OS?

[2020-09-16 13:55] steveyang331 opened #455 "Zen Mode"
![image](https://user-images.githubusercontent.com/16850883/93347087-43246500-f867-11ea-8d75-c7eb25986b6b.png)

I know currently it can get similar style, not not quite enough mini .

[2020-09-16 13:56] Mattlomet commented on #309
I tested it on Pop!_OS 20.04 LTS. Which is built on top of Ubuntu -- I'm unsure what linux distro the original comment was made about.

[2020-09-16 14:37] jjavierdguezas commented on #309
Oh sorry I didn't see the Linux part in the original comment 😅
should we close this @manojVivek @esprush @jzabala ?

[2020-09-16 14:52] jjavierdguezas commented on #309
Sorry @Mattlomet I just tested it on Ubuntu using last AppImage and this still happen
OS Info:

Description:	Ubuntu 16.04.6 LTS
Release:	16.04
Codename:	xenial

Responsively Info:

Electron: 9.1.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 4.15.0-117-generic

The code always opens the folder of the image created per device, the thing is how the file manager hand

[2020-09-16 15:05] Mattlomet commented on #309
So upon further testing -
(I am using the AppImage aswell)

**With User Preferences side bar open // or any other side bar for that matter**
I get the result that you are talking about - A separate file manager per device.

**Without any side bar open**
I get the my result that I had mentioned where it seems to be working properly at least on (PopOs/Ubuntu 20.04)

not sure really what to make of t

[2020-09-16 15:23] jjavierdguezas commented on #309
I see the same behavior regardless of the drawer (sidebar) state

[2020-09-17 00:31] GabrielBanua commented on #453
Hi Manoj,

Appreciate the prompt response

The full page screenshot feature doesn’t work on any site including https://www.google.com/

As requested, I tried opening https://twitter.com/ several times in Responsively App but the page is not loading, sometimes the app automatically close. I also tried opening the site on my browser to see if the problem is on my network but the site it's perfectly

[2020-09-17 02:22] manojVivek opened #456 "Upgrade to electron 10(chrome 85)"

[2020-09-17 02:34] manojVivek opened #457 "Remove the unwanted 20px padding below the menu bar on Windows"
Remove the space shown in the below screenshot:
<img width="1215" alt="Screenshot 2020-09-17 at 8 01 51 AM" src="https://user-images.githubusercontent.com/1283424/93413221-6299ad00-f8bc-11ea-8a6d-e12ec391e5a4.png">

[2020-09-17 03:52] lacrosse91 commented on #457
@manojVivek
Hi, can I handle this work?

[2020-09-17 08:29] manojVivek commented on #453
@GabrielBanua That is strange, it should be an environment-related problem. Are you sure the app is running with full permissions?

To help narrow down the issue further, can you try unchecking the option in the below screenshot and try again?

<img width="355" alt="Screenshot 2020-09-17 at 1 57 57 PM" src="https://user-images.githubusercontent.com/1283424/93443509-f0da5700-f8ed-11ea-9593-d1f0ce65

[2020-09-17 15:24] jjavierdguezas commented on #457
This is also happening in Ubuntu
![5bd1bd1a-fc43-4687-ae9f-e1d010728cc3](https://user-images.githubusercontent.com/13673443/93491993-9d2a3680-f90a-11ea-923d-564313570eb2.jpg)

[2020-09-17 20:27] MBakirci commented on #457
For now the line `os.platform() === 'darwin' ? '20px 0 5px' : '0 0 0'`is added to fix this issue on Windows and Linux(at least Ubuntu).

[2020-09-17 20:30] #457 closed

[2020-09-18 01:09] #452 closed

[2020-09-18 01:14] GabrielBanua commented on #453
Manoj,

Yes, the app is running in full permission.  I will attempt your suggestion and see if it works.

Thanks again!

[2020-09-19 11:07] jjavierdguezas commented on #455
Like  a 'Zen Mode' or 'Focus Mode' where we only show devices in focus mode (tabs) and hide everything else?
@manojVivek @jzabala what do you think?

[2020-09-19 11:09] steveyang331 commented on #455
That's right . Zen mode.

[2020-09-20 04:37] manojVivek commented on #455
@jjavierdguezas Instead of a specific mode for this, I would suggest adding buttons to hide the top and sidebars. This way it will be more flexible and can be used for other situations too. A quick mockup below:

![Toolbar-hide-buttons](https://user-images.githubusercontent.com/1283424/93694399-fc659200-fb28-11ea-807e-f3f64731553e.png)

What do you guys think?

[2020-09-20 04:42] steveyang331 commented on #455
Good idea .

[2020-09-21 04:46] #128 closed

[2020-09-21 07:47] JLambertazzo commented on #388
Found a fix for the persistent hover by changing the toggle button's event handling!

[2020-09-21 08:30] jjavierdguezas commented on #388
Great @JLambertazzo! I'm assing it to you. Thanks!

[2020-09-22 05:39] sidthesloth92 commented on #414
Can I work on this?

[2020-09-22 06:05] sidthesloth92 commented on #414
@manojVivek Can I work on this issue? Let me know if I got this one right. Remove the `react-router`, `react-router-dom` and `connected-react-router` dependencies from `package.json`. It's code usage including it's initialization in the `redux` store.

[2020-09-22 06:42] manojVivek commented on #414
@sidthesloth92 Yes that is right.

Awesome, thanks for picking this issue, I'm assigning it to you! 🎉

[2020-09-22 07:11] #388 closed

[2020-09-22 08:22] #95 closed

[2020-09-22 10:37] manojVivek opened #469 "Fix the crash page color scheme."
The crash page looks broken after the Light mode feature.

![EigfG4-XgAcewqO](https://user-images.githubusercontent.com/1283424/93872344-a0983600-fced-11ea-840a-345579fb466b.jpeg)

[2020-09-22 12:27] roroland opened #470 "Crash after upgrade"
I have this crash after upgrade to latest version, already deleted settings

rm ~/Library/Application\ Support/ResponsivelyApp/Settings

.... and reinstall app, no luck

<img width="1277" alt="Screen Shot 2020-09-22 at 05 56 39" src="https://user-images.githubusercontent.com/200220/93881764-b7bb3180-fcb5-11ea-9ddb-0cf65dbaa473.png">

{"stack":"ReferenceError: commonClasses is not defined\n    at G

[2020-09-22 13:14] dajpes commented on #470
Same here with Linux Mint 20.3

[2020-09-22 13:25] Petrus-9 opened #472 "App is not starting"
First install on Windows gives me a almost completely blank screen with only an emoji and 3 buttons (with text Copy and Create issue).
For just a second I can see the responsive screens, but they disappear after that.

Any idea what is happening here?

Regards,
Petrus

[2020-09-22 13:48] jjavierdguezas commented on #472
hi, we are investigating in #470, closing this as duplicated

[2020-09-22 13:49] #472 closed

[2020-09-22 14:31] #470 closed

[2020-09-22 14:32] manojVivek commented on #470
@roroland @dajpes Can you please update the app to the latest version and try again?
We just pushed the version `v0.13.1` fixing this.

[2020-09-22 14:32] manojVivek commented on #472
@Petrus-9  Can you please update the app to the latest version and try again?
We just pushed the version `v0.13.1` fixing this.

[2020-09-22 15:05] dajpes commented on #470
Now it works, nice.

[2020-09-22 15:30] roroland commented on #470
It works nice... however I can't remove the banner on the right... Even if I press "dismiss" or "open"

Maybe is just me...

<img width="1278" alt="Screen Shot 2020-09-22 at 12 12 07" src="https://user-images.githubusercontent.com/200220/93903626-44beb480-fccf-11ea-93fd-3ab29e70ce8c.png">

Thanks a lot !

[2020-09-22 15:37] manojVivek commented on #470
@roroland It is an issue too, fixed with v0.13.2.

Sorry again for the confusion. And thanks for your patience.

[2020-09-22 16:19] Petrus-9 commented on #472
Yes, working.

Probably the version number 13 that is the course.

Thanks for quick response and great software.

Regards

------------------
Locatie 9
Brandestraat 9
4931 AV Geertruidenberg
+316 225 38 215

[image]

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
Op dinsdag 22 september 2020 16:33, Manoj Vivek <notifications@github.com> schreef:

[2020-09-22 17:45] pachiraDIG opened #475 ""This may harm your computer" warning in Windows"
Having a repeated warning come up when downloading and running in Windows 10 20H2. Just want to report this here.

[2020-09-22 18:05] jjavierdguezas commented on #475
hi @pachiraDIG thanks, we are aware of this situation and we are in process to fix it. Follow the issue #151

[2020-09-22 18:05] #475 closed

[2020-09-22 22:22] DamilolaAjayi opened #476 "App is crashing, not stopped working since an update."
My app auto updated yesterday and since then I have been seeing this anytime I open it. I can't do anything on the app.

![Screenshot (107)](https://user-images.githubusercontent.com/16501237/93943473-7e70d900-fd2a-11ea-90e9-c8a471cf06a9.png)

[2020-09-22 22:30] jjavierdguezas commented on #476
Hi  @DamilolaAjayi ensure you have installed v0.13.2
We made some hot fixes today for this issue (see #470 and #472)

[2020-09-23 06:10] #476 closed

[2020-09-23 09:49] MiloshN commented on #469
Here is the same problem.

[2020-09-23 16:07] sidthesloth92 commented on #469
@jjavierdguezas Have you started to work on it? I've fixed it in local. Sorry, forgot to comment on the PR. My bad.

[2020-09-23 16:10] jjavierdguezas commented on #469
@sidthesloth92 go for it, but yeah, next time just tell us please

[2020-09-23 16:19] SowmyaSeshadri commented on #357
Saw this issue related to branding updates for responsively and wanted to contribute to this! I read through the previous comments regarding the logo and came up with a minimalistic one that could showcase the responsive behavior. Let me know what you think! 😁

**Logo**

<img width="792" alt="responsively logo" src="https://user-images.githubusercontent.com/24311004/94039844-d91b3b00-fde5-11ea-8d7

[2020-09-23 16:22] #414 closed

[2020-09-23 16:25] jjavierdguezas commented on #357
@SowmyaSeshadri I like the logo a lot 😍
It looks perfect in the darkest background  but in the lighter one I don't think so 🤔
darker background:
![image](https://user-images.githubusercontent.com/13673443/94040937-d9a5d880-fdc9-11ea-95a4-34273e3d98c4.png)

vs

less dark background:
![image](https://user-images.githubusercontent.com/13673443/94041008-fa6e2e00-fdc9-11ea-8db2-81d9864aca9a.png)

I don

[2020-09-23 16:32] #469 closed

[2020-09-23 17:55] SowmyaSeshadri commented on #357
Thanks for the catch @jjavierdguezas! You're right. It was the shadow that didn't look fine in the lighter background. I got it fixed and it looks much better now. Thanks for the feedback! Let me know if you have any more suggestions!

**This is how it looks in light & dark background**

![logo](https://user-images.githubusercontent.com/24311004/94050365-c9a2ee80-fdf3-11ea-93e7-1c33d11464cf.png)

[2020-09-24 07:22] MiloshN opened #480 "Top right corner bar is not clickable?"
[![N|Bug](https://i.ibb.co/kmQqBKv/Screenshot-1.png)](https://i.ibb.co/kmQqBKv/Screenshot-1.png)

I can't click on any of these items in the screenshot.

Version: 0.13.2
Electron: 9.1.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18363

Thanks.

[2020-09-24 08:22] jjavierdguezas commented on #480
Hi @MiloshN can you provide more info?
I can't reproduce it and I have same environment
Does it happen after an specific action or just after opening the app?

[2020-09-24 08:48] MiloshN commented on #480
Hi @jjavierdguezas ,
I don't know how, but after reloading the app, now works.

[2020-09-24 08:53] #480 closed

[2020-09-24 09:29] saltcod commented on #238
Been meaning to come by for a few weeks and say THANK YOU for releasing the light version of this! I love it — fantastic work!!

[2020-09-24 12:21] sidthesloth92 opened #481 "Zooming Out (Ctrl + +/-) in the main window make the zoom level go negative and breaks UI"
# 🐞 bug report

## Description
Zooming Out (Ctrl + +/-) in the main window make the zoom level go negative and breaks UI. The zoom level goes beyond 0 and goes negative.

## 🔬 Minimal Reproduction
1. Open Application.
2. Hold down the Ctrl key and Zoom Out.

## 🔥 Exception or Error
None

## 🖼 Screenshot
![image](https://user-images.githubusercontent.com/4656109/94143498-89904a00-fe8d-11ea-92cb-415

[2020-09-24 13:20] SowmyaSeshadri commented on #357
@manojVivek Any suggestions/feedback for the logo that I've attached above? If you are good with it, let me know if I can issue a PR with the high resolutions logos. 😁

[2020-09-24 15:22] manojVivek commented on #357
Hi @SowmyaSeshadri, I like it too. But looks kind of familiar from a similar tool, don't remember exactly which one it is.

Would love to see a different variations or something if you had tried something.

Thank you so much for your efforts on this, really appreciate it. 🙌🏼

[2020-09-24 15:38] SowmyaSeshadri commented on #357
@manojVivek Sure, let me try few other variations and get back to you!

[2020-09-24 17:25] abraham-john-paul commented on #403
Hi, can i try this issue?

[2020-09-24 19:06] jjavierdguezas commented on #403
thanks @abraham-john-paul

let's give @med1001 a bit more, if we don't hear from him/her in a few days, we can assign this to you

@med1001 if you are not working on this , tell us please

maybe you want to try another issue? 😉

[2020-09-25 15:42] manojVivek commented on #378
Duplicate of #249

[2020-09-25 15:42] #378 closed

[2020-09-25 21:14] #481 closed

[2020-09-26 14:10] SowmyaSeshadri commented on #357
Hi @manojVivek, I tried a few other variations. Let me know what you think!

![Frame 11 (2)](https://user-images.githubusercontent.com/24311004/94341938-3227e080-002b-11eb-83f4-ef267e6005b1.png)

[2020-09-28 13:21] sidthesloth92 commented on #455
@manojVivek  @jjavierdguezas  Can I work on this one?

[2020-09-28 13:23] jjavierdguezas commented on #455
Great @sidthesloth92 , I assigned it to you
Thanks!

[2020-09-28 13:30] jjavierdguezas commented on #403
as we have not heard anything from @med1001 I removed her/him as assignee
@abraham-john-paul if you want to work on this tell us and we'll assign it to you

[2020-09-28 22:27] naher94 commented on #357
Im liking the first option (nested rectangles) but curious what it will look like within an app icon.. also feel like we can play with the typeface some more.. happy to see more folks getting involved!

[2020-09-29 00:06] med1001 commented on #403
Hello, sorry for my late response. I have opened the merge request and am ready to discuss it and improve it if needed.

[2020-09-29 06:15] sidthesloth92 commented on #455
Update on the issue, have managed to get the primary functionality done. @manojVivek You happen to have the arrow icons from your mock screenshot?

[2020-09-29 08:25] manojVivek commented on #455
@sidthesloth92 Can you try this:
[code]

[2020-09-29 12:57] sidthesloth92 commented on #455
Thanks @manojVivek ..:D

[2020-09-29 19:35] orest22 commented on #300
@manojVivek I can try to implement it. Let me know if help is still needed.

[2020-09-29 19:47] diego-vieira commented on #300
@orest22 thank you

[2020-09-29 20:02] jjavierdguezas commented on #300
Assigned to you @orest22 thanks

[2020-09-30 19:42] Bobbbay commented on #365
Interestingly enough, I was half able to reproduce this issue - for myself, it opens up Google, then the file, then Google, then finally the file (successfully).

Acer Swift 5, Windows

[2020-10-01 01:33] ariefsn opened #484 "Vue DevTools not showing"
Hi, I've install Vue Devtools with chrome extension ID.
but not appear in devtools menu bar.
How to show it?
![image](https://user-images.githubusercontent.com/33569737/94756035-97c7f400-03c0-11eb-8646-c4f1300e430f.png)

And I need to install VueDevtools everytime starting the ResponsivelyApp. If I close the app, the extension was gone.
Any idea?

Regards,
Arief

[2020-10-02 22:56] sirdarthvader commented on #369
Hey @jjavierdguezas is someone working on this issue, if not I would like to work on this.

[2020-10-02 23:13] jjavierdguezas commented on #369
I think there is no one
I am assigning this to you
thanks!

[2020-10-03 05:46] manojVivek commented on #484
I just tried it on the latest version on Mac and it is working fine.

<img width="1679" alt="Screenshot 2020-10-03 at 11 11 34 AM" src="https://user-images.githubusercontent.com/1283424/94984402-368f5480-0569-11eb-9ead-37166ec093ae.png">

@ariefsn Can you add the app version details from `Help` -> `About`?
Also, can you make sure you are running the `.appImage` with enough access privileges?

[2020-10-04 05:09] manojVivek commented on #151
Code-signing will be done from the next release on-wards! 🎉

[2020-10-04 05:09] #151 closed

[2020-10-04 14:34] goshenweb opened #487 "[Feature Suggestion] Add Device Frames"
It would be very valuable if we can have options to preview sites within the most popular popular OEM device frames (Apple, Samsung, Google Pixel, LG, Nokia, Motorola, laptop, etc). The option should include the ability to toggle on/off the device frame while previewing sites as well as an option to generate screenshots with the device frame on. This would be similar to what is available on chrome

[2020-10-04 14:47] manojVivek opened #488 "Build a test suite to cover the basic app workflow"
[Specton](https://www.electronjs.org/spectron) seems to be promising.

_Originally posted by @sidthesloth92 in https://github.com/responsively-org/responsively-app/pull/486#issuecomment-703212602_

[2020-10-04 20:44] jjavierdguezas opened #490 "[Feature] Turn off Javascript"
Add buttons (per devices and for all) that toggle javascript in the device
This should be in the ` ⋮ ` button (_kebab menu_?) since it is not a usual action

**Hints:**
`<webview src="https://github.com" webpreferences="javascript=no"></webview>`
[`webpreferences`](https://www.electronjs.org/docs/api/webview-tag#webpreferences) is a comma separated list of strings, the full list of options can be

[2020-10-04 20:55] jjavierdguezas opened #491 "[Feature] Turn on Design Mode"
Add buttons (per devices and for all) that toggle Design Mode in the device
This should be in the ⋮ button (_kebab menu?_) since it is not a usual action

This allows users to edit HTML directly without dev tools. Sadly I don't think it can be synchronized across devices, because events are disabled on Design Mode (but it is a good topic to investigate)

![designMode](https://user-images.githubuse

[2020-10-04 21:10] jjavierdguezas opened #492 "[Feature] Navigate to CSS selector"
Add a way to type in a CSS selector and all the devices will automatically scroll to it

**Hints**
https://developer.mozilla.org/es/docs/Web/API/Element/scrollIntoView

![scrollToView](https://user-images.githubusercontent.com/13673443/95027140-9c2d2f00-0696-11eb-9e57-74466b90369a.gif)

[2020-10-04 21:10] smcveigh941 commented on #490
Hey, @jjavierdguezas I'm looking at this :)

[2020-10-04 21:17] jjavierdguezas commented on #490
Great @smcveigh941!
Assigned this to you

[2020-10-04 21:26] jjavierdguezas opened #493 "[Feature] Page Navigator"
Add a way to select a "section" HTML tag (`<h1/>`, `<h2/>`,... `<section/>`, `<div />` etc) and make possible to jump up and down between them within the page. (keeping in sync all devices)

**Hints**
something like [this](http://jsfiddle.net/shlomohassid/6r1h687k/) but allowing to select the HTML tag to jump

_Related to #492_

[2020-10-04 21:36] jjavierdguezas opened #494 "[Bug] Devtools do not update content after browsing to a different website"
Electron: 9.1.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

**Ho to reproduce**
- Open Responsively
- Right-click on a device -> `Inspect`
- Devtools appear showing current website HTML
- Go to the navigation bar and browse to another website
- Devtools maintain previous content

![devtoolbug2](https://user-images.githubusercontent.com/13673443/9

[2020-10-05 04:31] manojVivek commented on #490
@smcveigh941 Please join our slack if you have questions to discuss: https://responsively.app/join-slack

[2020-10-05 04:34] manojVivek commented on #494
Maybe a new `webview` instance is getting created when the navigation is triggered by the address bar. But the devtools is still referring to the old `webview`.

[2020-10-05 11:46] jjavierdguezas opened #495 "[Improvement] Open responsively app maximized"
I noticed that Responsively windows try to cover the screen height and width on start
https://github.com/responsively-org/responsively-app/blob/429610b4336f448a3ecde7d24ce3e3c52a8c2eba/desktop-app/app/main.dev.js#L290-L305

But (at least on windows) it leaves gaps:
![image](https://user-images.githubusercontent.com/13673443/95075143-00d8a000-0710-11eb-900c-b57f591214c3.png)

Maybe it's just me, bu

[2020-10-05 12:30] lambda0xff opened #496 "Extension is removed after closing and re-opening application"
MacOS 10.15.7
Responsively: v0.13.2

to reproduce:
1.) install extension: nhdogjmejiglipccpnnnanhbledajbpd (Vue js)
2.) open dev tools to check Vue dev tools are installed and available
3.) close responsively
4.) re-open responsively: extension is gone

[2020-10-05 12:36] manojVivek commented on #496
@lambda0xff Thanks for reporting this, I can reproduce it as well. Adding to the high priority list.

[2020-10-05 15:31] sidthesloth92 opened #498 "Create Issue and PR templates for the Repo"
The idea is to create an issue and PR template so that it's much easier to report bugs and to lay down some basic requirements for a PR.

P.S: The idea is not to scare people away from reporting issues or raising PR's though.. 👻

[2020-10-05 18:10] sidthesloth92 commented on #498
# For Issue Creation

🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

Hi there! 😄

To expedite issue processing please search open and closed issues before submitting a new one. Existing issues often contain information about workarounds, resolution, or progress updates.

🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅-->

# 🐞 bug report

### ✍️ Description
A clear and concise description of the problem.

### 🕵🏼‍♂️ Is this a

[2020-10-05 18:13] sidthesloth92 commented on #498
# 🚀 feature request

### 📝  Description
A clear and concise description of the problem or missing capability.

### ✨ Describe the solution you'd like
If you have a solution in mind, please describe it.

###  ✍️ Describe alternatives you've considered
Have you considered any alternative solutions or workarounds?

[2020-10-05 18:24] sidthesloth92 commented on #498
Pull Request

### PR Type
What kind of change does this PR introduce?

Please check the one that applies to this PR using "x".  <-- Will be commented out. Only the creator of PR can see.

- [ ] Bugfix
- [ ] Feature
- [ ] Code style update (formatting, local variables)
- [ ] Refactoring (no functional changes, no api changes)
- [ ] Build related changes
- [ ] CI related changes
- [ ] Documentation

[2020-10-05 18:32] sidthesloth92 commented on #498
@manojVivek @jjavierdguezas  Certain lines will be commented out in the actual issue/PR. I just added them here for review. Once we have finalized the verbiage, I'll create a PR for the same.

[2020-10-05 19:29] #495 closed

[2020-10-05 21:22] AngelicHeaven commented on #492
Hello, I would like to work on this.

[2020-10-05 21:30] jjavierdguezas commented on #492
great @AngelicHeaven assigning this to you
Please come any join us in Slack if you need to discuss anything related
Also, keep in mind that #493 could be done relying on this, so think about it

[2020-10-05 21:59] jjavierdguezas commented on #492
@AngelicHeaven  I was thinking in something like this

![image](https://user-images.githubusercontent.com/13673443/95136457-6eafb680-0766-11eb-9002-96a4fc981979.png)

![image](https://user-images.githubusercontent.com/13673443/95136493-7bcca580-0766-11eb-97b7-3ba16a3498d8.png)

![image](https://user-images.githubusercontent.com/13673443/95136600-b6ced900-0766-11eb-9df2-669384863f8e.png)

cc: @mano

[2020-10-05 22:02] jjavierdguezas commented on #492
This is the icon used in the mockups but @manojVivek could provide a better one
[code]

[2020-10-05 22:08] jjavierdguezas commented on #493
I was thinking in something like this (combining #492  and #493)

![image](https://user-images.githubusercontent.com/13673443/95136457-6eafb680-0766-11eb-9002-96a4fc981979.png)

![image](https://user-images.githubusercontent.com/13673443/95136493-7bcca580-0766-11eb-97b7-3ba16a3498d8.png)

![image](https://user-images.githubusercontent.com/13673443/95136600-b6ced900-0766-11eb-9df2-669384863f8e.png)

[2020-10-06 02:19] orest22 commented on #300
@manojVivek Hey, I had a chance to work a bit on this and have some idea. Would be great to hear your feedback since it can be some bigger change.

My idea is to move Devices under Workspaces completely and create Default Workspace.
The sidebar will look something like that:

<img width="285" alt="Screen Shot 2020-10-05 at 9 59 43 PM" src="https://user-images.githubusercontent.com/1497502/95150618

[2020-10-06 06:09] lambda0xff opened #502 "Theme choice not persisted"
MacOS 10.15.7
Responsively: v0.13.2

1) open app, choose Light theme (from sidebar menu, icon next to url bar doesn't seem to work)
2) close app
3) re-open app: theme is back to dark

[2020-10-06 12:20] lenmorld commented on #493
Hi, I would like to take a stab at this if it's not taken yet

[2020-10-06 16:20] manojVivek commented on #493
@lenmorld As JJ was mentioning this one depends on #492.

Can you please select some other issue from this list: https://github.com/responsively-org/responsively-app/labels/help%20wanted ?

[2020-10-06 16:52] manojVivek commented on #300
@orest22 Great suggestions!

Yes, I was imagining that way too.

I like `Create New Workspace` as the drop-down option more.
But not sure if `CUSTOMIZE` button in the position as in the attached screenshot is very intuitive, compared to a dedicated devices section like in https://github.com/responsively-org/responsively-app/issues/300#issuecomment-656739905.

What do you think about it?

Definitel

[2020-10-06 16:59] manojVivek commented on #502
@lambda0xff I'm not able to reproduce it on MacOS 10.

Are you running the app from the `Applications` folder?

[2020-10-07 06:03] lambda0xff commented on #502
Looks like it was a 'false positive'.  sorry about that

[2020-10-07 22:10] lenmorld commented on #488
I can take a stab at implementing Jest

[2020-10-09 04:35] manojVivek opened #506 "Increase React components unit-test coverage with jest"

[2020-10-09 04:37] manojVivek commented on #488
@lenmorld With this card we specifically wanted to use Spectron, as jest only covers the react side of it.

But that said, if you are interested in `jest` tests then you can take up the task of increasing the jest test coverage with issue #506.

Really appreciate your interest. :)

[2020-10-09 04:47] sidthesloth92 commented on #506
Can we create a checklist of all the items we want to be covered so that different people can contribute small chunks? Something like this one: https://github.com/firefox-devtools/devtools-core/issues/415

[2020-10-09 04:54] manojVivek commented on #506
@sidthesloth92 That is a good idea. But not sure if the checklist is the right way here, as testing each component is going to be a big chunk of work on its own.
But either way, I'll try to put together a list of components and add to this.

[2020-10-09 07:03] sidthesloth92 commented on #506
Definitely we can have separate issues. Since you have the in depth knowledge of the app you can create a complete list and rhwn we can have a to-do list linking to individual issues and we can just check them out here.

[2020-10-09 13:34] #455 closed

[2020-10-09 13:55] manojVivek commented on #498
@sidthesloth92 For the pull request format, most of this info will already be there on the referenced issue. So should we need these added again?

[2020-10-09 15:53] sidthesloth92 commented on #498
Totally valid, I'll remove some of the stuff from the Issues.

[2020-10-09 15:58] sidthesloth92 commented on #498
@manojVivek I've leaned it down.

[2020-10-10 05:24] manojVivek commented on #498
@sidthesloth92 To be honest, it still feels like too much information to me. 😀  Questions inline.

Can we change this to something like "reference issue"? So that we can have the issue linked to the PR.

I feel these are valid only after the standards have been defined and followed. We don't have a commit message guidelines. And we don't have base unit-test scenarios setup. I feel these points wil

[2020-10-10 10:18] jjavierdguezas commented on #498
@manojVivek @sidthesloth92
The bug/feature templates are ok to me
I agree with @manojVivek about the PR template, for now we just need these points:
 - related issue (_"please link the related issue, use # before the issue number and use the [verbs](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-is

[2020-10-10 11:07] sidthesloth92 commented on #498
@manojVivek and @jjavierdguezas All done.. :D Thanks for your inputs.. D @manojVivek The checklist was more for the future, we will soon get there.. 🗡️

[2020-10-10 13:21] manojVivek commented on #498
@sidthesloth92 It looks good now, please let's go ahead.
We can tweak it by observing the usage.

[2020-10-10 16:14] #498 closed

[2020-10-10 16:15] sidthesloth92 opened #509 "Bug: Opening Device Manager with dev tools open breaks layout"
# 🐞 bug report

### ✍️ Description

When you have dev tools open before opening the device manager the dev tools overlaps the modal breaking layout and also making it not possible to close the modal.

### 🕵🏼‍♂️ Is this a regression?
Yes

### 🔬 Minimal Reproduction

- Open App.
- Right-click on any device and then click Inspect.
- Now click on the device drawer icon from the left pane.
- Click on C

[2020-10-10 16:19] sidthesloth92 commented on #509
The best solution I can think of is to close the dev tools when we open the dialog. Reasons being,
1. The dialog already has z-index of 1300 given by material UI. So I guess it's not possible to make it appear over the dev tools.
2. The user might remove the device that he/she is inspecting. So closing the dev tools kinda resets the flow.

[2020-10-10 16:22] manojVivek commented on #509
This is because the `devtools` window is a separate window overlapped on the main window. So they are two different DOM. This is a challenge. The only solution I can think of is to close the `devtools` window when the device manager is opened.

[2020-10-11 12:23] #403 closed

[2020-10-11 13:25] #509 closed

[2020-10-11 14:03] jjavierdguezas commented on #189
@itsaaryan are you still working on this? If not, tell us so we can let other contributors try

[2020-10-11 14:21] jjavierdguezas commented on #430
@manojVivek do you have a more specific idea of where should we put this? In the drawer? in the dev tools? Do you have any sketches?
I think this would be useful: https://www.electronjs.org/docs/api/webview-tag#event-console-message

[2020-10-11 16:11] manojVivek commented on #430
@jjavierdguezas  I think the sidebar would be the better place. That way the user will be able to see the logs without opening the `devtools` window.

What do you think?

[2020-10-11 16:46] jjavierdguezas commented on #430
I think it is ok, we could do it similar to the CSS editor (place and button trigger) that you proposed on #489

[2020-10-13 16:13] #491 closed

[2020-10-14 08:58] jjavierdguezas commented on #151
The last version is code-signed

Before:
![image](https://user-images.githubusercontent.com/13673443/95966691-b9d36480-0e0b-11eb-9869-2603ba7f5593.png)

After:
![image](https://user-images.githubusercontent.com/13673443/95966716-c061dc00-0e0b-11eb-8fa7-bf0747f823c9.png)

It will eventually stop showing warnings as it is downloaded by multiple people (they call it _to grow a reputation "organically

[2020-10-14 10:23] lavolpecheprogramma opened #513 ""'ontouchstart' in window" is false on devices with touchscreen"
# 🐞 bug report

### ✍️ Description

Touch detection fail on devices that have the touchscreen (iphone, ipad, etc..)

### 🕵🏼‍♂️ Is this a regression?

I don't know

### 🔬 Minimal Reproduction

Try to run `'ontouchstart' in window` in console. It will be true on devices that touchscreen

### 🌍 Your Environment

<pre><code>
Version: 0.14.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.

[2020-10-14 15:53] Kidcredo opened #514 "🐞 The screen turns white when clicking the help icon on the Manage extension section"
# 🐞 bug report

### ✍️ Description

Clicking the help icon on the Manage extension is changing background color of the app

### 🕵🏼‍♂️ Is this a regression?

 Not sure

### 🔬 Minimal Reproduction

Click the help icon in the manage extension section

### 🌍 Your Environment

<pre><code>
Version: 0.14.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64

[2020-10-14 15:59] jjavierdguezas commented on #514
good catch @Kidcredo
This should be easy to fix

[2020-10-14 19:17] #514 closed

[2020-10-15 00:12] jjavierdguezas commented on #189
@itsaaryan I'm taking over this issue ok? If you have anything to discuss related please contact us on slack

[2020-10-15 17:11] manojVivek commented on #513
@lavolpecheprogramma To simulate the touch events you need to you the touch cursor. Can be activated by the toolbar option.

<img width="376" alt="Screenshot 2020-10-15 at 10 40 15 PM" src="https://user-images.githubusercontent.com/1283424/96163333-665e3500-0f37-11eb-8a34-95d5bc2aa79d.png">

But that said, I think we should explore the possibility of sending touch events to touchscreen devices whe

[2020-10-16 07:19] lambda0xff opened #516 "Show link url on hover"
# 🚀 Feature Request

### 📝 Description
In standard browsers, hovering over a link triggers the display of the full url at the bottom left of the screen.
This is not replicated in responsively.

### ✨ Describe the solution you'd like
Same behaviour as standard browsers, ie display link url

[2020-10-16 08:31] #420 closed

[2020-10-16 09:33] jjavierdguezas opened #518 "[Bug] Global tilt devices stop working"
# 🐞 bug report

The button to tilt all devices stop working

### 🕵🏼‍♂️ Is this a regression?

It worked on version `0.13.2`

### 🔬 Minimal Reproduction

- Open responsively
- Add devices that can be tilt
- Click on the tilt button on the main toolbar
- Nothing happens

### 🌍 Your Environment

<pre><code>Version: 0.14.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.

[2020-10-16 09:34] jjavierdguezas commented on #518
![image](https://user-images.githubusercontent.com/13673443/96242224-8297bb80-0fa3-11eb-9e6c-2b4f54cf2d42.png)

[2020-10-16 14:48] #518 closed

[2020-10-17 05:47] rishichawda commented on #516
Hey, can I take up this one? Might be a nice way for me to start exploring the application 😄

[2020-10-17 10:00] jjavierdguezas commented on #516
hi @rishichawda , of course you can. I'm assigning this to you. Remember that you can discuss it with us on Slack

[2020-10-17 17:00] rishichawda commented on #516
Great! I'll ping you if I need help figuring something out. 😄

[2020-10-18 15:45] #386 closed

[2020-10-18 17:25] SowmyaSeshadri commented on #357
Attaching the other versions that were tried with the letter R. Tried a different typeface as well. Let me know what you think.

**#1**

![Logo-1](https://user-images.githubusercontent.com/24311004/96375114-b4bc3f80-1194-11eb-963e-83324535fbd8.png)
**#2**

![Logo-2](https://user-images.githubusercontent.com/24311004/96375121-b8e85d00-1194-11eb-94b6-5a8173ae55bc.png)
**#3**

![Logo-3](https://user-

[2020-10-19 14:50] SowmyaSeshadri commented on #357
@manojVivek Attaching the different views for the below icon that we discussed yesterday. Let me know what you think.

**Logo**

![Logo-variations](https://user-images.githubusercontent.com/24311004/96467065-2bfedb80-1248-11eb-8b9d-0aaf93a5be8f.png)
**Web**

![web](https://user-images.githubusercontent.com/24311004/96467100-34efad00-1248-11eb-9790-2adef11fb40d.png)
**App**

![app](https://user-ima

[2020-10-19 19:30] itsaaryan commented on #516
If its all right shall i take this issue?

[2020-10-19 19:36] itsaaryan commented on #492
If Its all right ,Can I work on this Issue

[2020-10-19 21:19] jjavierdguezas commented on #492
Hi @itsaaryan, I'm sorry but @AngelicHeaven is already working on this. You can take a look on other issues: [here](https://github.com/responsively-org/responsively-app/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22)
Thanks for your help 👊 !

[2020-10-19 21:25] jjavierdguezas commented on #516
Hi @itsaaryan, I'm sorry but @rishichawda  is already working on this. You can take a look on other issues: [here](https://github.com/responsively-org/responsively-app/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22)
You need to check the *Assignees* section of the issue and if it has the `help-wanted` tag. If the issue has no assignee and it has the tag then you can request it
I hope you

[2020-10-20 11:32] manojVivek commented on #357
Thanks, @SowmyaSeshadri.

@jjavierdguezas @naher94 Would love to hear your thoughts on these.

[2020-10-20 11:34] manojVivek commented on #357
@SowmyaSeshadri Can you please make the outer black circle a transparent one for the launch pad and the dock view?

[2020-10-20 11:44] jjavierdguezas commented on #357
Although it is a bit sad to leave the original logo ( `Rr` forever 😅), I really like the last proposal (https://github.com/responsively-org/responsively-app/issues/357#issuecomment-712219316) and I agree to leave the background transparent

[2020-10-20 12:30] itsaaryan commented on #492
ok sure, no problem

[2020-10-20 12:30] itsaaryan commented on #516
Sure

[2020-10-20 13:21] SowmyaSeshadri commented on #357
@manojVivek @jjavierdguezas I have updated the dock/launch pad views with 3 variations. I suggest using #1 but let me know what you think as well. I feel that the transparent one (#3) might be not clearly visible in all cases.

Dock View -
<img width="1440" alt="Screenshot 2020-10-20 at 6 03 31 PM" src="https://user-images.githubusercontent.com/24311004/96591001-5910c400-1304-11eb-8f19-c7730bb8a6e

[2020-10-20 16:05] jjavierdguezas commented on #357
hmmm I think I want to go back to the one with the dark background 😅 : https://github.com/responsively-org/responsively-app/issues/357#issuecomment-712219316

[2020-10-21 07:51] manojVivek commented on #357
@SowmyaSeshadri Instead of the same black for all 3 devices, can we try 3 step variations of a color, one for each device?

[2020-10-23 16:48] katalonne opened #520 "Some guy just stole this project - idk if this is legal"
So I just got an ad while scrolling on facebook: https://sizzy.co/
Apparently this [guy](https://github.com/kitze) just stole this open source project.
As I see they didn't even change the colors...

@manojVivek Are you aware of this?

[2020-10-23 18:29] manojVivek commented on #520
@katalonne No, Sizzy was there even before Responsively. :)

[2020-10-23 18:30] #520 closed

[2020-10-23 22:26] alanw83 opened #521 "Option to set blank page on application launch"
# 🚀 Feature Request

### 📝 Description

On launching the application all the viewpoints are refreshed and load Google.com. Please add an option to have it load a blank page so we don't have to wait for them all to load before using the application.

### ✨ Describe the solution you'd like

Blank page on startup checkbox in the settings menu.

[2020-10-23 23:19] jjavierdguezas commented on #521
Meanwhile, you can always set a lighter website or even a blank html file as your homepage from your own file system
![image](https://user-images.githubusercontent.com/13673443/97061376-ed925500-1596-11eb-9e53-fa50a40acc4f.png)

[2020-10-24 04:02] alanw83 commented on #521
Thankyou blank html does load faster

[2020-10-25 05:24] adi-mohan commented on #456
Hi! May I work on this issue?

[2020-10-25 12:30] manojVivek commented on #456
Yes please @adi-mohan. That would be fantastic. I'm assigning this to you.

Please connect on slack if you have any questions: https://responsively.app/join-slack

[2020-10-25 15:43] jjavierdguezas commented on #521
@manojVivek should we go and make a special `blank` or `lighter` default home or do you think that https://github.com/responsively-org/responsively-app/issues/521#issuecomment-715629147 is enough ?

[2020-10-25 21:00] alanw83 commented on #521
@jjavierdguezas to be specific the issue I have is 9 devices loading when I launch the app. They still take time loading from local drive its just faster.

Maybe having an option to not refresh the devices every time the application is launched is a better solution?

[2020-10-26 08:26] malvese opened #523 "[Feature] Mirrored DevTools"
### 📝 Use a single DevTools pane for all devices

 ✨ It is a feature found in other similar products. One of them I used is the open source Emmet Re:view (http://re-view.emmet.io/) but it is no longer maintained and often doesn't work.
With this feature you can open DevTools, make changes and see them applied immediately to every device. It makes responsive work very fast, as you don't have to con

[2020-10-26 10:52] jjavierdguezas commented on #523
Hi @malvese, thanks for your comments
Yes, this is the most desired feature by all and we are working on it, but it is not an easy task
You can follow the progress in #268
Meanwhile, I am closing this one

[2020-10-26 10:52] #523 closed

[2020-10-26 11:00] malvese commented on #523
Oh sorry I didn't find this issue when I searched. Good to know you are on it. Thank you for your work!

[2020-10-27 08:33] manojVivek commented on #521
@jjavierdguezas I think we should have a user preference option to set the default URL to load on start, that can have options as "Blank" or "Homepage".

What do you think about this?

[2020-10-27 08:56] jjavierdguezas commented on #521
That's a good idea

[2020-10-28 17:35] iBobik opened #524 "Detachable devtools (multiple windows)"
# 🚀 Feature Request

### 📝 Description

To support multiple displays it sould be able to detach devtools to separate window (like other browsers can), so I can have devtools on one display and browsers on another.

### ✨ Describe the solution you'd like

Add icon to detach devtools next to orientation switch.

Example from Safari:
<img width="141" alt="Snímek obrazovky 2020-10-28 v 18 34 55" src="

[2020-10-28 18:21] chrlun23 opened #525 "Access Denied"
# 🐞 bug report

### ✍️ Description

Getting "Access Denied" on the iPhone 6/7/8, iPhone 6/7/8 Plus, and iPhone X when I try to access a website on the Dealer.com platform (https://www.dealer.com). In this instance it is https://www.actontoyota.com/. Works fine on Galaxy S5, Pixel 2, and iPad.

### 🕵🏼‍♂️ Is this a regression?

not that I'm aware of.

### 🔬 Minimal Reproduction

Go to any automotive

[2020-10-28 21:59] #250 closed

[2020-10-29 02:24] manojVivek commented on #524
@iBobik We already have a way to do this in the user preferences.

Docking and un-docking implementation is kind of tricky right now, so we have kept this as a user preference option instead of an icon on the dev tools.

<img width="363" alt="Screenshot 2020-10-29 at 7 51 49 AM" src="https://user-images.githubusercontent.com/1283424/97517832-fbdbd900-19bb-11eb-8235-3e19d4408e9e.png">

[2020-10-29 02:25] manojVivek commented on #524
@iBobik Please close this issue if this satisfies your use-case.

[2020-10-29 03:58] iBobik commented on #524
Nice, thank you.

[2020-10-29 03:58] #524 closed

[2020-10-29 09:51] abbydigital opened #526 "Not a bug, but a typo"
In the lower right corner popup on first run, it said to "stare the github repo."

I think you must have meant "share."

[2020-10-29 10:44] jjavierdguezas commented on #526
![image](https://user-images.githubusercontent.com/13673443/97558146-01491b80-19dc-11eb-913c-966921f5d47d.png)

@manojVivek , Should it say "star**r**ing"? 🤔 (To give a ⭐)
https://docs.github.com/en/free-pro-team@latest/rest/reference/activity#starring

[2020-10-29 11:32] abbydigital commented on #526
I see.  I did not know about the Stars on Github.  According to the Github doc, that would be "starring."

[2020-10-29 11:38] jjavierdguezas commented on #525
This is weird, I was able to reproduce it and also for all the websites hosted on Dealer.com listed [here](https://trends.builtwith.com/websitelist/Dealer.com) (I chose and tested many of them). I was able to reproduce it with one and multiple devices at the same time.
I don't know what we could be doing wrong

[2020-10-29 11:46] #526 closed

[2020-10-29 11:48] jjavierdguezas commented on #526
fixed
![image](https://user-images.githubusercontent.com/13673443/97564535-0494d500-19e5-11eb-9ebf-f4a52ef85a88.png)

[2020-10-29 14:55] manojVivek commented on #526
Good catch guys! 😄

[2020-10-29 17:49] chrlun23 commented on #525
Hi José,

Thanks for the quick response.

This is def odd. It seems to work on the iPhone 4 and iPhone 5/SE.

But it doesn’t work in Responsive mode either.

Thanks,
 Chris

Sent from my iPhone

[2020-10-29 18:11] jjavierdguezas commented on #525
@manojVivek doing some `diff` the only thing that `iPhone 6/7/8`, `iPhone 6/7/8 Plus`, `iPhone X`, and `Responsive Mode` devices  have in common is the configured `user-agent` string, all of them have:
`'Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Mobile/15A372 Safari/604.1'`
Could be it? 🤔

[2020-10-29 18:15] jjavierdguezas commented on #525
Confirmed @manojVivek, changing the `user-agent` to one of the working devices and the HTTP error disappeared

[2020-10-29 18:21] jjavierdguezas commented on #525
Sending error 403 due to the user agent is a decision of the server and not of the client, so this is not a Responsively issue itself, but perhaps we can avoid it by changing the `user-agent` what do you think @manojVivek ?

[2020-10-29 19:09] chrlun23 commented on #525
So is this something I have to change on my end?

On Thu, Oct 29, 2020 at 2:21 PM José Javier Rodríguez Zas (JJ) <
notifications@github.com> wrote:

--
Chris Luniewicz
Graphic Designer
Mobile: 978.835.2142
www.chrisluniewicz.com

[2020-10-29 23:34] jjavierdguezas commented on #525
No, we need to change the definition of the affected built-in devices,
Meanwhile, you can create custom devices with the same information but a different `user-agent`

For example:
![image](https://user-images.githubusercontent.com/13673443/97643245-743bac00-1a47-11eb-8c5d-a335c38bf93a.png)
![image](https://user-images.githubusercontent.com/13673443/97643281-8cabc680-1a47-11eb-98ea-51931eadcb03.pn

[2020-10-30 00:15] jjavierdguezas commented on #487
a lot of frames as `svg` can be found in the [chromim source code](https://source.chromium.org/chromium/chromium/src/+/master:third_party/devtools-frontend/src/front_end/emulated_devices/iPhone5-landscape.svg)

[2020-10-30 10:18] #525 closed

[2020-10-30 14:51] chrlun23 opened #528 "Edit Custom Devices"
# 🚀 Feature Request

### 📝 Description
Should be given the ability to edit custom devices once they have been made.

### ✨ Describe the solution you'd like
Double click or some sort of "edit device" button/option.

### ✍️ Describe alternatives you've considered

Or perhaps:
![ResponsivelyApp](https://user-images.githubusercontent.com/58891983/97719735-d32c1000-1a9d-11eb-9cf4-0a26572dee3a.jpg)

[2020-10-30 16:34] SowmyaSeshadri commented on #357
@manojVivek Sure, I am not sure if it would go well with different backgrounds, but I shall try and get back to you.

[2020-11-02 06:23] uhlhosting commented on #408
We have somehow same issue, yet I discovered here it is a matter of the page where we take the screenshot, from 4 tested pages, one of them had visible issues, and mainly because portions of the header were left outside.

See image bellow, can be compared to original [site](https://www.tkr-bausysteme.ch)

![Tkr-bausysteme-Full-MacBook-Air](https://user-images.githubusercontent.com/6324047/97836119

[2020-11-04 01:02] alanw83 opened #530 "When devtools is right-docked, items above cannot be clicked"
# 🐞 (Original) bug report

### ✍️ Description

If I try and open the Live CSS editor when devtools is open it won't all me to open the live css editor. I have to open live css editor then dev tools to have them both open at the same time.

### 🕵🏼‍♂️ Is this a regression?

Live CSS editor was not in previous version

### 🔬 Minimal Reproduction

Open program
Load website
Toggle Live CSS Editor to on

[2020-11-04 07:02] jjavierdguezas commented on #530
Hi @alanw83 , I couldn't reproduce it.
This is my environment
[code]

Could you please share your environment? (Press F1 on the app then click Copy button an paste here)
Could you also share a gif or a video showing the issue?

[2020-11-04 23:02] alanw83 commented on #530
Version: 0.15.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

https://drive.google.com/file/d/1xJvX8Gglxb2y_ybWFXqkXrm_TIbwuSlv/view

Hopefully this works and helps!

[2020-11-05 12:35] jjavierdguezas commented on #530
Thanks for the info @alanw83

I keep the devtools docked to the bottom, that is why I couldn't reproduce it. Now I did,

I think you found a more complex issue: **when the devtools is docked to the right side of the app, it seems that it is positioned on top of the elements that are above, preventing them from being clicked**

I mean, not only does the Live CSS Editor toggle button stop working, b

[2020-11-07 10:01] nagyv commented on #496
Reproduced on:

Version: 0.15.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

[2020-11-07 14:08] XVonRad opened #531 "Can't disable spell checker when or after using dev tools"
# 🐞 bug report

### ✍️ Description

My page has non-english words. The spell checker is activated as soon as I open dev tools. The red squiggly red lines under unrecognized words ruin the page rendering. From then on only a full refresh will deactivate the spell checker.

### ✨ Describe the solution you'd like

A setting where spell check can be turned on and off

### ✍️ Describe alternatives you'

[2020-11-08 12:54] jjavierdguezas commented on #531
Hi @XVonRad , can you please share a screenshot, gif or video showing the issue?

[2020-11-08 12:59] jjavierdguezas commented on #531
Maybe we can play around the `spellcheck` prop of `BrowserWindow` and `webview` (`webpreferences`)
https://www.electronjs.org/docs/tutorial/spellchecker

[code]

[2020-11-08 15:19] XVonRad commented on #531
[Responsively 2020-11-08 16-09-15.zip](https://github.com/responsively-org/responsively-app/files/5506558/Responsively.2020-11-08.16-09-15.zip)

Hi @jjavierdguezas
I've uploaded a screen video showing that once I've click Enable Design Mode, the spell checker activates and stays on after I disable Design Mode.
Note: I never even wanted to enter design mode actually. It's just that I more often tha

[2020-11-09 15:14] talyh opened #532 "Page interactions are not the same across mirrored devices"
# 🐞 bug report

### ✍️ Description

After scrolling a bit through a page and then clicking on some of the items, the event target is not consistently perceived across devices

### 🕵🏼‍♂️ Is this a regression?

Can't say. First time trying Responsively.

### 🔬 Minimal Reproduction

1. Setup devices:
    - Generic Laptop
    - iPhone 6/7/8
    - iPhone X
    - iPad (vertical)
2.  Open https://www.pro

[2020-11-10 09:49] jjavierdguezas commented on #531
I see it now @XVonRad .. yes I think that a toggle in user preferences to activate/deactivate spell checker will be useful

[2020-11-10 13:03] lambda0xff commented on #502
Actually, still a bug:
MacOS 10.15.7

Version: 0.15.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

To reproduce:
- open application, dark theme is selected by default
- choose light theme
- close app
- open app again -> dark theme

ps: yes, the app is run from /Applications

[2020-11-11 15:08] bikingbadger commented on #521
Could I have a go at this? Is it assigned to anyone yet?

[2020-11-11 16:54] jjavierdguezas commented on #521
HI @bikingbadger, I am assigning this to you, thanks!
Please join us on slack if you want to discuss this

[2020-11-14 08:25] deadcoder0904 opened #534 "Save Layout settings"
# 🚀 Feature Request

### 📝 Description

I always want a `Horizontal` layout but it always switches back to `FlexiGrid`

### ✨ Describe the solution you'd like

Save whatever layout I select before exiting the app & show me the same layout when I open the app.

At least, that's what Desktop Apps are supposed to do :)

[2020-11-24 18:20] qosmark opened #536 "App not opening/Chrome extension not working"
# 🐞 bug report
Chrome extension not working

### ✍️ Description
I click the chrome extension and see a message that I need to install Responsively, but it's already installed. ResponsivelyApp kind of opens, I can see that the finder is showing it (top left on Mac), but the actual app doesn't open.

If I just run the app without using the Chrome extension button, the app opens _occasionally_, maybe

[2020-11-26 19:44] personaaleatoria opened #537 "The app connects to "www.google.com" on startup even though that's not the home page"
My application firewall made me notice that responsively connects to www.google.com port 53 on startup. At first I thought it's fine because I can change the default home page, but even after changing the home page responsively is trying to connect to google on startup, and if I block the connection with the firewall the app doesn't start.

I propose removing the hardcoded google.com url from the

[2020-11-26 19:55] personaaleatoria commented on #537
To reproduce:

- open responsively, navigate to the design url
- establish that url as home page
- restart responsively, a request for google is made on start but responsively loads the design url, and the design url is shown as the default home page.

[2020-11-26 23:31] MihailButnaru commented on #363
This future is not available yet? to simulate bars?

[2020-11-27 14:10] jjavierdguezas commented on #537
Hi @personaaleatoria , thanks for your suggestion
I agree that if the user sets a default page then it should be the one (and only) loaded on startup
On #533 we are working on setting a "blank page" as default on startup, maybe we can fix this there
@manojVivek @bikingbadger

[2020-11-30 20:06] kiwan97 commented on #534
Hello, I'm a college student studying coding.
May I take this Issue?

[2020-11-30 21:28] jjavierdguezas commented on #534
Hello @kiwan97 of course you can! I am assigning this to you
Please come to slack if you want to discuss anything related
Thanks! 💪

[2020-12-02 09:58] Zoeinfp commented on #537
I am on it !

[2020-12-02 10:01] jjavierdguezas commented on #537
Thanks @Zoeinfp, I'm assigning this to you

[2020-12-02 14:08] Zoeinfp commented on #537
I was not able to reproduced it because I didn't see any request to google... I'll try another one!

[2020-12-02 14:20] Zoeinfp commented on #530
I was unable to reproduce following those steps because the live css does toggle off ...

Version: 0.15.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.17763

![image](https://user-images.githubusercontent.com/15839150/100884284-98106880-34b1-11eb-8751-6d454d9b63dc.png)

[2020-12-02 14:30] jjavierdguezas commented on #537
Hi @personaaleatoria I think my first test on this was wrong, because I tried again many times and I still cant reproduce it either, all I see is a request to www.google-analytics.com
I'm using [fiddler](https://www.telerik.com/download/fiddler/fiddler-everywhere-windows)
I set https://responsively.app/ as my startup page and these are the requests on startup
![image](https://user-images.githubuse

[2020-12-02 15:29] Zoeinfp commented on #530
I can try to set correctly the bounds of the panel for having the buttons available for the user to click.

[2020-12-02 15:41] Hahlh opened #539 "Feature/Testing Profiles"
# 🚀 Feature Request

### 📝 Description
Being able to group certain devices into definable "testing profiles", especially since only 5 devices at a time work.

For example:

Testing profile: extra-large
1. MacBook Pro 13
2. MacBook Pro 16
3. 4k
4. 5k

Testing profile: desktop / laptop
1. 1920x1080
2. 1440x900
3. 1366x768
4. Laptop with MDPI screen - 1280x800

Testing profile: tablet
1. Ipad
2. Surf

[2020-12-02 20:59] personaaleatoria commented on #537
I'm using [opensnitch](https://github.com/gustavo-iniguez-goya/opensnitch) application firewall to detect traffic

I set up example.com as home page and I'm seeing connection attempts to "www.google.com" on udp port 53, and udp6 port 53.

Version: 0.15.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.4.0-56-generic

[2020-12-02 21:03] personaaleatoria commented on #537
I'm using the appimage version of responsively

![21-53-49_ 2-12-2020](https://user-images.githubusercontent.com/60275452/100930930-b4c49480-34e1-11eb-865f-16fdf6d1069d.png)
![21-52-29_ 2-12-2020](https://user-images.githubusercontent.com/60275452/100930949-b9894880-34e1-11eb-98db-f7f930edfc65.png)

[2020-12-03 13:37] mvaneijgen opened #540 "Gulp browserSync `browser: "responsivelyapp",` doesn't launch a window a the current port"
# 🐞 bug report

### ✍️ Description

ResponsivelyApp opens, but no window is being launched and there is no way to open a window, have too quit the app and open it manually again. Running browserSync with Gulp. Google Chrome opens the app and opens the window at the current port.

### 🕵🏼‍♂️ Is this a regression?

No

### 🔬 Minimal Reproduction
[code]

### 🌍 Your Environment

<pre><code>
Version: 0.

[2020-12-03 15:32] protium-dev opened #541 "Ability of take a screenshot of all the devices at once"
# 🚀 Feature Request

### 📝 Description
I tend to share screenshots of all the devices at once with my team. Currently I just use a screenshot tool but it would be nice to be able to have it done by the app. As example
![image](https://user-images.githubusercontent.com/43855513/101050800-0b36df00-3585-11eb-8458-926ee13b1648.png)

### ✨ Describe the solution you'd like

The app could create a screen

[2020-12-08 05:31] pajaydev commented on #528
@jjavierdguezas  Shall I work on this ?.

[2020-12-08 13:44] heikojansen commented on #537
Given that udp port 53 is used this probably is a DNS query, so it might not matter which homepage URL is used.
Also, this won't show up in the developer tools...

I have no idea, why this does not respect the locally configured DNS resolver.
Chrome (Chromium?) does issue a few DNS requests on random domain names on startup to detect dns hijacking, but that does not explain DNS requests where www.

[2020-12-08 19:51] personaaleatoria commented on #537
@heikojansen that's odd because I use other apps based on electron / chromium and I've seen no such requests, for example visual studio code. I'm no electron / chrome developer so I can't help with that. If you need more debug please let me know I'm glad to help.

[2020-12-10 09:29] jjavierdguezas commented on #528
Hi @pajaydev, of course you can, I am assigning this to you
Please join us in slack if you have anything to discuss related to this

[2020-12-12 11:53] SagarPandita0 opened #542 "Open Collective Responsively website - Updating stats"
The website at link : https://opencollective.com/responsively
The stats shown on the website are a little behind the current numbers.
Example - 7000+ stars can be update to 9000+ stars :)

[2020-12-14 03:24] naher94 commented on #357
<img width="1064" alt="Screen Shot 2020-12-13 at 10 23 27 PM" src="https://user-images.githubusercontent.com/7800629/102036823-d6e7cd80-3d91-11eb-816a-b276ad84d9b3.png">

Playing with some new idea.. thinking about a couple devices metaphor previously mentioned and breaking the icon box, if you will

[2020-12-14 03:34] naher94 commented on #357
<img width="695" alt="Screen Shot 2020-12-13 at 10 33 43 PM" src="https://user-images.githubusercontent.com/7800629/102037484-43af9780-3d93-11eb-8e7b-7cd671edee2e.png">

Tried one that is stacked up devices as well

[2020-12-29 02:37] RyannnnnnR commented on #541
@protium-dev Can you give more information on how you'd like this to work? Is it just one big screenshot with all of the webviews in it? As if the application where to  take a screenshot of the entire device view area?

[2020-12-29 06:09] manojVivek commented on #541
Maybe, instead of a screenshot of the app UI, we should render the device screenshots on a canvas with the device name and dimension details.

[2020-12-30 23:23] JBetts97 opened #547 "Typo error in function name"
## ⌨️ Spelling Mistake
I just noticed a small spelling mistake in an exported function named `FullScreenShort` within one of the icon components.
I will shortly submit a pull request that fixes this spelling error with reference to this issue number.

## 👨‍🏫 Replication Steps
As this is not a bug or feature request to the actual product, replication steps are not applicable.

[2020-12-30 23:40] #534 closed

[2020-12-31 10:57] deadcoder0904 commented on #534
Great job @kiwan97 👏

[2020-12-31 11:06] karlhorky opened #549 "Submit Responsively App to Snap Store / Flathub (Flatpak) for Linux"
# 🚀 Feature Request

First of all, thanks for this app, really cool! Appreciate the work that you're doing to make it easier to develop responsive websites!

### 📝 Description

It would be nice to have the capability of installing Responsively App via Snap and/or Flatpak on Linux. For this it would need to be submitted to one or both of the following:

- [Snap Store](https://snapcraft.io/docs/rele

[2020-12-31 11:21] karlhorky opened #550 "Hot Reloading mp4: Demonstrate Responsive Design Changes"
# 🚀 Feature Request

### 📝 Description

The [hot reloading mp4](https://github.com/responsively-org/responsively-app/blob/gh-pages/assets/video/hot-reloading.mp4) in the `gh-pages` branch currently shows generic content and CSS changes to the `create-react-app` starter template, but avoids showing where Responsively App can really shine - changes to a responsive design!

Off the top of my head, I

[2020-12-31 13:47] kiwan97 commented on #534
Thanks for giving me a chance! @jjavierdguezas @deadcoder0904

[2021-01-02 15:35] protium-dev commented on #541
@manojVivek that would be awesome!

[2021-01-14 16:45] lomby92 commented on #549
Could be really useful, if i will have some time i will check how to do this. It will be an honor

[2021-01-14 17:31] jjavierdguezas commented on #549
Hi @lomby92 , thanks, I am assigning this to you

[2021-01-15 10:37] lomby92 commented on #549
## Dev status

I don't find a way to locally test the snap package (generated by the electron-builder) but seems that the creation of this package is really simple. But, there is something to add: publishing to snapcraft.

This operation is not so difficult:

1. login into snapcraft through CLI (using a secret from the env)
2. push/upload the .snap file
3. logout

These operations must be run into

[2021-01-18 00:40] haliztech opened #551 "Load Client Certificate"
My site is using client certificate. Is there any way i can load client certificate to responsively app?

[2021-01-20 08:12] YusufSuleman commented on #541
An option menu, where you can select select to stitch it into one image or not. Which devices to take them from. You can also select it to be in a zipped file but that would disable the stitching option. You can select to add device information in Meta-Data or have it in the image itself.

Here is a mockup.
![tw](https://user-images.githubusercontent.com/63107868/105145648-d8d74600-5b20-11eb-9373-

[2021-01-21 04:58] rijusougata13 commented on #541
i guess we have to create a button which will take screenshot for all the available views(mobile view,tablet view,pc view).

[2021-01-27 13:14] lomby92 commented on #549
I don't know, maybe @manojVivek is the right contributor?

[2021-01-27 15:17] jjavierdguezas commented on #549
Hi @lomby92
I'm sorry but I don't have much free time these days
I think that managing to configure a CI / CD pipeline is a great idea, not only for this feature but for others (like the `chocolatey` package)
I think @manojVivek will be able to guide you better
In my case, when I developed the functionality for `chocolatey`, I made some modifications and created some scripts to generate and publis

[2021-01-28 02:44] tranlamnhatnam opened #553 "Missing horizontal scrollbar"
# 🐞 bug report

### ✍️ Description

I have 5 screens respectively (1280px, 1024px, 768px, 640px, 375px) with layout is horizontal. At a certain zoom, the horizontal scrollbar disappears.  I my case, if zoom is 50% or higher, the horizontal scroll bar will not display and 40% or less then it appeared. (Arrows key still working)

I realized that once zoom in large enough, the gift box icon (changelo

[2021-01-28 15:46] jjavierdguezas commented on #553
good catch @tranlamnhatnam !

[2021-01-28 15:48] jjavierdguezas commented on #551
Hi @haliztech , right now it is not possible :( , but it could be a good feature to add

[2021-01-28 15:50] jjavierdguezas commented on #550
Hi @karlhorky thanks for your recommendations

[2021-01-28 15:51] #547 closed

[2021-01-28 15:53] jjavierdguezas commented on #542
Hi @SagarPandita0 thanks for your recommendation

[2021-01-30 11:04] lomby92 commented on #549
# Update

I found a way to locally test a snap package:
1) run **yarn package-linux**, it creates a .snap file into `desktop-app/release` folder
2) extract the .snap file into a folder (eg: temp folder) **unsquashfs -d /tmp/responsively-snap .desktop-app/release/<.snap file name>**
3) run the application **/tmp/responsively-snap/responsively-app**

QUESTION
Do you have some specific part of the ap

[2021-02-01 11:37] lucievr commented on #553
I would like to have a go at fixing this

[2021-02-01 16:41] #553 closed

[2021-02-08 10:20] elrosi opened #556 "High CPU load and power consumption."
Hi there! 😄

# 🐞 bug report
While loading and scrolling the web, I noticed a very high load on the processor and power consumption.
CPU load jumps to more than 80% in the short term.
![2021-02-08_11-12-10](https://user-images.githubusercontent.com/1309982/107206467-5e069a00-69ff-11eb-9fe0-86efd8a20ed5.jpg)

[2021-02-08 12:56] YuriLopesM commented on #275
I had the same problem, but in my case it was the silly mistake of putting `https` instead of `http`. Fixing that, it worked correctly.

[2021-02-12 02:37] flopezre commented on #556
Confirmed

[2021-02-12 02:59] flopezre commented on #553
Confirmed. I create an app using Materialize and the horizontal scroll bar disappears
Gif:
![Materialize_Bug](https://user-images.githubusercontent.com/4932575/107725480-26c90f00-6cc5-11eb-96f0-407881f6a48f.gif)

Cheers

[2021-02-25 09:40] MandyHL opened #557 "I would like to see the effect of not having the viewport set"
# 🚀 Feature Request

### 📝 Description
I want to see the effect of my website without setting the meta tag of viewport, but at present, the effect of my website will default to adding viewport in the application, which is different from the real effect on the mobile phone

### ✨ Describe the solution you'd like
I would like to see the effect without the following tags, and the default width of the

[2021-02-25 10:17] bugnumber9 opened #558 "Send per-device User-Agent / HTTP header"
# 🚀 Feature Request

### 📝 Description

We're using Mobile Detect Library (http://mobiledetect.net/) which "uses the User-Agent string combined with specific HTTP headers to detect the mobile environment".
Looks like Responsively App doesn't send device-specific User-Agent strings and/or HTTP headers. It would be great if it did since sometimes one has to use this type of mobile/tablet detection r

[2021-02-25 10:38] jjavierdguezas commented on #558
Hi @bugnumber9
Could you tell us which device is not being detected correctly?
I tested some of the built-in ones on http://demo.mobiledetect.net/ and it seems to work well

[2021-02-25 10:38] #558 closed

[2021-02-25 10:39] bugnumber9 commented on #558
I apologize, looks like I was stupid :) Made a bug in my own code and didn't notice it for several days.
Sorry!

[2021-03-07 03:59] barrabinfc commented on #282
I've tried this option with a local gatsby project, it does work!

However, i'm unsure how to proceed to a full feature, since
this option requires a complete process reload, and i would like to have a option
on the interface to add the active domain to the exception list.

I've tried by editing the `main.dev.js` with
[code]

[2021-03-07 12:02] bennniii opened #559 "Error: -107"
when visiting a webpage without an SSL certificate ([www.goldene-krone.de](http://www.goldene-krone.de)), i'm only presented an "Error: -107" (ERR_SSL-PROTOCOL_ERROR).

i have disabled SSL validation in the settings but the problem remains persistent.

running ResponsivelyApp 0.15.0 on MacMini (M1, 2020), MacOS 11.2.2 (20D80)

[2021-03-10 09:30] webenadam opened #560 "Please change the app's icon :)"
This app is amazing, why shouldn't the icon be also ? :)

I can design one for you if you'll just say you will consider using it (u don't have to promise :)

[2021-03-10 09:45] jjavierdguezas commented on #560
Hi @webenadam we are discussing this in https://github.com/responsively-org/responsively-app/issues/357 you can join us there
Meanwhile I am closing this as duplicated
(and btw, I **love** our icon 😉  )

[2021-03-10 09:45] #560 closed

[2021-03-15 13:13] ronilaukkarinen opened #562 "Settings resetting on each restart"
# 🐞 bug report

### ✍️ Description

Trying to set up a [devtools theme](https://chrome.google.com/webstore/detail/magoon-chrome-devtools-th/aaimlcmkljmacmacanfbhfgjkahgaihm), it works, but resetting on each restart.

### 🕵🏼‍♂️ Is this a regression?

Using Responsively the first time so I don't know.

### 🔬 Minimal Reproduction

1. Open Responsively
2. Enable allow custom UI themes from DevTools
3.

[2021-03-16 08:23] Esger commented on #91
Working on a web-app with login, storing x-auth token in sessionStorage and various other settings in localStorage, I'd like to try Responsively, but I can't even login. There are errors in the console but they disappear too quickly to read.

[2021-03-17 00:52] Ry0taK opened #563 "[Security] How can I report a vulnerability?"
Hello Responsively team,
I'm a security researcher who contacted you in a direct message on Twitter.

It has been 90 days since I reported a vulnerability, so I'm opening this issue.
I won't mention the details of the vulnerability in this issue. However, I would like to know how to report a vulnerability.

Best regards,
RyotaK

[2021-03-17 14:54] jjavierdguezas commented on #563
I suggest you contact @manojVivek on Slack

[2021-03-23 22:37] asitaaa opened #565 "no mountable file system"
# 🐞 bug report

when I try to install the app, it says 'no mountable filesystem'

### ✍️ Description

### 🕵🏼‍♂️ Is this a regression?

### 🔬 Minimal Reproduction

### 🌍 Your Environment

<pre><code>

</code></pre>

### 🔥 Exception or Error or Screenshot

<pre><code>

</code></pre>

[2021-03-23 22:48] asitaaa commented on #565
Initializing…
DIBackingStoreInstantiatorProbe: interface  0, score      100, CBSDBackingStore
DIBackingStoreInstantiatorProbe: interface  1, score    -1000, CBundleBackingStore
DIBackingStoreInstantiatorProbe: interface  2, score    -1000, CRAMBackingStore
DIBackingStoreInstantiatorProbe: interface  3, score    -1000, CDevBackingStore
DIBackingStoreInstantiatorProbe: interface  4, score    -1000,

[2021-03-24 13:58] MANDA-LAWINE opened #566 "Disable same origin policy in Chrome"
Is there a way to disable same origin policy ?
In chrome we can do that, see [disable-same-origin-policy-in-chrome](https://stackoverflow.com/questions/3102819/disable-same-origin-policy-in-chrome)

[2021-03-24 14:49] jjavierdguezas commented on #566
Based on what you linked, I think it could be done toggling [`<webview>`'s `disablewebsecurity` attribute]( https://www.electronjs.org/docs/api/webview-tag#disablewebsecurity)

[2021-03-24 15:06] manojVivek commented on #565
@asitaaa Can you please add more details on when you get this error exactly?
Please include the environment details and a screenshot of the error as well.

[2021-03-24 15:10] manojVivek commented on #557
@MandyHL Please help me understand the requirement here.

You can remove the viewport meta tag from your HTML to see how it behaves right?

[2021-03-24 16:37] asitaaa commented on #565
It started to work only after I installed the Chrome Extension. BTW, it truly is awesome. I can see it being used on a daily basis for my web development.

[2021-03-25 02:49] manojVivek commented on #565
Glad it worked! 🎉

[2021-03-25 02:49] #565 closed

[2021-03-25 08:00] MandyHL commented on #557
I remove the meta tag to html。

**The following picture is the effect in the Google browser。**

![image](https://user-images.githubusercontent.com/33886351/112437734-389cd800-8d82-11eb-8c35-e20492438644.png)

**The following images are in effect in ResponsivelyApp**
![image](https://user-images.githubusercontent.com/33886351/112438446-e4462800-8d82-11eb-9ac4-c9fb1b1a77e9.png)

They don't have the

[2021-03-25 17:12] Tiberriver256 opened #568 "Site seems to be down?"
Trying to hit the https://responsively.app website I get the following

![image](https://user-images.githubusercontent.com/6989492/112514409-a8ec2f00-8d6b-11eb-9ac2-af8bfd9e87a3.png)

[2021-03-25 17:26] jjavierdguezas commented on #568
I can confirm this @manojVivek

[2021-03-25 22:26] Tiberriver256 commented on #568
Looks to be back up

[2021-03-25 22:26] #568 closed

[2021-03-27 10:16] nicojdejong commented on #89
@manojVivek - On a microsoft login i get This endpoint only accepts POST requests. Allowing cookies and whitelisting the sign on URL is the advice. https://docs.microsoft.com/en-us/answers/questions/59025/aadsts900561-this-endpoint-only-accepts-post-reque.html. I am not sure though how to get to the chrome settings. Tried chrome://settings/ but that the electron app does no acccept... Is there any

[2021-03-27 10:24] nicojdejong commented on #89
@manojVivek - just tried a direct link of something I visited before - ichidev.sharepoint.com/sites/xyz and that worked. It might be that above is either purely related to teams.microsoft.com and/or does work if in Chrome a login was done and a cookie was stored. Dont have enough knowledge to get the logic behind this. Thanks for any pointers.

[2021-03-29 08:39] menjilx opened #569 "New App Icon"
# 🚀 Feature Request
Is it okay if I will design a new "App Icon" for Responsively?

# UI Bug Report
![image](https://user-images.githubusercontent.com/14908836/112810067-42d61380-90ad-11eb-8691-36685293b952.png)

I think it is better to use "Responsively".

:)

[2021-03-29 08:44] jjavierdguezas commented on #569
Hi @menjilx thanks for thinking about this. please join us on #357 and talk about your ideas. I'm closing this meanwhile.

[2021-03-29 08:44] #569 closed

[2021-03-29 08:54] menjilx commented on #357
My vote is this :)  =>
![image](https://user-images.githubusercontent.com/14908836/112812236-744fde80-90af-11eb-8983-f998f2ac244f.png)

[2021-04-01 03:57] manojVivek commented on #532
@talyh Sorry for the delay here.

The Page interaction mirror only works as long as the DOM structure is the same across the devices. We use browser-sync to do the event mirroring and it employs an `XPath` like structure to propagate events of an element.
So if the DOM structure is different across the devices then the mirroring might not work accurately.

[2021-04-01 16:59] talyh commented on #532
@manojVivek - Thanks for the info.

In this case, the page structure was the same across devices I believe (meaning same DOM nodes, even if their styling placed them differently).

As mentioned above though, that page is no longer available so hard to know for sure. Let me know if it's useful to try and find another scenario where this happens.

[2021-04-02 02:41] paulchiu commented on #91
I had the same issue and I think the problem is that each view is its own Chrome instance. You can see this if you:

- Remove all devices except one
- Login
- Add another device
- Check dev tools for both and the local/session storage
- You should see the storage for one is different to another

I would summarise the problem as when the storage/session of views get out of sync, you can end up with

[2021-04-02 03:22] manojVivek commented on #91
@Esger @paulchiu Is it possible that you guys provide a test page where happens?
It will be very helpful in debugging the issue.

[2021-04-02 04:04] manojVivek commented on #532
@talyh If this happening on a page with a similar DOM structure across the devices then please provide us that URL.
That will be very helpful to debug it.

[2021-04-06 17:06] mahendra1290 commented on #566
Hi @jjavierdguezas i am new to open source and worked on ReactJs and Angular can I try to solve this issue.

[2021-04-07 10:04] jjavierdguezas commented on #566
of course you can! thanks!

[2021-04-08 21:03] dmzinc commented on #566
Hi @jjavierdguezas I am new to open source contribution and I would love to know how I can contribute

[2021-04-09 04:39] mahendra1290 commented on #566
@jjavierdguezas Did it need to be a command line argument ?

[2021-04-13 09:03] jjavierdguezas commented on #566
I don't think so, it should be a toggle in the UI that toggles the webview attribute

[2021-04-13 14:18] mahendra1290 commented on #566
Ok i understood can u guide me on it where I should add the toggle option.

[2021-04-13 16:01] mahendra1290 commented on #566
there are two npm scripts start-main-dev and start-renderer-dev what's the difference

[2021-04-13 17:06] jjavierdguezas commented on #566
![image](https://user-images.githubusercontent.com/13673443/114592519-524b8400-9c8b-11eb-82fc-2fbb8e7175df.png)

[2021-04-13 17:35] mahendra1290 commented on #566
ya i have done that

[2021-04-13 20:02] mahendra1290 commented on #566
I tried this but it is not working.
`<webview
          ref={this.webviewRef}
          preload="./preload.js"
          className={cx(styles.device)}
          src={address || 'about:blank'}
          useragent={useragent}
          style={deviceStyles}
          disablewebsecurity={true}
        />`

[2021-04-14 15:28] talyh commented on #532
Since out mobile/desktop menus have changed and are separate implementations now, I no longer can provide an example where the DOM structure is the same across viewports.
I'm closing this issue for now.

[2021-04-14 15:28] #532 closed

[2021-04-15 02:52] ruxf opened #570 "Modify macOS quickly install command with brew"
# 🚀 Feature Request

### 📝 Description

The README tell us to install this app with `brew` is below:
[code]

But the right command with `brew` is:
[code]

[2021-04-15 10:01] #570 closed

[2021-04-16 00:45] ruxf commented on #570
OK， Thanks, my `brew`'s version is old...

[2021-04-17 13:21] eikaramba opened #571 "F5 not working to refresh page"
# 🐞 bug report

### ✍️ Description

When i press f5 the page(s) are not refreshing. I would expect the page to refresh on all devices.

### 🕵🏼‍♂️ Is this a regression?

no

### 🌍 Your Environment

windows

[2021-04-21 08:30] YusufSuleman commented on #571
Try pressing `Fn`+` F5`.

[2021-04-21 12:18] durgakiran commented on #541
**Couple of Observations:**

I was trying to figure out the code, in the hope of contributing, here are my observation on this particular issue.

The whole screenshot functionality and most other functionalities are based on pubsub pattern (pubsub.js). Therefore,  each screenshot generated on each webview is asynchronous. To create a single image out of different images, we must know when all the

[2021-04-21 12:57] eikaramba commented on #571
although i understand the reasoning behind that, i can assure you that i hit the real f5 key. my keyboard uses the function keys by default. but just to be sure Fn+ F5 also does not work. Strg+r works however. it's really not a big deal, just something one might want to quickly fix or add. if the function is already there and should work and it is just me, then i can surely try to give more infos

[2021-04-21 14:31] jjavierdguezas commented on #571
right now, you can refresh all views using `Cmd/Ctrl + R` but we can include `F5` as well

![image](https://user-images.githubusercontent.com/13673443/115570683-9d364e80-a2be-11eb-8cb9-e15023961f15.png)

[2021-04-23 02:37] durgakiran commented on #541
**Please assign this issue to me, I am working on this**

[2021-04-23 03:15] manojVivek commented on #541
Thanks, assigned it to you @durgakiran.
Maybe we can move screenshot functionality out of pubsub.js?

[2021-04-23 04:49] durgakiran commented on #541
yep, thanks.
Let me see I am trying to keep things within pubsub and a web worker, I will update my solution

[2021-04-23 05:14] YusufSuleman commented on #571
I will try to program that.

[2021-04-23 06:38] YusufSuleman commented on #537
Maybe it is an old bug or it testing the internet connection.

[2021-04-24 16:47] manoj19058 commented on #557
Could you please elaborate on this a little more ..?

[2021-04-30 02:43] swilkewitz opened #573 "Responsively gets stuck in touch mode very easily"
I get stuck in touch mode after only a few clicks. When I go to press the touch mode button at the top right it won't deactivate. I have to restart the app every time I get stuck

I noticed that my mouse icon is still set to touch mode even when I'm interacting with the Responsively app. Why is that the case? That seems odd to me.

In general, it seems like touch mode is an afterthought... shouldn

[2021-04-30 11:06] adrinux commented on #360
It seems AppImageLauncher also doesn't support Gnome's 'Add to favorites' to keep the app in the Dash.
To replicate: right-click on the app in the Dash - the option isn't visible.
(Running on Manjaro, Gnome 40 with responsively-bin package installed from AUR).

[2021-05-01 16:27] manojVivek commented on #573
@swilkewitz Yeah, this is a known behavior, but it should get deactivated when you click(tap) the icon again.

This is because of a disability in Electron, the touch mode cannot be activated specifically for a Webview, it will get activated for the whole app.

We will keep this open to see if any of the future releases of Electron makes this possible.

[2021-05-01 21:42] swilkewitz commented on #573
"but it should get deactivated when you click(tap) the icon again."

It doesn't, that's why i posted this bug

On Sat, May 1, 2021, 09:27 Manoj Vivek ***@***.***> wrote:

[2021-05-02 07:25] YusufSuleman commented on #556
Then don't use electron.

[2021-05-02 07:27] YusufSuleman commented on #562
It might be because of Electron not allowing plugins.

[2021-05-05 09:22] geiras opened #575 "Screenshot shortcut not working on Mac (change screenshot shortcut)"
OS X does not have a dedicated Prt Scrn key, rendering the shortcut unusable.
Either designate another shortcut for taking screenshot on Mac or allow to change it.

OS X does have a built in shortcut tool as it can replicate any command found on the app menus. In this case, I could not find any shortcuts accessible through the app menus, so it won't work, I guess.

[2021-05-05 10:06] jjavierdguezas commented on #575
Hi @geiras, thanks for point it us this... Do you have any suggestions for the shortcut?

[2021-05-05 10:08] jjavierdguezas commented on #575
The solution is to add a new accelerator to this line:
https://github.com/responsively-org/responsively-app/blob/90240a64b950a415447d50e4940e696aab8bee6f/desktop-app/app/containers/Root.js#L124

[2021-05-05 13:42] #317 closed

[2021-05-05 17:22] geiras commented on #575
Hello @jjavierdguezas.
My suggestion for the Mac OS X shortcut is Cmd + Shift + S.
It's the same shortcut used by Firefox browser for the native screenshot tool.

[2021-05-07 17:28] geiras opened #577 "Allow users to define cursor mode based on device type"
# 🚀 Feature Request

### 📝 Description

### ✨ Describe the solution you'd like

### ✍️ Describe alternatives you've considered

[2021-05-09 03:04] durgakiran commented on #506
@manojVivek @jjavierdguezas I think the first step here should be a stable and working setup of testing frameworks to actually write test cases.
The reason why I am putting this out is, the existing test setup is not working (the issue is probably related jest config combined with Flow js). This failing setup is actually discouraging us to start writing test cases, at least the enhancements that c

[2021-05-09 04:07] #563 closed

[2021-05-09 04:49] #531 closed

[2021-05-09 22:01] naher94 commented on #352
@manojVivek curious how all the design work is going?

[2021-05-10 10:51] jjavierdguezas commented on #559
it worked for me...
![image](https://user-images.githubusercontent.com/13673443/117648352-669d7680-b18e-11eb-8ae9-10cdbe66e5eb.png)

[2021-05-10 15:58] manojVivek commented on #559
Works for me as well.

[2021-05-10 16:29] manojVivek commented on #352
@naher94 There isn't much progress on this one after that. We are yet to freeze the design.

[2021-05-11 13:31] naher94 commented on #352
@manojVivek sounds good.. let me know if I can help in anyway, happy to help!

[2021-05-11 15:47] #516 closed

[2021-05-11 20:57] Trettin opened #582 "Flex Gap"
# 🐞 bug report

### ✍️ Description

The app doesn't support the Gap property from display: flex;
It's the first time i try to report something.
I hope it's ok.

### 🕵🏼‍♂️ Is this a regression?

### 🔬 Minimal Reproduction

### 🌍 Your Environment

<pre><code>

</code></pre>

### 🔥 Exception or Error or Screenshot

<pre><code>

</code></pre>

[2021-05-11 22:27] jjavierdguezas commented on #582
Hi can you provide a reproducible example?

[2021-05-12 04:20] manojVivek commented on #582
I can see that Chrome added support for `gap` property from version 84, but the latest version of Responsively uses version 83.

Electron version upgrade is the solution for this.

Ref: https://caniuse.com/?search=gap

[2021-05-12 16:25] s-gbz commented on #215
That would be amazing!

[2021-05-12 17:08] jjavierdguezas commented on #341
@pajaydev  since it has been a long time, I have made this feature myself

[2021-05-12 18:09] jjavierdguezas opened #584 "Responsively notification get behind of device with error"
# 🐞 bug report

### ✍️ Description

Responsively notification get behind of `<webview/>` when navigation resulted in error

### 🕵🏼‍♂️ Is this a regression?

idk

### 🔬 Minimal Reproduction

This is a tricky scenario (it happened to me by chance 😅), maybe we can simulate changing some variables in the code
It happens when "a notification is displayed in front of a device with an error "

### 🌍 Your

[2021-05-12 18:16] jjavierdguezas opened #585 "Responsively closes when navigates to twitter.com"
# 🐞 bug report

### ✍️ Description

Responsively closes when navigates to twitter.com. (maybe it happens with other URLs)

### 🕵🏼‍♂️ Is this a regression?

idk

### 🔬 Minimal Reproduction

1- Open ResponsivelyApp
2- Go to twitter.com

### 🌍 Your Environment
<pre><code>Version: 0.16.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19043
</co

[2021-05-12 19:27] jjavierdguezas commented on #369
@sirdarthvader since it has been a long time, I have made this feature myself

[2021-05-13 02:34] #369 closed

[2021-05-13 08:08] jjavierdguezas commented on #365
@Kidcredo @manojVivek @Bobbbay @chris-53 I tested it many times and I think that after #586 this issue is fixed

[2021-05-13 08:41] chris-53 commented on #365
it's still not working for me despite having updated itself.

[2021-05-13 08:47] jjavierdguezas commented on #365
It hasn't been released yet, try building yourself from master branch is you want to test it now

[2021-05-13 10:02] chris-53 commented on #365
I only joined this forum to see what was going on. I don't build software, I am just a user. I'll wait until it gets fixed by whoever decides to fix it. meanwhile it's useless to me, so i don't use it. I won't hold my breath regarding seeing a proper fix as it has taken since last August for nothing to happen.

[2021-05-14 22:54] adrianoenache opened #587 "Windows Defender is blocking the installation"
# 🐞 bug report

### ✍️ Description

Windows Defender is blocking the installation.

![Capturar](https://user-images.githubusercontent.com/3247230/118338793-66361000-b4ed-11eb-965b-726693422ad7.PNG)

Someone know why?

This is not good for the brand.

I installed it before and this not happened, but I don't remember the version.

I do not feel secure installing it.

[2021-05-14 23:13] jjavierdguezas commented on #587
related to #151

shouldn't this be fixed by now @manojVivek ?

@adrianoenache we already code signed the app, it shouldn't be showing that warning by now but it is not in our hands. The certificate that ensures an immediate bypass of the Windows SmartScreen is **very expensive**. We opted for a cheaper one that has an "organic reputation build" so it is going to disappear _eventually_

![image](ht

[2021-05-15 04:19] manojVivek commented on #587
Yeah JJ, ideally it should have. But we never know how the reputation system works to be sure. 😐

[2021-05-15 04:22] #341 closed

[2021-05-15 09:42] durgakiran commented on #585
Confirmed, a possible reason for this is URL is switching between `mobile.twitter.com` to `twitter.com`. then electron exiting with `ERR_ABORTED` error.

[2021-05-15 09:43] durgakiran commented on #585
One more example is `youtube.com`, but the behaviour is slightly different, but the problem should be the same.

[2021-05-18 05:00] manojVivek opened #589 "Theme getting reset when something is changed in the user preference"
# 🐞 bug report
The app theme is getting reset to the previous value when something is changed in the user preference and saved.

### Additional Info:
Slack thread: https://responsively.slack.com/archives/D018XEBNSFQ/p1602841327006600?thread_ts=1602840199.003900&cid=D018XEBNSFQ

Findings from the slack:

Since the previous value is there on the redux state it was working.
And when I restarted the a

[2021-05-18 05:02] manojVivek commented on #502
Could be related to #589

[2021-05-18 05:03] Grcy3g8 opened #590 "gp"
# 🐞 bug report

### ✍️ Description

### 🕵🏼‍♂️ Is this a regression?

### 🔬 Minimal Reproduction

### 🌍 Your Environment

<pre><code>

</code></pre>

### 🔥 Exception or Error or Screenshot

<pre><code>

</code></pre>

[2021-05-18 05:38] #590 closed

[2021-05-18 14:36] jjavierdguezas commented on #402
first try by a contributor: https://github.com/responsively-org/responsively-app/pull/443

[2021-05-18 15:19] #521 closed

[2021-05-18 15:23] #492 closed

[2021-05-18 15:23] #493 closed

[2021-05-18 15:53] jjavierdguezas commented on #577
Right now the "Touch mode" is activated at app level:

https://github.com/responsively-org/responsively-app/blob/c5e74180108796760fcfa3f98b001083e8c49f7a/desktop-app/app/components/ToggleTouch/index.js#L43-L45

we can do exactly the same per device (per `<webview/>`)
On [WebView component](https://github.com/responsively-org/responsively-app/blob/c5e74180108796760fcfa3f98b001083e8c49f7a/desktop-ap

[2021-05-19 04:19] manojVivek commented on #577
@jjavierdguezas We have tried this but it didn't work as expected. It still enabled touch mode for the whole app.

Ref: https://github.com/responsively-org/responsively-app/issues/31#issuecomment-642577602

[2021-05-19 07:45] jjavierdguezas commented on #577
yeah that's the electron issue I linked too

[2021-05-20 04:05] #286 closed

[2021-05-20 10:39] #584 closed

[2021-05-20 14:07] oluul commented on #577
you can try https://www.npmjs.com/package/iohook

[2021-05-21 11:19] Optimus2297 opened #597 "The app is not working properly gor our website"
### ✍️ Description

The app is not working properly for our website , its built using polymer, its a product of our company so no more info can be provided

### 🔬 Minimal Reproduction

The issue is if i login in one device it doesnt get synced in all other devices

### 🌍 Your Environment

polymer, node.js

[2021-05-23 06:05] Kidcredo commented on #365
Hey @chris-53
I get where this is coming from but you need to understand that open source software costs time and resources of the people who are building and maintaining it.
There is a popular saying in the open source community. If you want a feature the best way to get it is build it yourself.
If you cannot contribute through code you can contribute via funds and help this project move further.

[2021-05-23 15:11] jjavierdguezas commented on #365
well, a new version was released, please try to test this issue after update. thanks

[2021-05-23 16:15] chris-53 commented on #365
Thanks @jjavierdguezas
Still no change unfortunately.

[2021-05-23 17:00] jjavierdguezas commented on #365
can you please share your environment? (Press `F1` in the app, clic the `Copy` button and paste here)

[2021-05-23 17:07] chris-53 commented on #365
@jjavierdguezas

Version: 0.17.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2021-05-23 17:13] jjavierdguezas commented on #365
I have the same env in one of my PCs...

Could you share an example with which this error occurs to you? (an html file for example)

[2021-05-23 17:21] chris-53 commented on #365
@jjavierdguezas
I try to open an preview of a page in  web building software that I use so i am not sure what to send you that will help. Perhaps you could advise please? At the moment the browser opens Google as it has done since the first time I tried it.

[2021-05-23 17:34] jjavierdguezas commented on #365
I am assuming you go to a `PATH` in your filesystem, right click on a `FILE.html`, select the `Open With` option and finally click on `ResponsivelyApp` item. Right?
If so, we would need:
 - Analyse the PATH: if you can share it good, if not, at least tell us if that PATH has spaces, accented letters, symbols, etc
 - Analyse the FILE.html: if you can share it perfect (and all the files it uses like

[2021-05-23 18:58] chris-53 commented on #365
Thanks for trying all this. The programme I am using has a "preview" button which then opens a temporary file in the browser of my choice. Every other browser opens the temporary file. If I choose the Responsively browser it opens Google instead. If I open the file in another browser and then paste the file location into the Responsively browser it opens the file OK.
The location of the file on my

[2021-05-23 18:59] jjavierdguezas commented on #365
@chris-53 in this link: https://wormhole.app/VLoY1#v6I2KampyRngg9c7Qpo7-g
you can download two files: `index.html` and `fun.js` the same test scenario form https://github.com/responsively-org/responsively-app/issues/365#issuecomment-666401417

Could you download them, Open with Responsively and share the results?

[2021-05-23 19:21] chris-53 commented on #365
It opens and says Check the Console.

[2021-05-23 19:23] jjavierdguezas commented on #365
Thanks for that information @chris-53 , here are my comments:
1- Responsively is not a browser, so maybe it is not fully compatible with the app that you are using
2- This issue is about opening `html` files with the 'Open with' option of Windows File Explorer.
  - `shtml` is different from `html`, Responsively only opens `*.html` and `*.htm` files via "Open with" option. `*.shtml` files are meant

[2021-05-23 19:26] jjavierdguezas commented on #365
So **this** issue does not happen to you

[2021-05-23 19:31] jjavierdguezas commented on #365
@Kidcredo @manojVivek @Bobbbay If you can check this problem again in your environments it would be helpful. Thanks!

[2021-05-23 19:39] chris-53 commented on #365
Yes, you are right about shtml, it is a server side extension. My site used to use 'server side includes'. It no longer does but I have kept the extension because Google and numerous other sites link to the shtml files. It's a nuisance in this situation. I have one or two html files on the site and they open with Responsively OK. It looks as though I will have to give up on Responsively. Thanks fo

[2021-05-24 05:29] Optimus2297 opened #599 "the app window is not loading when i run yarn dev"
# 🐞 bug report

### ✍️ Description

i have installed all the dependencies using yarn and when i am trying to open the app in dev mode using yarn dev the window of the app is not loading. Its not giving any errors also in the console.

### 🕵🏼‍♂️ Is this a regression?

It was working properly and suddenly what happened i dont know i didt change any code and then this problem appeared

### 🔬 Minimal

[2021-05-24 08:53] jjavierdguezas commented on #599
I can't reproduce this

I started a new windows sandbox session, installed node, git, yarn and vscode, then cloned the master branch, ran `yarn` then `yarn dev` and the app started fine
Windows showed some dialog boxes about the firewall, and I just clicked OK (I think those appear only the first time)

Is there something different or unique about your environment?
Did you try `rm -rf node_modules

[2021-05-24 10:33] Kidcredo commented on #365
I just tried it out seems to be working fine now.

[2021-05-28 17:06] a22munir commented on #536
I'm having the same issue on my Mac as well

[2021-05-29 08:09] ganapativs commented on #597
Similar issue with https://sgb.vercel.app/. It renders perfectly in Chrome, breaks in desktop and mobile mode when rendering through responsively. Looks like the CSS flex gap property is not working.

[2021-05-30 06:57] manojVivek commented on #597
@ganapativs `flex-gap` issue is tracked with #582.

[2021-05-31 12:06] Optimus2297 commented on #597
so how can it be resolved

[2021-05-31 12:20] Optimus2297 commented on #599
yes i did   Did you try `rm -rf node_modules` and start over? this but still facing the issue, and if i do "yarn dev .", the the window opens but evrything is black nothing loads except devtools

[2021-05-31 12:22] manojVivek commented on #599
Do you see any errors in the dev tools console?

[2021-06-01 04:21] Optimus2297 commented on #597
But we are not using flex-gap in our application. so what might be causing this, we are passing url parameters in the url.

[2021-06-01 08:36] jjavierdguezas commented on #597
Hi @Optimus2297, could you please provide more information on what is not working properly? Any information could help us understand what your problem is. Ideally, if you can provide a sample app where we can reproduce it, the better

[2021-06-01 08:45] jjavierdguezas commented on #597
We use [`browser-sync`](https://browsersync.io/)

[2021-06-01 22:46] MVCreativeServices opened #600 "Clearing the Cache"
I can't find where to clear or turn off the cache. Is this a feature that needs to be added?

[2021-06-02 06:43] Optimus2297 commented on #599
previously i was not having any errors as you see in the code i have pasted in the issue, but now i am getting these things also
"[13048:0602/121106.823:ERROR:CONSOLE(115)] "File system error: A requested file or directory could not be found at the time an operation was processed. when requesting entry ''", source: devtools://devtools/bundled/persistence/persistence.js (115)
[13048:0602/121106.823

[2021-06-02 06:44] Optimus2297 commented on #597
sorry @jjavierdguezas its a product, so cant give any more info

[2021-06-02 07:23] grimissimo commented on #536
Hi there, I am having the same problem here.
latest chrome and firefox

 Modellname:	iMac
  Modell-Identifizierung:	iMac18,3
  Prozessortyp:	Quad-Core Intel Core i7
  Prozessorgeschwindigkeit:	4,2 GHz
  Anzahl der Prozessoren:	1
  Gesamtanzahl der Kerne:	4
  L2-Cache (pro Kern):	256 KB
  L3-Cache:	8 MB
  Hyper-Threading Technologie:	Aktiviert
  Speicher:	24 GB
  Boot-ROM-Version:	429.100.7.0.0
  S

[2021-06-02 11:39] manojVivek commented on #600
@MVCreativeServices You can use the option in the screenshot to clear the cache.

<img width="759" alt="Screenshot 2021-06-02 at 5 09 04 PM" src="https://user-images.githubusercontent.com/1283424/120473975-3f207f00-c3c5-11eb-8162-d3a33b202b5d.png">

[2021-06-07 05:42] Karthick007 commented on #597
In Polymer it uses shadow root so events are not communicated across the emulated devices. Live CSS editor not selecting the DOM inside the shadow root elements.

[2021-06-07 06:59] Optimus2297 commented on #597
yes, the application is in polymer, so is there any way to fix this issue?

[2021-06-07 12:22] Grcy3g8 opened #602 "Bugs"
# 🐞 bug report

### ✍️ Description

### 🕵🏼‍♂️ Is this a regression?

### 🔬 Minimal Reproduction

### 🌍 Your Environment

<pre><code>

</code></pre>

### 🔥 Exception or Error or Screenshot

<pre><code>

</code></pre>

[2021-06-07 12:35] #602 closed

[2021-06-08 14:12] Thanzex opened #603 "Actions are not mirrored"
# 🐞 bug report

### ✍️ Description

I have downloaded Responnsively for windows bot using Chocolatey and the normal installer, in any page I visit actions and scroll are not mirrored between devices, toggling the "disable event mirroring" button globally and for the single views does nothing.

### 🔬 Minimal Reproduction

Open any website on responsively for windows and scroll / interact with somet

[2021-06-13 17:14] #365 closed

[2021-06-16 13:40] victoralbino opened #604 "ERR_BLOCKED_BY_RESPONSE"
# 🐞 bug report

### ✍️ Description

Hey guys! I have the following problem, when I enter a specific page that has integration with hubspot I get the following error:

ERROR:-27
ERR_BLOCKED_BY_RESPONSE

Is there any way to disable this type of error?

### 🔬 Minimal Reproduction

The only way I found to reproduce the error would be using a hubspot implementation on the page

### 🌍 Your Environment

[2021-06-16 15:43] jjavierdguezas commented on #604
Maybe this is related to https://github.com/electron/electron/issues/426 and there are some code snippets like https://github.com/electron/electron/issues/426#issuecomment-658901422 but it would be good if we can have an url to reproduce and test this

[2021-06-18 17:38] HRajoliN opened #607 "VS code integration"
# 🚀 Feature Request

### 📝 Description

As a beginner, I need and prefer to work with ResponsivelyApp instead of other available stuff like Sizzy, but I can not integrate it with VSCode.

### ✨ Describe the solution you'd like

### ✍️ Describe alternatives you've considered

[2021-06-18 18:15] jjavierdguezas commented on #607
what do you mean by "integrate it with VSCode" ?
could you please elaborate?

[2021-06-18 18:40] HRajoliN commented on #607
Thank you for your reply, I mean how can I see the effect of new codes in the ResponsivelyApp and use its Hot-Reloading feature when I change my code in VSCode.

[2021-06-18 21:03] jjavierdguezas commented on #607
I understand you
Right now if you are working with static html files you can open them in responsively and edit them with VSCode, every time you save in vscode it will be reloaded in responsively
If you are working with some kind of frontend framework like react, you probably start a server for development, just use that server url in responsively and that should do it
Is there another scenario th

[2021-06-18 21:21] HRajoliN commented on #607
In fact, it does not show a live update to changing the codes and I should refresh the Responsively browser. I have tried to define it as my browser in the Live-Server extension of VSCode but unfortunately, whenever I run the server I get this error " Windows cannot find ' directory of ResponsivelyApp in windows '. Make sure you typed the name correctly, and then try again. " Although, I did the i

[2021-06-18 22:10] ertoorule commented on #607
what about integrate to monaco editor inside of app!
its posible? or not? guess extra 10mb app size!

[2021-06-22 01:10] cassi10 opened #608 "CLI domains with none or one character after . route to about:blank"
# 🐞 bug report

### ✍️ Description

This is on Windows. Not sure about other OS's.

When starting Responsively through CLI command the address `localhost`, `localhost.c`, `google`, `google.a` route to `about:blank` instead.
However, `google.aa` or `localhost.com` go to the specified route.

### 🕵🏼‍♂️ Is this a regression?

Unknown, not tested. I assume this began when the feature to open through C

[2021-06-22 11:02] jjavierdguezas commented on #608
Hi @cassi10

Right now, when responsively is started from CLI, the argument passed is analyzed to check if it is a valid URL or file path. If it is not, then it fallbacks to your startup configuration (blank page or home page). Probably, you have checked blank page for startups, right?
Also, we have a bug checking URLs that it is being addressed in #605. I tested the URLs you provided here, and th

[2021-06-22 11:15] jjavierdguezas commented on #607
I just tested it and it seems to work

Opening a file in responsively and using hot reload:
![HOTRELOAD](https://user-images.githubusercontent.com/13673443/122914794-4f3fd480-d35b-11eb-82c1-2319fc56a691.gif)

Using live server
![HOTRELOAD1](https://user-images.githubusercontent.com/13673443/122915019-9332d980-d35b-11eb-94b9-0d8d9699ace0.gif)

Could you please check it again?, Do you have a specifi

[2021-06-22 11:18] jjavierdguezas commented on #607
this could be interesting, maybe we need to discuss it. If we are going to consider it we need to be very specific with the scope, because we are not going to implement vscode within responsively

what do you think @manojVivek ?

[2021-06-22 11:24] jjavierdguezas commented on #607
About this, just remember that responsively is not a browser, so maybe it won't work where a regular browser will.
Anyway we are working on improving the execution of responsively via CLI, so perhaps after #605 several scenarios will start to work where the url to open is passed as the first argument. When that works make sure to use the full path where Responsively is installed (should be `%LOCAL

[2021-06-22 13:57] cassi10 commented on #608
Yep, that PR seems to fix this issue. Thanks!

[2021-06-22 13:57] #608 closed

[2021-06-23 13:25] manojVivek commented on #607
I think this will be an overkill for what Responsively is trying to solve. Going the editor route is not going to end unless Responsively becomes an IDE 😄.
The current `Live CSS Editor` is one step in that direction, but the screen real-estate just doesn't allow it naturally, IMHO.

[2021-06-23 13:27] #540 closed

[2021-06-24 12:32] jjavierdguezas opened #609 "Improve iframe error handling due to { x-frame-options: SAMEORIGIN } header"
### Discussed in https://github.com/responsively-org/responsively-app/discussions/606

[2021-07-02 08:35] byIlsa opened #610 "RPM packages failing on opensuse"
Hi!

Trying to install through
`sudo rpm -i https://github.com/responsively-org/responsively-app/releases/download/v0.17.0/Responsively-App-0.17.0.x86_64.rpm`

Getting:
[code]

These dependencies do not exist in my repositories.

What distro is this build for?

[2021-07-02 15:06] jjavierdguezas commented on #610
I think this is an issue with [electron-builder](https://github.com/electron-userland/electron-builder/issues/502)
@byIlsa can you test it using `-- force`

[2021-07-02 15:32] jjavierdguezas commented on #610
@byIlsa could you please try with this rpm file (I'm just trying with the workarounds in  [electron-builder#502](https://github.com/electron-userland/electron-builder/issues/502)):

👉🏻 https://we.tl/t-DsqeOID2TM

checksum SHA512 is
`1920f0c409033ebf48cb9ab82b751aa2a67ff8eb75480fcf781107c83e76e2535d059cf83d3a9f55500d624e186ebf341f33b17c44821874d556b2f627e9c6a4`

[2021-07-02 15:34] byIlsa commented on #610
I installed it on OpenSuse Tumbleweeb (zypper package manager) with the following result:

[code]
He didnt complain about nss this time, but I figured it was installed anyway.

Application does start now. But it will be a surprise when it breaks :)

[2021-07-02 15:38] jjavierdguezas commented on #610
Was this with the official build or the one I provided here : https://github.com/responsively-org/responsively-app/issues/610#issuecomment-873084429 ?

[2021-07-02 15:39] byIlsa commented on #610
Official build. I wanted to try this one first :)

[2021-07-02 15:41] jjavierdguezas commented on #610
of course, but if you can test that one please I'll know if the changes I made worked (I don't have access to an opensuse machine)

[2021-07-02 15:44] byIlsa commented on #610
Sure, no problem :) I need to feed the monsters (kids) first. Will try to do it after dinner :)

[2021-07-02 15:51] byIlsa commented on #610
Couldn't resist. Monsters will survive a while longer :p

[code]

[2021-07-02 17:31] Nuno111 opened #611 "Not taking into account flexgrid gap property."
Hi all,

Would just like to report a bug, the app isn't taking into account flex grid gap property , I am using react + tailwind and on chrome, it's displayed properly the gap but when using responsively the grid gap is ignored.

Thank you!

[2021-07-02 17:33] Nuno111 commented on #611
![image](https://user-images.githubusercontent.com/42497768/124310346-f1ce3380-db63-11eb-9c87-c1a0a06dcd69.png)

as you can see I have the gap property all set up but the app ignores it, it works in my chrome browser fine

[2021-07-02 17:38] jjavierdguezas commented on #611
hi @Nuno111 , we are addressing this on #582

[2021-07-02 17:38] #611 closed

[2021-07-13 10:34] Sub-Xaero opened #612 "Links that open in new tab are ignored/handed off to Chrome"
# 🐞 bug report

### ✍️ Description

I am aware that the app does not yet support tabs (#215), but the app also just completely ignores `a[target="_blank"]`.
I would have thought that the app could at least open those links in the same tab.

Repeated clicking of the link also seems to open a new tab in an instance of Chrome, rather than in Responsively itself.

### 🕵🏼‍♂️ Is this a regression?

This

[2021-07-13 11:16] jjavierdguezas commented on #612
thanks @Sub-Xaero for report this

The expected behavior is to open a new window displaying the href (if it is a valid website url) or open the file if it is a local file and you are browsing on localhost. The fallback to all of this is to let the OS handle it, that's why you see Chrome open (I think we can improve the way URLs are validated, because if chrome can open it, we can too)

That worked

[2021-07-13 11:34] Sub-Xaero commented on #612
Makes sense. Thank you for looking into it @jjavierdguezas . The provided video matches my experience of the bug, I failed to pick up in my initial report that the behaviour was different depending which device the event was initiated from.

[2021-07-13 16:43] romeo-folie opened #613 "Search device list by display size"
# 🚀 Feature Request

### 📝 Description

The device list should be searchable by display size.

### ✨ Describe the solution you'd like

It would be extremely convenient if a user could also search the list of devices by display size. For instance, I'd expect to see the iPad Pro when I input "1024 x"

[2021-07-16 02:29] dotnetshadow opened #614 "Nuxt app updates / reload fails"
# 🐞 bug report

### ✍️ Description
I created a nuxt app, edit a file but the changes are reflected in the view.
I need to manually refresh the page to see the changes

### 🕵🏼‍♂️ Is this a regression?
Not sure

### 🔬 Minimal Reproduction
1. Create a nuxt app, ```npx create-nuxt-app <project-name>```
https://nuxtjs.org/docs/2.x/get-started/installation
2. Run `npm run dev`
3. Load up the app in Resp

[2021-07-23 12:47] GregLongo commented on #556
Can confirm. Just having responsively open in the background on M1 MBP my CPU was maxxed out and my mac temperature went up all the way to 144 degrees. Closed Responsively, and the everything went back to normal.

[2021-07-23 23:02] stephanlamoureux commented on #549
Could you do flatpak as well?

[2021-07-26 19:57] shanemcfadden commented on #566
Hi there! Is this issue up for grabs? I'm looking for a way to start contributing.

[2021-08-18 17:01] rayanneblima opened #617 "margin-inline css property dont works"

[2021-08-19 05:15] manojVivek commented on #617
@rayanneblima Thanks for raising this. Chromium added support for `margin-inline` from v87.
The version used by Responsively currently is v83. So this needs the electron version upgrade.

Similar to #582.

[2021-08-22 15:53] Arkadipta-Chatterjee commented on #228
Can i work on this?

[2021-08-23 14:52] andrewright opened #618 "Responsively"
# 🐞 bug report

### ✍️ Description

ResponsivelyApp iPhone X layout shows wrong view than on mobile and in ogirinal Chrome responsive tool.
More detail on screenshots. Used webpage might nog have horisonal scroll.
Web: clubradio.lv

### 🕵🏼‍♂️ Is this a regression?

This is the first time I've used Responsively. I couldn't say.

### 🌍 Your Environment
<pre><code>macOS Big Sur 11.5.2 (20G95)
Google

[2021-08-26 22:47] jlorenzetti opened #619 "Add option to automatically switch light/dark theme to match system theme"
# 🚀 Feature Request

### 📝 Description

Some macOS apps (like Chrome or GitHub Desktop) make it possible to automatically switch their color scheme (Light/Dark) to match system wide [appearance preferences](https://support.apple.com/en-us/HT208976).

If the system appearance preference is set to Auto, then the dark color scheme is adopted system wide at night.

It would be nice if Responsively cou

[2021-08-31 10:54] pranshul98 commented on #619
Hi there, 👋 I am new to open source contribution, wanted to pick this issue, as it is labeled "**Good First Issue**" for beginners,
I read about the project and really liked the idea, I'd love to contribute and add this feature mentioned in #619
Can you please provide me a heads-up on where to start from?
Thanks 😃

[2021-08-31 16:39] kiwan97 commented on #613
@jjavierdguezas
Hello!
I carried out [one issue](https://github.com/responsively-org/responsively-app/pull/538) about a year ago.
I'd like to try this issue :)

"Manage Devces > Active Devices, Inactive Devices with search...(text input)"
Is that screen related to the issue correct?

If a number is entered on that input, should I show the device of the relevant size?
ex) "1000" => search every "10

[2021-09-01 02:10] GunjanRajTiwari commented on #228
Hello,
    May I know if anyone is working on this issue? If not I would like to work on this as this seems to be a good issue to start with this project as I am new here. I would be glad if I get assigned to this issue.

Thank you

[2021-09-01 09:57] jjavierdguezas commented on #228
Hi @GunjanRajTiwari thanks you for trying this, I am assigning this issue to you

[2021-09-01 10:00] jjavierdguezas commented on #228
Sorry @Arkadipta-Chatterjee I didn't see your request 😓, I already assigned this to @GunjanRajTiwari, please try another one 🙏🏻

[2021-09-01 10:12] jjavierdguezas commented on #613
Hi @kiwan97
Maybe put another search box for active devices:
![image](https://user-images.githubusercontent.com/13673443/131652812-96b656ed-18a3-43e1-b5d2-662746b43464.png)

and also include the width and height in the filter [here](https://github.com/responsively-org/responsively-app/blob/ff5ac81e007bf92f88609cf55b8722c2530a9bce/desktop-app/app/components/DeviceManager/DeviceList.js#L29) (as stri

[2021-09-01 11:03] GunjanRajTiwari commented on #228
Thank you for assigning me.

To keep track of the progress.
- [ ] Read all the guidelines
- [ ] Setup the Project
- [ ] Find the root cause of the issue
- [ ] Solve the issue
- [ ] Make a pull request

As I am quite new it may take some time and I am thankful for this opportunity.

[2021-09-01 11:03] jjavierdguezas commented on #619
Hi @ pranshul98 thanks for considering solving this

We have two "kind" of theme switch inside Responsively
1- For responsively UI:

![image](https://user-images.githubusercontent.com/13673443/131659149-10735b25-a17f-4f2b-8650-7d42bb6eb217.png)

![image](https://user-images.githubusercontent.com/13673443/131659219-ef2bdf13-ca56-45ea-957a-8246a1514164.png)

in `app\components\UserPreferences\index.

[2021-09-01 11:08] jjavierdguezas commented on #566
I think @mahendra1290 is on it

[2021-09-01 11:27] jjavierdguezas commented on #613
I am thinking about this again, and maybe @romeo-folie was talking about the quick filters? 🤔

![image](https://user-images.githubusercontent.com/13673443/131661921-5edf5cb3-4ad4-455a-98a5-a5fbae2cf824.png)

![image](https://user-images.githubusercontent.com/13673443/131663465-8c361517-e32f-4f5a-bafc-2121de399f74.png)

[2021-09-01 13:23] romeo-folie commented on #613
Hi. No, I wasn't talking about the quick filters. I was referring to the search input above the list of inactive devices. The way I imagine it working is that a user enters a dimension value for the device they want and the list of devices is filtered to only show devices with that width or height. Say I enter 1000, any device with dimensions 1000 x ??? or ??? x 1000 should be included in the filt

[2021-09-02 03:22] pranshul98 commented on #619
Surely, I'll start working on this issue please assign it to me 👍

[2021-09-03 12:17] Gnyblast opened #620 "Resizing the devtool made locations bar disappear"
# 🐞 bug report

### ✍️ Description
Tried to resize devtool while inspecting element and the bottom bar that allow us to relocate devtool or close it gone hidden to somewhere.

### 🕵🏼‍♂️ Is this a regression?
I don't know.

### 🔬 Minimal Reproduction
Open dev-tool horizontally and resize it by dragging the bottom to top so it can go bigger.

### 🌍 Your Environment

<pre><code>
Distributor ID:	Ubunt

[2021-09-04 16:29] pawan43563 commented on #620
I would love to contribute to this issue.

[2021-09-06 01:43] alexander9306 opened #621 "Apple silicon Support"
# 🚀 Feature Request

### 📝 Description

The app is really slow on MacBook Pro 16 GB  with M1

### ✨ Describe the solution you'd like

Electron 11 ships with Apple Silicon support

### ✍️ Describe alternatives you've considered

[2021-09-07 13:58] SaphireVert commented on #536
Same issue on my Ubuntu 20.04 with the Firefox entension, not tested on Chrome

[2021-09-14 07:26] rebzden-baracoda commented on #456
@adi-mohan @manojVivek hi :) how is the progress going with this one? Maybe I could try to help? There's already electron version 11 with support for M1. Please let me know, the app is awesome and I would love to help!!

[2021-09-14 09:39] manojVivek commented on #456
@rebzden-baracoda That would be great, please give it a try and let us know if you are getting started.

[2021-09-16 06:57] jmaicaaan opened #622 "The ability to merge screenshots into one in a single click"
# 🚀 Feature Request

### 📝 Description

Add the ability to combine or merge the screenshots into one.

I usually take screenshots from different browsers and combine them into one whenever I present them to my team

### ✨ Describe the solution you'd like

Add an option on the screenshot button probably a menu item that will allow me to select if I want them merged or not

### ✍️ Describe alternati

[2021-09-18 01:23] fkomaralp opened #623 "Amazing work..."
Everytime I'm thinking. If like that amazing apps are free, some bad things is working on background... Nevermind, this is really good app. Thank you.

[2021-09-22 02:35] highorbit-io commented on #600
While I appreciate all the work that went into building this tool, kinda annoying when I'm smashing the reload button, knowing I made changes, but not seeing them. Storage should be off by default, otherwise what's the point, if just as with any regular browser, I have to babysit cache here too?

[2021-09-23 17:21] jeremytenjo commented on #268
Awesome work @manojVivek !

[2021-09-24 18:31] crocarneiro opened #624 "Screenshot feature does not work for devices with quotation mark in their names."
# 🐞 bug report

### ✍️ Description
Screenshot feature does not work for devices with quotation mark in their names (e. g. MacBook Pro 13"). The Toast keeps opened forever with the message "Capturing {device name} screenshot...", but in the developer tools we can see an error has ocurred.

### 🕵🏼‍♂️ Is this a regression?
Don't know, only tested in version 0.17.0.

### 🔬 Minimal Reproduction
1. Open

[2021-09-24 18:41] crocarneiro commented on #624
This happens because the name of the image file generated by the screenshot feature has the device name in it. And as a quotation mark is a forbidden character in files names, then the `fs.writeFile` function is unable to create the file. I suggest that we change the function `_getScreenshotFileName` from the `screenShotUtil.js` script to replace forbidden characters to `''`.

[2021-10-07 10:50] zachOS-tech opened #627 "Quick Filter Active Color Not Displaying in Dark Mode"
# 🐞 bug report

### ✍️ Description

The active color is not working properly for the Quick Filters in Dark Mode. The active color works in Light Mode and is a purple color indicating what devices are being shown.

### 🕵🏼‍♂️ Is this a regression?

This did work over a year ago but has been an issue since Light Mode was introduced. The background color value was set to a static #000000b0 and it is p

[2021-10-08 08:43] prashantacharya opened #631 "Horizontal Scrollbar on every page"
# 🐞 bug report

### ✍️ Description

On every pages, there's a horizontal scrollbar.

#### Screenshot
![image](https://user-images.githubusercontent.com/23692097/136525714-ffaf3115-d930-4c8f-a4dd-56e56aae8430.png)

#### Environment
This issue is identified in Firefox version 92 and Google Chrome version 94.

[2021-10-19 17:34] jlorenzetti opened #635 "Built-in MacBook screen sizes are not correct"
# 🐞 bug report

### ✍️ Description

Built-in MacBook Pro screen sizes do not match current MacBook Pro default screen sizes

### 🔬 Minimal Reproduction

1. Visit whatismyviewport.com on a real stock MacBook Pro 15" with the default monitor resolution setting
2. Activate the browser's full screen mode and hide all toolbars
3. Your viewport size will be 1680px × 1050px
4. Open Responsively and activ

[2021-10-20 09:24] jlorenzetti opened #636 "Built-in 4K and 5K Display resolutions are unrealistic"
# 🐞 bug report

### ✍️ Description

Built-in 4K Display and 5K Display screen sizes do not match common logical screen sizes on 4K and 5K computer monitors.

### 🔬 Minimal Reproduction

1. Open Responsively and activate 4K Display and 5K Display from the Device Manager
2. Visit a website of your choice
3. Do the same on a 4K or 5K computer monitor with the default scaling setting in the OS
4. The

[2021-10-21 15:43] VaarunSinha opened #637 "NEW TABS IN RESPONSIVELY BROWSER"
# NEW TABS IN RESPONSIVELY BROWSER

### 📝 Description

NEW TABS LIKE A REAL BROWSER

### ✨ Describe the solution you'd like

NO SOLUTIONS

### ✍️ Describe alternatives you've considered

COULD NOT FIND ALTERNATIVE...

[2021-11-01 09:24] webenadam opened #638 "Can't add folders to DevTools Filesystem (Workspaces)"
Nothing happens when chossing a folder to be added to workspace (to Sync changes in DveTools with the local filesystem):
![CleanShot 2021-11-01 at 11 23 50](https://user-images.githubusercontent.com/71192219/139650520-ae6cbca4-bd55-422f-8140-8622c3eec8c8.gif)

[2021-11-02 06:33] charlesngeru commented on #536
Having the same issue on Firefox-Dev, Chromium and Edge browsers.

[2021-11-10 17:20] jonorozcoc commented on #614
Same on:

Version: 0.17.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.22000

[2021-11-16 21:25] ash-f opened #641 "Simulating Address/Tool bar"
It would be nice if you could add an ability to simulate address/tool bar of browsers.
Without that, I can not simulate above the fold correctly.

Just an option to show/hide bars would be fine instead of mimicking its behavior.

[2021-11-19 10:59] DuaelFr commented on #215
I'd love to have some kind of tabs support!

[2021-11-22 19:17] NormanJaimes opened #642 "CSS -> aspect-ratio"
Hi.
I just notice that there is a problem when I "put" an `aspect-ratio` property in CSS.
The app doesn't know what is this property does...

[2021-11-22 19:51] marcel0ll commented on #642
I believe it is due to the version of chromium that is used on responsively

[2021-11-24 20:44] sunstarjeff opened #643 "App takes screen shots automatically when using third-party Screenshot app?"
When using a third-party screen shot app, Responsively starts taking screenshots automatically of all active panes.

Also, I don't see any setting to turn off automatic screen shots or adjust hotkeys related to screen shots.

![image](https://user-images.githubusercontent.com/14909807/143310348-bf51e640-da89-4f4c-964d-91d588a513d4.png)

# 🐞 bug report

### ✍️ Description

### 🕵🏼‍♂️ Is this a regre

[2021-11-24 20:46] sunstarjeff opened #644 "Appearance : Theme - Selection not saved when app is closed."
User Preferences > Appearance > Theme

Chose "Light Mode".  Selection not saved when app is closed. After a restart of the program, it reverts back to Dark Mode.

# 🐞 bug report

### ✍️ Description

### 🕵🏼‍♂️ Is this a regression?

### 🔬 Minimal Reproduction

### 🌍 Your Environment

<pre><code>

</code></pre>

### 🔥 Exception or Error or Screenshot

<pre><code>

</code></pre>

[2021-11-25 07:58] RectoVersoDev opened #645 "Chrome update"
# 🚀 Feature Request

Actually the Chrome version is 83.0.4103.122, it lacks some useful features like grid/flex inspector.

### ✨ Describe the solution you'd like

Update Chrome

### ✍️ Describe alternatives you've considered

Use real Firefox or Chrome inspector instead, but it's not really convenient

[2021-11-25 18:09] JonathanDCohen opened #646 "What rendering engine does Responsively use?"
Does Responsively work for debugging issues specific to Blink or WebKit?

[2021-11-26 04:52] manojVivek commented on #646
@JonathanDCohen Responsively uses `Chromium` as the underlying browser, so it can be used only to debug issues with Blink and not any other rendering engine.

[2021-11-26 18:11] JonathanDCohen commented on #646
Thank you!

[2021-11-26 18:11] #646 closed

[2021-11-27 00:48] titoBouzout opened #647 "Show a fake open keyboard for touch input"
# 🚀 Feature Request

### 📝 Description

When simulating mobile/touch it would be nice to have a toggle to show a fake open keyboard so you can edit the layout for that case.

### ✨ Describe the solution you'd like

Maybe View -> Show Keyboard? Just a picture of a keyboard? Doesn't have to even work.

### ✍️ Describe alternatives you've considered

Adding

[2021-11-30 03:50] BlazeIsClone commented on #642
Same here I'm also experiencing this issue on version: 0.17.0

[2021-12-01 11:39] fulopkovacs commented on #488
Sad news about Spectron: about a month ago the [Electron team decided to deprecate it](https://github.com/electron-userland/spectron/issues/1045). 😔

People are mentioning [playwright](https://playwright.dev/docs/api/class-electron/) as an alternative in the comments of the deprecation announcement, but that still has only experimental support for Electron automation as far as I know.

[2021-12-03 03:16] jrmoynihan commented on #89
Still unable to login to Google via redirect.  Seeing this error in the console:
![image](https://user-images.githubusercontent.com/65916939/144539109-8fb2c729-6b9f-4bd4-852b-63612375bb51.png)

[2021-12-06 23:59] dboschm opened #649 "Commandline Parameter --url"
# 🚀 Feature Request Commandline Parameter --url
### 📝 Description
To integrate with other development tools (e.g. vs code launch command, automated UI testing etc), it would be great to be have a cli to start the app from powershell/bash/shell opening the specified url.

### ✨ Describe the solution you'd like
`responsivelyapp --url localhost:4200`

### ✍️ Describe alternatives you've considered

[2021-12-07 06:49] manojVivek commented on #649
@dboschm You can do that right now by passing the required URL as the first argument to the app binary.

On Mac:
```>/Applications/ResponsivelyApp.app/Contents/MacOS/ResponsivelyApp https://github.com```

On Windows:
```>\path\to\ResponsivelyApp.exe https://github.com```

[2021-12-07 06:56] manojVivek opened #650 "Add design mock-up preview side-by-side to the device previews"
### Discussed in https://github.com/responsively-org/responsively-app/discussions/640

<div type='discussions-op-text'>

<sup>Originally posted by **NormanJaimes** November 11, 2021</sup>
Yes, I know the "function" of the tool.

But I would like to add another feature. And is a "project preview tab".
For example. I'm working on a project with adobe XD, and the "design" link is online. So To watch

[2021-12-08 13:10] C4pt4inM opened #651 "Developer tools not appearing correctly"
# 🐞 bug report

### ✍️ Description

Whenever I open developer tools, it apears in the middle on screen in broken pieces.

### 🕵🏼‍♂️ Is this a regression?

I recently installed it, don't know about old version but re-installation did not solve the problem

### 🔬 Minimal Reproduction

open any website and either select "inspect element" from topbar or using right click context menu

### 🌍 Your Envir

[2021-12-09 20:04] dboschm commented on #649
Thanks for the information. Sorry for opening the Feature Request.

[2021-12-09 20:04] #649 closed

[2021-12-10 11:26] raphaelsaunier opened #652 "Add per device prefers-color-scheme switch"
# 🚀 Feature Request

### 📝 Description

It would be very useful to be able to view both the light and the dark mode variant of a page side by side simultaneously. The current toggle button doesn't seem to allow this and changes the colour theme for all devices.

n.b. This is an extension of https://github.com/responsively-org/responsively-app/issues/165.

### ✨ Describe the solution you'd like

Ad

[2021-12-10 13:52] jayeclark commented on #651
@C4pt4inM I was looking into this issue and was unable to reproduce this bug on my local environment, but I noticed that the devtools in your screenshots are positioned as if the browser window dimensions are limited to the upper left quadrant of the screen instead of the entire screen. (When dev tools are opened with inspect, they appear at the bottom of the browser window... when they are opened

[2021-12-12 19:24] ambermah commented on #530
Hello, does this bug still need to be fixed? If so, can I have it assigned to me?

[2021-12-13 07:37] yy523697597 commented on #621
I really need the apple silicon native version. The electron  app is really slow via Rosetta2.

[2021-12-15 02:47] manojVivek commented on #530
@ambermah Yeah, this is still an issue, would appreciate your help on this.

[2021-12-16 23:23] anirudhlagisetty commented on #652
I would like to work on this and see what I can do!

[2021-12-17 03:13] manojVivek commented on #652
@anirudhlagisetty That's great! I have assigned this issue to you.
Please let us know if you get any questions along the way.

[2021-12-29 09:49] C4pt4inM commented on #651
I have a laptop with 1366 resolution with a extended LED with 1920x1080 resolution. It happens in both screens. I did not check with 1 screen only. 

Sent from Yahoo Mail on Android

  On Fri, Dec 10, 2021 at 6:53 PM, Jay ***@***.***> wrote:

@C4pt4inM I was looking into this issue and was unable to reproduce this bug on my local environment, but I noticed that the devtools in your screenshots are

[2022-01-04 14:53] devinekadeni commented on #582
Hi, is there any update on this one?
Currently it's still there.

My App:
Version: 0.18.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 21.1.0

@manojVivek

[2022-01-05 09:52] manojVivek commented on #582
@devinekadeni No major progress on this yet. The current code uses of many APIs that are removed in the latest version of electron. So, this required a major revamp of the app.

[2022-01-05 13:30] sakshamp11 commented on #577
can i work on this issue ?? i am interested in doing so?

[2022-01-06 05:30] manojVivek commented on #577
Hey @sakshamp11, that's great, please take it up. 👍🏼

[2022-01-10 10:04] HugoHeneault opened #656 "Export/Import config / devices list"
# 🚀 Feature Request

### 📝 Description

Add an export (& import) button allowing to export settings and devices list.
As a team, or if you change computer, it's an easy way to work/ test the same way.

### ✨ Describe the solution you'd like

In the settings view, add an export button, allowing to export defined config as JSON, XML or any format that can later be re-imported in Responsively.

First

[2022-01-10 10:05] HugoHeneault commented on #656
Hey :)

I'm actually contributing financially but cant' add the priority tag :)

[2022-01-10 10:11] jjavierdguezas commented on #656
Hi @HugoHeneault this is a great idea, and thanks for your contributions! 💪🏻

[2022-01-10 10:26] jjavierdguezas commented on #644
Hi @sunstarjeff I think this is a duplicate of #589

[2022-01-10 10:28] #644 closed

[2022-01-10 10:42] jjavierdguezas commented on #643
Are you triggering your third-party screenshot app using a keyboard shortcut? If so, is it the same shortcut used in Responsively (`Cmd/Ctrl+PrtSc` or `Cmd/Ctrl+Shift+S`)?

[2022-01-10 15:00] sunstarjeff commented on #643
Yes.  Is there a mechanism to change the hot key / shortcut used in Responsively?

[2022-01-10 16:07] jjavierdguezas commented on #643
Right now there is no such mechanism 😓... It could be a good feature to add (or at least deactivate some of them)
cc: @manojVivek

[2022-01-10 21:25] danielm2402 commented on #656
Hey, I'm working in PR for this, if you like you can assign me

[2022-01-11 10:29] manojVivek commented on #656
@danielm2402 Assigned this to you. Thank you, so much. 🚀

[2022-01-11 10:32] manojVivek commented on #656
@jjavierdguezas Yeah, looks like some bug in the bot? 🤔
Their repo is archived as well: https://github.com/opencollective/opencollective-bot

[2022-01-11 14:23] jjavierdguezas commented on #656
yeah, it seems that the bot is going to be deprecated 😓 (First sentence on: https://github.com/opencollective/opencollective/issues/4006#issuecomment-784212449)

[2022-01-14 02:35] BlazerYoo opened #658 "Table row height"
# 🐞 bug report

### ✍️ Description

The last couple rows in the table here https://responsively.byoo.repl.co/ are thinner in Responsively than on actual display even though the custom device on Responsively has the same specifications as the actual display. See **🔥 Exception or Error or Screenshot** for screenshots.

### 🕵🏼‍♂️ Is this a regression?

I am not sure if this worked in the previous ver

[2022-01-14 09:45] jjavierdguezas commented on #658
Hi @BlazerYoo, thanks for report this
I can confirm that this is happening

[2022-01-14 22:12] danielm2402 commented on #656
Could you please review my pull request?  There are some interesting things to discuss there

[2022-01-19 22:45] CarlosUlisesOchoa opened #659 "Individual device zoom in/out"
### **Individual device zoom in/out**

![image](https://user-images.githubusercontent.com/26280134/150230546-1fb396d9-e390-4f71-81fb-092d03d1667e.png)

Hi there, first of all, thank you for your tool, it's really useful.

I'm on individual layout mode, can you add an option to control the zoom of each device individually?

Thanks a lot.

[2022-01-20 17:55] sukhiboi commented on #539
I wanted to contribute in opensource. I'll try to work on this in my free time or weekends.
Are there any guidelines on how to contribute?

[2022-01-21 09:50] samipshah100 commented on #215
this is much needed

[2022-01-22 01:29] GoonerBrian commented on #658
I was going to look into this but I can't run the app locally using the `yarn dev` command that is giving in `README.md` -> `Contribute`. I see in Slack that I'm not the only one to have this issue but the question wasn't addressed in Slack. This would be my first contribution and any help would be appreciated.

[2022-01-22 02:41] GoonerBrian commented on #599
Was a solution ever found on this issue? I'm having the same issue. I'm not on Windows. I have an M1 Mac. Could that be the issue?

[2022-01-27 21:52] MVCreativeServices opened #663 "Not Connected to the Internet"
# 🐞 bug report

### ✍️ Description

### 🕵🏼‍♂️ Is this a regression?

I can now no longer access Pro features even though I've upgraded. I get an error notice that says I'm not connected to the internet. Even after rebooting the app.

![EQ](https://user-images.githubusercontent.com/30323889/151449757-26ee2a8d-2827-48ff-ab5f-a2f9bacf53ad.jpg)

[2022-01-27 22:52] jjavierdguezas commented on #663
I think you are in the wrong repo 😅

[2022-01-27 22:54] #663 closed

[2022-01-28 22:15] mete-ibm commented on #536
@jjavierdguezas Is anybody looking into this? Seems like the initial issue was opened 2 years ago and it still doesn't work. I just found out and was looking forward to give this a try...

[2022-02-02 12:15] jjavierdguezas commented on #536
Hi @mete-ibm, happy to assign this to you, thanks!

[2022-02-13 01:19] #92 closed

[2022-02-14 03:36] harrytran998 commented on #582
Hi @manojVivek, can you update the progress of this issue? Hick, I love this but can not use this BCS this problem.

[2022-02-22 05:32] #656 closed

[2022-02-22 06:24] danielm2402 commented on #658
Hello, I was checking and found that if you are in mode: "Enable Design Mode" this is solved. I do not understand very well what this option does, could you tell me what its functionality is? If they tell me this they can assign me the ticket. Thanks!

[2022-02-22 09:35] jjavierdguezas commented on #658
@danielm2402 I can confirm that something changes when Design Mode is activated, but it is not solved for all devices (See the laptop devices on the screenshots below)

before Design Mode is activated:
![image](https://user-images.githubusercontent.com/13673443/155102858-4d3c91f3-949e-44b5-8063-45dc3881cac2.png)

after Design Mode is activated:
![image](https://user-images.githubusercontent.com/13

[2022-03-02 11:40] RashiqAzhan opened #666 "NixOS support."
# 🚀 Feature Request

### 📝 Description

Make this program compatible with NixOS.

### ✨ Describe the solution you'd like

Would like this program made available to the [nixpkgs](https://search.nixos.org/packages?query=responsively).

### ✍️ Describe alternatives you've considered

There isn't any alternative to this program as far as I can fathom. I'm currently running this in a VM which is far fr

[2022-03-05 14:45] Raxiel1987 opened #667 "more devices"
# 🚀 Feature Request

### 📝 Description
I'd like to have more devices, like the new samsungs and the new iphones,

### ✨ Describe the solution you'd like
add more devices, maybe the new ones :)

### ✍️ Describe alternatives you've considered

[2022-03-08 21:45] CarlosUlisesOchoa commented on #659
Never got an answer. go to hell then :)

[2022-03-08 21:45] #659 closed

[2022-03-18 19:09] fdussert commented on #91
Hi @manojVivek I have same issue, seems to be the authentication server
You can try on our test env here : https://testnet.cryptopolitics.com
And try to to register an account by clicking in "S'inscrire in the menu" (sorry no english version at the moment)
If you open it in a "normal" browser, no issue

[2022-03-31 08:44] Betree commented on #651
Same issue here. Some details that may help to reproduce:
- Using Fedora 35, Gnome Shell, X11
- I have 3 screens. When first opened from the main screen, the developer tools appear correctly. As soon as I maximize the window on a secondary screen, the developer tools move in the middle of the screen (as described in this issue)
- When I uncheck "Dock dev-tools to Main Window", the developer tools

[2022-04-07 21:07] Heatmanofurioso opened #670 "Add the ability to remove unwanted devices"
# 🚀 Feature Request

### 📝 Description

I'd like to have the possibility to remove devices added in the device manager.

![image](https://user-images.githubusercontent.com/13050270/162308647-23e8612a-e19a-4376-a83a-26da76e73ad1.png)

### ✨ Describe the solution you'd like

Add a garbage or a tin can in the bottom right corner, to drag devices we wish to remove from the list

### ✍️ Describe altern

[2022-04-13 19:28] Brand3000 opened #671 "column-gap, row-gap"
Hi there! I came across that the two options from the subject (column-gap and row-gap) don't work in ResponsivelyApp.
Look at the screenshot here https://share.getcloudapp.com/v1ugEBpP

[2022-04-14 01:35] LauraAbCoronel opened #672 "Error when trying to download dependencies"
# 🐞 bug report

### ✍️ Description
Error occurs when I try to install dependencies running <code>yarn</code> in the terminal

### 🕵🏼‍♂️ Is this a regression?
No

### 🔬 Minimal Reproduction
I forked and cloned the repo.
In the terminal after navigating to <code>desktop-app</code> I try to run <code>yarn</code> and an error occurs.

### 🌍 Your Environment

<pre><code>macOS Monterey v12.3.1
M1 chip
<

[2022-04-14 01:47] LauraAbCoronel commented on #672
It looks like maybe the electron version this project is on doesn't have a version for the M1 chip?

[2022-04-15 12:15] Chrescht opened #673 "White page on apache, X-Frame blocking?"
Hi all,

so far I had no luck with other testing websites so I wanted to give **responsively** a try.
Unfortunately I only get a white page, no error, and I am pretty sure it has to do with the X-Frame settings on Apache.

The default in  /etc/apache2/conf-available/ssl-params.conf is
`Header always set X-Frame-Options DENY`
But it doesn't work either when I comment the line out.
Do you know what

[2022-04-15 20:49] GarlandKey opened #674 "Firefox Add-on can't find the app when install on Arch Linux."
# 🐞 bug report

### ✍️ Description
When using the Firefox Add-on on Arch Linux, the Add-on can not find the desktop application, whether the desktop application is running or not.

### 🕵🏼‍♂️ Is this a regression?

Unknown

### 🔬 Minimal Reproduction

1. Have Arch Linux & Firefox installed and fully updated.

2. Install Responsively using the AUR package found here: [https://aur.archlinux.org/packa

[2022-04-17 09:00] mmailaender opened #675 "If login includes redirect -> Loop of death"
# 🐞 bug report

### ✍️ Description

Our app includes a login that redirects you to our identity provider. Because of the mirror feature in responsively, the device browsers try to mirror the other browsers. And because the redirect is not completely synchronous, they're stuck in a loop of death.
Also, disabling event mirror has no effect on this behavior. If you disable all other browsers except o

[2022-04-18 14:07] Alverrt commented on #675
Experiencing same bug too.

[2022-04-18 21:52] kudlav commented on #675
Same for https://diagnostics.golearn.guru/login
The problem is, that each device obtain different token in URL and it seems that Responsively can't handle this.

[2022-04-19 03:48] manojVivek commented on #675
As a workaround, you can try this:
1. remove all devices from the preview except one.
2. Complete the login with this device.
3. On successful login, add other required devices into the preview.

Please let me know if this works.

[2022-04-19 10:48] kudlav commented on #603
Same here, doesn't work for:

Version: 0.18.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.6.0

[2022-04-19 10:53] kudlav commented on #621
Hi, I have MacBook Air (13-inch, Mid 2013) and the app is really slow. Sometimes consumes all the available resources.

[2022-04-19 11:03] kudlav commented on #675
When I remove all devices, the loop of death is gone, but I am still unable to login via google. It just brings me back and logged out.
Also removing devices is not convient as using _Manage Devices_ page freezes ResponsivelyApp almost every time.

[2022-04-19 11:10] kudlav opened #676 "App is always launched in Dark mode"
# 🐞 bug report

### ✍️ Description
ResponsivelyApp is always launched in dark mode. When is set Theme to the Light mode, then Close window, and then open new window, the app is back in black. Also quitting the app resets the Theme setting to the dark.

### 🕵🏼‍♂️ Is this a regression?

### 🔬 Minimal Reproduction
1. Open app
2. Set Theme to Light
3. Close the window
4. Open new window
5. App is Dark

[2022-04-20 10:35] Sc0rp10n013 opened #677 "Site permissions per feature"
# 🚀 Feature Request

### 📝 Description

Add the ability to allow or block permissions for a given site for each feature (e.g. Camera, Location, Sound, etc.).

### ✨ Describe the solution you'd like

Something similar to the mainstream browsers (Chrome, Edge, etc.) where you can toggle each independent permission for a given site (example from Chrome below).

![image](https://user-images.githubuser

[2022-04-20 11:36] tarasis commented on #671
Yeah, unfortunately `gap` on its own is also not supported. I guess because the chrome engine in this is so old.

[2022-04-24 08:18] 90sPixelDev opened #678 "Js function call not happening accurately across all screens when switching between screens."
At seemingly random times when activating a js functioin on one screen then proceeding to activate the same function on another screen, it does not call the function across all screens.

To somewhat prevent the bug you can activate the function on one screen then before activating the function on the other screen directly, instead click anywhere on the other screen to like 'focus' on it and this h

[2022-05-14 10:11] mindplay-dk opened #680 "Everything is broken 😅"
# 🐞 bug report

### ✍️ Description

I apologize in advanced for the poignant title - I don't know how else to describe this.

### 🕵🏼‍♂️ Is this a regression?

Don't know.

It might be related to #449 but maybe not? (my fonts are loading just fine, from localhost or anywhere - I checked the Network tab in Responsively and it appears to be loading and interpreting all resources correctly.)

### 🔬 Mi

[2022-05-14 14:28] trevorwhealy commented on #582
Just had the same realization debugging Responsively. Our site uses a lot of grid gap and flex gap.

[2022-05-15 15:45] #542 closed

[2022-05-24 10:16] jjavierdguezas commented on #680
Hi, thanks for reporting this

I compared the styles applied on chrome and responsively, and I think the issue here is with the ```display: revert;``` css rule

On Responsively the rule is invalid:
![image](https://user-images.githubusercontent.com/13673443/170008363-f0d65f28-545f-4523-9866-b95512742476.png)

if we change it to, let say, ```display: block;``` it looks just fine:
![image](https://u

[2022-05-25 06:54] #680 closed

[2022-05-25 10:11] sarajw opened #683 "View scaling on separate (esp large) devices"
# 🚀 Feature Request

### 📝 Description

I would like to see how a page shows up in full screen on huge devices, like 4k or 5k, but that being larger than the monitor I have, it makes for an uncomfortable scroll-around situation.

### ✨ Describe the solution you'd like

If the devices could be scaled separately (not just zooming out on all of them at once), that would be wonderful.

### ✍️ Describe

[2022-05-25 10:18] sarajw opened #684 "A few pixels of vertical scroll on sites that are sized to 100vh or 100% height"
# 🐞 bug report

### ✍️ Description

On a site that should fill the window and no more, some vertical scrolling is seen.

### 🕵🏼‍♂️ Is this a regression?

I don't know, I'm new to the app

### 🔬 Minimal Reproduction

Feel free to open https://blog.sarawallen.com in Responsively. The landing page doesn't have a scrollbar on Firefox or Chromium browsers.

### 🌍 Your Environment

This shortcut didn't

[2022-05-28 15:18] p4nu commented on #530
I'll try this too for a while. 🙂

[2022-05-30 03:24] Mrgrisakovs opened #686 "Номер1"
# 🚀 Feature Request

### 📝 Description

### ✨ Describe the solution you'd like

### ✍️ Describe alternatives you've considered

[2022-05-30 03:25] Mrgrisakovs opened #687 "Номер2"
# 🐞 bug report

### ✍️ Description

### 🕵🏼‍♂️ Is this a regression?

### 🔬 Minimal Reproduction

### 🌍 Your Environment

<pre><code>

</code></pre>

### 🔥 Exception or Error or Screenshot

<pre><code>

</code></pre>

[2022-05-30 09:03] #687 closed

[2022-05-30 09:03] #686 closed

[2022-05-30 13:53] jjavierdguezas commented on #684
Hi @sarajw I checked your website, and I came across this style rule:

![image](https://user-images.githubusercontent.com/13673443/171005023-bad54858-0fe0-4c11-af15-6f44d05565e9.png)

That is not being applied in Responsively (the version of chromium in Responsively do not support `:where()` pseudo-class, see [this](https://developer.mozilla.org/en-US/docs/Web/CSS/:where#browser_compatibility) and

[2022-05-30 14:01] sarajw commented on #684
Thank you so much for chasing this up @jjavierdguezas !

[2022-05-30 14:02] jjavierdguezas commented on #683
have you tried Individual Layout + Zoom ?
![image](https://user-images.githubusercontent.com/13673443/171008100-978f850d-4260-4629-b7a4-bf0a36caf92b.png)

[2022-05-30 14:06] sarajw commented on #683
Yes true, that works. It could just be cool to see an emulated large screen all together with the other ones - that's why I posted it as a possible feature, not a bug :)

[2022-06-01 02:28] Carlahaselden commented on #252
Server , encryption, and https don't know how to get it to work? Not tech savvy LoL, but, please help, and, if you can do it where I can understand?

[2022-06-02 07:07] Butsabaphon opened #689 "เซิฟเวอร์"
# 🐞 bug report

### ✍️ Description

### 🕵🏼‍♂️ Is this a regression?

### 🔬 Minimal Reproduction

### 🌍 Your Environment

<pre><code>

</code></pre>

### 🔥 Exception or Error or Screenshot

<pre><code>

</code></pre>

[2022-06-02 07:08] Butsabaphon opened #690 "เซิร์ฟเวอร์"
# 🐞 bug report

### ✍️ Description

### 🕵🏼‍♂️ Is this a regression?

### 🔬 Minimal Reproduction

### 🌍 Your Environment

<pre><code>

</code></pre>

### 🔥 Exception or Error or Screenshot

<pre><code>

</code></pre>

[2022-06-02 11:42] #690 closed

[2022-06-02 11:44] #689 closed

[2022-06-04 10:22] joelbaxx999 commented on #557
Hey. All you do is hard break the buffer  for batch 113 you in external module and just let it flo.. lemme know and wish ya luckk!

[2022-06-07 18:56] MVCreativeServices opened #691 "Deleting Cache"
# 🐞 bug report

### ✍️ Description

I've been using Responsively for some time. It used to let you clear the cache. The current version doesn't seem to have a way to do so. Refreshing the browser doesn't help. How do I do so? Right now, it only refreshes the cache by quitting & restarting the browser.

### 🕵🏼‍♂️ Is this a regression?

Yes

### 🔬 Minimal Reproduction

Refresh its browser

[2022-06-08 22:23] smsmya commented on #658
[زبراوي](https://zobrawy.com/)
[افلام سكس اغتصاب](https://zobrawy.com/category/%d8%a7%d9%81%d9%84%d8%a7%d9%85-%d8%b3%d9%83%d8%b3-%d8%a7%d8%ba%d8%aa%d8%b5%d8%a7%d8%a8/)
[افلام سكس بزاز](https://zobrawy.com/category/%d8%a7%d9%81%d9%84%d8%a7%d9%85-%d8%b3%d9%83%d8%b3-%d8%a8%d8%b2%d8%a7%d8%b2/)
[افلام سكس شواذ](https://zobrawy.com/category/%d8%a7%d9%81%d9%84%d8%a7%d9%85-%d8%b3%d9%83%d8%b3-%d8%b4%d9%88%

[2022-06-10 01:38] Filipegabri commented on #577
i like so mach more

[2022-06-11 03:17] Shoaib767 commented on #557
Hay . I am digital marketer especially expert in SEO . I am running SEO digital marketing agency where all type of work is done   [One of my employ develop a mattresses website's logo](https://cribmattressestoday.com/
![design](https://user-images.githubusercontent.com/107290080/173170553-2e93e658-ae8c-4c2f-826b-f337309cfc7d.png)
) The file is attached below, Give the feedback how much you are sat

[2022-06-13 14:10] #530 closed

[2022-06-13 14:54] p4nu opened #694 "Devtools gets on top of the modal for some items above it"
# 🐞 bug report

### ✍️ Description

When devtools is right-docked some of its options gets on top of the modals.

_Originally posted by @jjavierdguezas in https://github.com/responsively-org/responsively-app/issues/685#issuecomment-1140949107_

### 🕵🏼‍♂️ Is this a regression?

The right-docked devtools didn't work quite well before, so this wasn't possible.

### 🔬 Minimal Reproduction

- Open righ

[2022-06-13 14:56] p4nu commented on #694
I could take a look at this maybe next weekend

[2022-06-14 11:36] hamitaksln commented on #582
I love the application but because of this I cannot use it.

[2022-06-15 13:21] adriaanvanrossum opened #696 "Detect responsively.app so we can tag it as robot traffic"
# 🚀 Feature Request

### 📝 Description

We run a analytics company, Simple Analytics, and some customer sees traffic of many browsers when using Responsively.app. This makes sense, but for us there is no way to detect the traffic because the user agents seem to not include the Responsively.app name.

### ✨ Describe the solution you'd like

Some tools define a variable on the window object. For exa

[2022-06-17 00:27] lkhrs opened #698 "Electron is 2 years out of date"
Hi,

Looks like Responsively uses Electron 9.0.0, which contains Chrome 83. Electron 19.0.0 is the current latest version and contains Chrome 102. Chrome has gained support for several new standards in the last two years, some of which are becoming popular:

- CSS Flexbox/Grid Gap (added in Chrome 84)
- CSS `display: revert`
- CSS Cascade Layers
- AVIF images

[Can I Use comparison between Chrome

[2022-06-18 18:14] Sugamlake opened #699 "Ask for contribution"
Hello everyone, I would like to be able to contribute to your project, I would love to participate, I hope I can have positive news.
greetings to all

[2022-06-21 16:31] jeanlambert17 commented on #611
This is still happening on mac os with m1

[2022-06-24 08:05] eybbus opened #703 "phone 12/13 pro device maybe using a wrong browser"
# 🐞 bug report

### ✍️ Description

Iphone 12/13 triggers https://www.npmjs.com/package/outdated-browser-rework causing the banner to show up

### 🕵🏼‍♂️ Is this a regression?

No.

### 🔥 Exception or Error or Screenshot

![image](https://user-images.githubusercontent.com/24224443/175490063-0a48772f-fb95-4d2b-99cf-d94f08eaf51e.png)

# Question
is the iphone 12/13 pro devices using a different versi

[2022-06-24 15:53] w4rner commented on #696
as the customer in question, I second this request!
Responsively: please help analytics start-ups with similar open-web values like Simple Analytics be better able to clean data. Your product is phenomenal, but unfortunately has a bot-like effect on analytics.
Thanks!

[2022-06-24 16:27] jjavierdguezas commented on #696
should this be configurable or is it enough to set `windows._bot=true`?
cc: @manojVivek

[2022-06-27 15:53] adriaanvanrossum commented on #696
Thanks for looking into this.

If it's configurable, it defeats the whole purpose, I guess.

[2022-06-28 03:34] manojVivek commented on #696
A quick suggestion, instead of just `window._bot`, we should name space it with something like `window.responsively_bot=true`? Or if there is some other standard name used by most providers, then we can prefer that.

Just concerned about polluting the user space.

[2022-06-28 05:42] adriaanvanrossum commented on #696
I would suggest keeping it very short. As an analytics business, we need to keep our code very short. If we need to update and include our scripts every time for a new robot browser, it would be time-consuming and make our script havier. The more general and short the better.

[2022-06-30 02:48] crocarneiro commented on #658
It's definitely weird and I can't seem to figure the reason out.

I was digging into this issue and found some things interesting though.

_The comments below are about the page used to test ([https://responsively.byoo.repl.co/](https://responsively.byoo.repl.co/))_

First, it only looks weird because the height of the `td` component is relative.
![image](https://user-images.githubusercontent.com/

[2022-06-30 08:34] jjavierdguezas commented on #658
https://stackoverflow.com/q/4308989

[2022-06-30 13:35] jjavierdguezas opened #705 "Changing zoom and layout leads to incorrect UI display after restart"
# 🐞 bug report

I don't know exactly how I get to this scenario, but it is reproducible (at least in my env)

Changing zoom and layout leads to incorrect UI display after restart

### 🕵🏼‍♂️ Is this a regression?
idk

### 🔬 Minimal Reproduction

1- Open Responsively
2- Set layout to Individual
3- Set Zoom to 20%
4- Close Responsively
5- Open Responsively
6- Change layout to Flexgrid

### 🌍 Your Env

[2022-06-30 13:35] jjavierdguezas commented on #705
workaround: changing zoom fixes the wrong UI

[2022-06-30 13:38] jjavierdguezas commented on #699
Hi @Sugamlake thank for wanting to help us. You can search the issues and/or look for the `help wanted`, `good first issue` tags

[2022-06-30 21:45] LeonTurut commented on #611
Still happening on:
Version: 0.19.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19043

[2022-07-01 05:33] crocarneiro commented on #658
Thanks!

Actually, I had seen this one. Not sure if I missed something on it, but It seems like they are talking about a 1 pixel difference (up or down because of the rounding). So I could not reach any conclusion about:

* Why 4.76% of 950 turns into 2px
* Why only the last rows
* Why only on Responsively
* How to fix

Seems like I'll need to give it a little more thought.

[2022-07-03 05:11] #696 closed

[2022-07-04 17:59] PurnenduMIshra129th commented on #676
Hello i have some idea to solve this problem and i must solve this bug .Can you give  Permission please?

[2022-07-06 09:16] adriaanvanrossum commented on #696
Thanks, will monitor the releases:

![2022-07-06-11h14-screenshot](https://user-images.githubusercontent.com/1079135/177515967-58e8a452-c5ca-4c5f-b57e-da07668fead6.png)

If I'm correct I should wait for v0.20.0 to be released, right?

[2022-07-06 11:23] Howkimkai commented on #496
Bug

[2022-07-09 13:06] w4rner commented on #696
when will the release likely go out?
------- Original Message -------
On Wednesday, July 6th, 2022 at 10:25 AM, José Javier Rodríguez Zas 'notifications at github.com' ***@***.***> wrote:

[2022-07-12 10:57] loppam commented on #611
this is still happening

[2022-07-15 23:02] Hooman-Asbaghi commented on #705
I need to have apps removed from my devices. When I try to click on the link below, the page disappears:

https://docs.github.com/en/organizations/managing-access-to-your-organizations-apps/removing-github-app-managers-from-your-organization#removing-a-github-app-managers-permissions-for-the-entire-organization

I actually do not belong to any organization. There is a Remote Access Tool linked to

[2022-07-21 00:18] GAURAV1-ui commented on #705
Hey @Hooman-Asbaghi can I work on this issue?

[2022-07-21 00:19] GAURAV1-ui commented on #309
Hey @Hooman-Asbaghi can I work on this issue?

[2022-07-21 00:20] GAURAV1-ui commented on #577
Hey @Hooman-Asbaghi can I work on this issue?

[2022-07-21 12:37] diego-betto opened #707 "GPU process isn't usable. Goodbye"
# 🐞 bug report

### ✍️ Description
Updated from 0.17, 0.19.0 not starting

### 🕵🏼‍♂️ Is this a regression?

yes, 0.17 works correctly

### 🔬 Minimal Reproduction

Download 0.19.0
Start 0.19.0

### 🌍 Your Environment

<pre><code>
System:
    Kernel: 5.15.0-41-generic x86_64 bits: 64 Desktop: GNOME 42.2
    Distro: Ubuntu 22.04 LTS (Jammy Jellyfish)
CPU:
  Info: quad core model: Intel Core i7-7700HQ

[2022-07-21 12:59] diego-betto commented on #707
Seems related to recent NVIDIA updates
https://bugs.launchpad.net/ubuntu/+source/glibc/+bug/1944468

Workaround: Run with flag --disable-gpu-sandbox

[2022-07-21 13:59] jjavierdguezas commented on #705
Hi @GAURAV1-ui of course you can... I am assigning this to you. Thanks!! 💪🏻

[2022-07-21 14:01] jjavierdguezas commented on #577
Hi @sakshamp11 are you still working on this?

[2022-07-22 06:23] Halezis commented on #611
Using Responsively for the first time today on the version, and still the same issue with gap. Is there an alternative way around that?

[2022-07-24 19:00] datcao85 commented on #577
Duplicate of #

[2022-07-26 16:34] danielseow commented on #611
Having same issue also

[2022-07-29 03:05] Conanas opened #710 "Browser-sync-client errror"
# 🐞 bug report

Getting error message in console

VM403:5 Refused to load the script 'https://localhost:12719/browser-sync/browser-sync-client.js?v=2.26.7' because it violates the following Content Security Policy directive: "script-src 'self'". Note that 'script-src-elem' was not explicitly set, so 'script-src' is used as a fallback.

Code where error is produced is as follows

![image](https://u

[2022-08-02 11:00] rohith-32151 commented on #577
@jjavierdguezas  hi bro

[2022-08-03 17:25] vibeart opened #711 "Blank screen on NextJS"
# 🐞 bug report

### ✍️ Description

Hello!
i get a blank screen when i use nextjs in development environment (npm run dev). In production mode (npm run start), the application runs normally.
Looking at the source code, I could see that it is generated normally and that the page's favicon is also loaded.
In other browsers, the application loads normally.
I tested it with a Vite application, and it

[2022-08-06 01:28] RenataFrancis commented on #577
Wouldn't it be better for you to leave it out. Because in that case you can make it more objective, don't you think? @geiras

[2022-08-09 14:50] micker opened #712 "Blank page on render"
HEllo i like your application but when i test it on a dev site i have a blank page ... i don't understand why
https://ressources-territoires.com.mbxm7429.odns.fr/
thanks for any help

[2022-08-09 21:31] Ladvace commented on #585
I think the problem it's due to the fact that twitter.com, facebook.com... when you are on a mobile device redirects you to the mobile version of the website (eg: mobile.twitter.com), if you directly go to mobile.twitter.com it doesn't crash.

[2022-08-10 06:57] Ladvace commented on #585
I managed to let it not crash by commenting `this.props.onAddressChange(url);` in  **desktop-app\app\components\WebView\index.js**

`   const urlChangeHandler = async ({url, isMainFrame = true}) => {
      if (!isMainFrame || url === this.props.browser.address) {
        return;
      }
      await new Promise(r => setTimeout(r, 200));
      // this.props.onAddressChange(url);
    };
`

not sure i

[2022-08-11 13:08] kwanamari commented on #611
I am experiencing the same issue

[2022-08-12 11:15] bryandonmarc commented on #711
I am also having the same issue.

🌍 Your Environment
<pre><code>
Version: 0.19.0
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.22000
WSL2
</code></pre>

My Development Server Environment:
- `create-nuxt-app` v4.0.0
- `next` v12.2.4

[2022-08-17 11:29] Fouzyyyy commented on #712
@micker

Could it be the fact that your page is not using the https protocol? I see this when I open it with my browser:

Your connection is not private
Attackers might be trying to steal your information from ressources-territoires.com.mbxm7429.odns.fr (for example, passwords, messages or credit cards). [Learn more](chrome-error://chromewebdata/#)
NET::ERR_CERT_COMMON_NAME_INVALID

[2022-08-24 03:05] manojVivek commented on #13
Hey, sorry, this is just a placeholder for the idea. Not going to be implemented anytime soon.

[2022-08-24 07:04] Chris2011 commented on #13
Ok, just wanted to ask, because it is still 3 years old and I thought there was already some progress :). Thx for letting me know.

[2022-08-26 06:19] manojVivek commented on #696
It is live now, apologies for the delay.

[2022-08-26 11:35] w4rner commented on #696
wahey: congrats! Look forward to start using Responsively again!
While I'm here, can I just ask, is there a feature for previewing what og:images will look like within Responsively? If not can I make that a feature request!
------- Original Message -------
On Friday, August 26th, 2022 at 7:19 AM, Manoj Vivek 'notifications at github.com' ***@***.***> wrote:

[2022-08-27 02:19] azzamsa opened #715 "TailwindCSS prose doens't get pick up"
# 🐞 bug report

### ✍️ Description

TailwindCSS `prose` class doesn't get pickup.

### 🕵🏼‍♂️ Is this a regression?

### 🔬 Minimal Reproduction

1. go to https://deploy-preview-5--azzamsa.netlify.app/
2. compare the result with normal browser

### 🌍 Your Environment

<pre><code>
Version: 0.19.1
Electron: 9.3.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.10.0-17-

[2022-08-29 04:55] manojVivek commented on #696
No, we don't have that feature right now.

[2022-08-31 16:47] saint-james-fr commented on #642
Same here on Aug. 2022, would be great to get an update otherwise this app is really good.

[2022-09-01 03:51] lopadz commented on #671
@tarasis can't believe this engine is so old lol

@Brand3000 I created this simple polyfill to support it (along with this [modernizr build](https://new.modernizr.com/download/?flexgap) so it only runs when the browser doesn't support it). It's not glamorous but it does the trick for now:

[code]

[2022-09-02 08:55] TheBinaryGuy commented on #711
I have the same issue, for now I solved it by using my local IP address instead of localhost.

Ex. http://192.168.0.100:3000 instead of http://localhost:3000

[2022-09-02 11:28] 1mzino commented on #582
Any updates? Makes what is a great devtool somewhat less appealing

[2022-09-02 16:08] soredake opened #721 "Chocolatey package is outdated"
Chocolatey package is outdated (0.17.0 version), please update it to latest version.

[2022-09-06 11:58] M4xiGitHub commented on #621
Really looking forward to this 👍

[2022-09-09 03:40] manojVivek opened #724 "Desktop App Revamp"
We're revamping the app to remove the deprecated APIs and improve the development experience.

Here is the PR with current work: #720

Features List:
- [ ] Device Previewer
- [ ] Events mirroring
- [ ] Navigation Controls
- [ ] Address bar Suggestions
- [ ] Extensive Device List
- [ ] Quick Screenshot
- [ ] Full Page Screenshot
- [ ] Zoom
- [ ] Rotate Device
- [ ] Universal Inspector
- [ ] Extensi

[2022-09-09 22:41] Chokchai53 opened #725 "⁹99999999999"
# 🚀 Feature Request

### 📝 Description

### ✨ Describe the solution you'd like

### ✍️ Describe alternatives you've considered

[2022-09-09 22:41] Chokchai53 commented on #725
https://www.wowslot777.com/dashboard

[2022-09-09 22:41] Chokchai53 commented on #725
https://www.wowslot777.com/dashboard

[2022-09-09 22:42] #725 closed

[2022-09-09 22:42] Chokchai53 commented on #725
https://www.wowslot777.com/dashboard

[2022-09-09 22:42] Chokchai53 commented on #725
9999999

[2022-09-10 06:30] ivnish commented on #707
Thanks, [diego-betto](https://github.com/diego-betto)!

[2022-09-11 07:53] homoky commented on #611
I have the same issue.

[2022-09-11 11:31] abdenassar01 opened #726 "the app did not support gap property"
# 🚀 Feature Request

### 📝 Description

I use grid and flex heavily in my design. So I rely on gap to add spacing between my boxes and the problem is that responsively does not support css gap property so I find my self going back between chrome and responsively just to see if everything works as expected.

I would appreciate If you just code make it work. because  that well give me the possibilit

[2022-09-11 16:32] waldothedeveloper commented on #711
I am having the same issue as well, just a blank page, with no visible errors in the console :(

[2022-09-14 14:19] diegoherrer4 commented on #721
I'd love to help with this issue.

[2022-09-14 14:33] tomoyanime commented on #726
@abdenassar01 It's due to the Chrome version (83) this app uses. It will be fixed once the maintainer updates the app. #720

[2022-09-15 08:54] jjavierdguezas commented on #721
The updated version was submitted: https://community.chocolatey.org/packages/responsively/0.19.1
It is Pending automated review

[2022-09-15 10:03] jjavierdguezas commented on #721
Closing this as All Checks are Passing

[2022-09-15 10:03] #721 closed

[2022-09-15 11:08] HartLarsson opened #727 "App Crashing with facebook pages"
# 🐞 bug report

### ✍️ Description
when i try to use the url: https://www.facebook.com/ the app crashes

### 🕵🏼‍♂️ Is this a regression?

first time i use the app with latest version

### 🔬 Minimal Reproduction

open the app, write the url "https://www.facebook.com/" and after few seconts the app crash closing it

### 🌍 Your Environment

<pre><code>
Win10 pro (latest updates)
Intel i7
16Gb ram
Nvi

[2022-09-15 12:31] jjavierdguezas commented on #727
thanks for reporting this, but I am closing it as a duplicated of #585

[2022-09-15 12:32] jjavierdguezas commented on #585
It happens with https://www.facebook.com/  as reported by @HartLarsson on #727

[2022-09-15 12:34] jjavierdguezas commented on #726
closing this as duplicated, we hope this will be fixed after #724

[2022-09-15 12:34] #726 closed

[2022-09-15 12:35] jjavierdguezas commented on #671
closing this as duplicated of #582 , we hope this will be fixed after #724

[2022-09-15 12:40] jjavierdguezas commented on #676
closing this as duplicated of #589
@B3AST721 @PurnenduMIshra129th please ask there to contribute, thanks!

[2022-09-15 12:40] #676 closed

[2022-09-15 12:41] jjavierdguezas commented on #699
closing this, you can open a discussion if you need more information. thanks!

[2022-09-15 12:41] #699 closed

[2022-09-15 12:43] jjavierdguezas commented on #698
we hope this will be fixed after https://github.com/responsively-org/responsively-app/issues/724

[2022-09-16 17:33] melvinwallerjr opened #728 "Creating a new Device viewport for mobile has a scrollbar"
# 🐞 bug report

### ✍️ Description

When creating a new touchscreen device viewport for a phone or table device (Android, iOS, or Windows Phone) the viewport shows the scrollbar. For phone and tablet devices the scrollbar should not be visible like the default viewport profiles show.

### 🕵🏼‍♂️ Is this a regression?

Have not reviewed prior versions

### 🔬 Minimal Reproduction

Create a new device

[2022-09-26 19:22] mimukit commented on #711
Facing the same issue.

Btw, thanks @TheBinaryGuy for the temporary solution. 🎉

[2022-09-28 14:02] Mussakova commented on #711
I have the same original issue but, i couldn't  fix it with the local ip.

I work on Windows 10, n I tried with all ipV4 address that provides my adapters, but any could connect.

My adapaters are:
- Ethernet adapter vEthernet (WSL)
- Wireless LAN adapter Local Area Connection* 11
- Wireless LAN adapter Wi-Fi

I tried with "http://192.0.0.0" or "http://192.0.0.0:3000" and in both ways, didn't work

[2022-10-01 11:52] TheBinaryGuy commented on #711
@Mussakova Try setting up an alias in your hosts file. That might work.

[2022-10-06 17:04] Paras-code-007 commented on #89
@mindmodel can you assign this issue to me??

[2022-10-11 05:16] herpaderpaldent commented on #91
I have the very same issue. I tried to remove the other views and only login with one view but had no luck. Is there any workaround? Could i share the session token from another browser?

[2022-10-13 23:29] bernardm commented on #711
I'd like to pickup this issue and contribute a PR. I could not find a CONTRIBUTING doc for your repository. I did find the PR template. Do you have a Discord or chat channel where contributors discuss issues. I have questions about the architecture.

[2022-10-15 15:58] andyjeffries commented on #652
Just came to look if this was a feature… @anirudhlagisetty are you still working on this? If not, if anyone can give any tips on where to get started with this I may have a go..

[2022-10-16 06:16] manojVivek commented on #724
@jjavierdguezas It has reached a point where we can do beta releases as it's complete with all features marked as beta required.

I'm merging this and testing the release of beta version of app using GitHub actions. Please feel free to leave your review, and I'll address them in a future PR.

[2022-10-16 10:26] ShrutiRani7029 commented on #728
HEY, I AM VERY EXCITED AFTER KNOWING ABOUT THIS PROJECT AND ALSO TRY TO WORK ON IT, CAN YOU PLEASE ASSIGN THIS PROJECT TO ME?

[2022-10-17 02:18] TigersWay opened #734 "Cannot install v1.0.0-alpha Release!"
# 🐞 bug report

### ✍️ Description

Just installed the new alpha release and got
![error](https://user-images.githubusercontent.com/114064/196074850-51e55981-7f8c-4684-99eb-3703f536f653.png)

### 🕵🏼‍♂️ Is this a regression?
...

### 🔬 Minimal Reproduction
Just install

### 🌍 Your Environment
Windows 11

[2022-10-17 03:07] manojVivek commented on #734
Confirmed this is happening on Mac as well, looking into it.

[2022-10-17 05:49] xmayukx commented on #89
its showing invalid URI

[2022-10-18 16:16] tarasis commented on #734
Yup, same on macOS 13 beta. Tried nuking the ~/Library/Application Support/ResponsivelyApp folder but it made no difference.

[code]

[2022-10-21 05:37] #734 closed

[2022-10-21 06:51] TigersWay opened #736 "v1.0.0-alpha.2 Wrong screen sizes"
# 🐞 bug report

### ✍️ Description

The different mobile screens on display are not the right sizes

### 🕵🏼‍♂️ Is this a regression?

Alpha.2 is the first one we can install

### 🔬 Minimal Reproduction

Open any website...
Each "screen" width is smaller I guess because of the "scroller". Each "screen" height is clearly smaller than it is supposed to be.

### 🌍 Your Environment

Windows 11

### 🔥 E

[2022-10-23 17:05] cmasonuk opened #738 "Elementor Weird Spacing"
Hi new to the app, but love it, fantastic and thank you : )

Using Elementor however, noticed the app seems to ignore spacing set by Elementor for certain widgets etc.

For example:

![Screenshot 2022-10-23 at 18 04 09](https://user-images.githubusercontent.com/116509922/197405449-82c09a29-2143-4015-acd4-fe5e9cd32777.png)

Should look like this:

![Screenshot 2022-10-23 at 18 04 24](https://user-i

[2022-10-24 11:59] manojVivek commented on #738
@cmasonuk This is a known problem tracked in #698. And it got fixed in `v1` of the app, which is in `alpha` right now.

You can use the alpha app from here: https://github.com/responsively-org/responsively-app/releases/tag/v1.0.0-alpha.2

Please let us know if you still find this still a problem in `v1`.

[2022-10-24 11:59] #738 closed

[2022-10-24 20:01] gabrielo91 commented on #611
Same issue here

[2022-10-25 03:10] manojVivek commented on #738
You can check the assets section of a release to get the download links.

But here are the download links:
M1 Mac: https://github.com/responsively-org/responsively-app/releases/download/v1.0.0-alpha.2/ResponsivelyApp-1.0.0-alpha.2-arm64.dmg
Intel Mac: https://github.com/responsively-org/responsively-app/releases/download/v1.0.0-alpha.2/ResponsivelyApp-1.0.0-alpha.2.dmg

[2022-10-25 05:26] manojVivek commented on #611
This got fixed in `v1` release of the app, which is in `alpha` right now. You can test it out by downloading binaries here: https://github.com/responsively-org/responsively-app/releases

[2022-10-25 12:38] cmasonuk commented on #738
Thank you, that's a massive help : )

Never used Alpha or Beta software. Can I please ask - will this update and become the standard version, in time?

Or will I need to install a newer version, in the future?

Appreciate it 👍

-- Kind regards, Chris Mason · 01995 608977 · 07761 487918

________________________________
From: Manoj Vivek ***@***.***>
Sent: 25 October 2022 04:11
To: responsively-org

[2022-10-26 03:38] manojVivek commented on #738
It should get auto-upgraded to a stable version when it gets released. But I have not tested that yet to be 100% sure. :)

[2022-10-26 04:43] #736 closed

[2022-10-26 09:45] cmasonuk commented on #738
No worries will report back on anything. Liking the new interface, totally new and streamlined, and the spacing is sorted 🙂👍

-- Kind regards, Chris Mason · 01995 608977 · 07761 487918

________________________________
From: Manoj Vivek ***@***.***>
Sent: 26 October 2022 04:39
To: responsively-org/responsively-app ***@***.***>
Cc: cmasonuk ***@***.***>; Mention ***@***.***>
Subject: Re: [responsiv

[2022-10-26 13:01] ruffcoins commented on #675
I have the same issue. I have as little as 2 devices. Once I try to login on one device. I successfully login. Then the second device starts to mirror the first device. Once that process is complete both devices are logged out.

[2022-10-27 04:31] hobyvh opened #743 "Support url drag and drop into window"
# 🚀 Feature Request

### 📝 Description

Support url drag and drop into the main window from other apps

### ✨ Describe the solution you'd like

When I drag a url from another app into the browser window, switch to that url.

### ✍️ Describe alternatives you've considered

Copying and pasting
Dragging into address bar and deleting the previous url then hitting return

[2022-10-27 20:32] hobyvh opened #744 "Images with absolute positioning invisible"
# 🐞 bug report

### ✍️ Description

On a site that lays out images in frames with absolute positioning, the images don't display.

They do display in Chrome and other browsers.

### 🕵🏼‍♂️ Is this a regression?

Don't know. I'm a new user.

### 🔬 Minimal Reproduction

1. Go to this page https://seismic.com/blog/
2. See that all the article images don't appear in the page (should be above green box

[2022-10-28 09:03] jjavierdguezas commented on #744
Hi, @hobyvh this is related to the css property `aspect-ratio` used in `<img />` tags

![image](https://user-images.githubusercontent.com/13673443/198547574-594b82f0-b6d6-4483-af00-e071309ce836.png)

`aspect-ratio` needs [at least Chrome v88](https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio) but Responsively uses electron `9.3.1` so it use chromium version ~[83](https://www.electronjs

[2022-10-28 09:11] jjavierdguezas commented on #677
Right now, Responsively will ask for each permission when the website require access, but this is a good improvement I think

[2022-10-28 09:17] jjavierdguezas commented on #670
Hi @Heatmanofurioso  default devices can't be deleted right now, but custom ones **can**:

![image](https://user-images.githubusercontent.com/13673443/186405176-8aabd1b1-2f1c-40c9-854b-8184d6b827a8.png)

1- Open the Device Manager
2- Move the custom device to the inactive list
3- Hover over the far right of the device card
4- A button to remove the device will appear

[2022-10-28 09:17] #670 closed

[2022-10-28 09:21] jjavierdguezas commented on #645
We are tackling this by rewriting the entire app. You can follow the progress on #724

[2022-10-28 09:25] jjavierdguezas opened #745 "Allow customizing shortcuts"
# 🚀 Feature Request
Allow customizing shortcuts to avoid scenarios like in #643

[2022-10-28 09:26] jjavierdguezas commented on #643
closing this and opening a feature request on #745

[2022-10-28 09:26] #643 closed

[2022-10-28 09:27] jjavierdguezas commented on #744
duplicated of #642

[2022-10-28 09:27] #744 closed

[2022-10-28 09:27] jjavierdguezas commented on #642
`aspect-ratio` needs [at least Chrome v88](https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio) but Responsively uses electron `9.3.1` so it use chromium version ~[83](https://www.electronjs.org/blog/electron-9-0) (83.0.4103.122 [according to this package](https://github.com/Kilian/electron-to-chromium/blob/9eaf581b7594cf70d41e36b29ba9c66441518e77/full-chromium-versions.js#L848))

This i

[2022-10-28 09:30] jjavierdguezas commented on #637
closing this as duplicated of #215

[2022-10-28 09:30] #637 closed

[2022-10-28 09:32] jjavierdguezas commented on #631
closing this as `invalid` as no further information has been given

[2022-10-28 09:32] #631 closed

[2022-10-28 09:33] jjavierdguezas commented on #617
This is a known issue and we are tackling it by rewriting the entire app. You can follow the progress on https://github.com/responsively-org/responsively-app/issues/724

Maybe [the alpha release](https://github.com/responsively-org/responsively-app/releases/tag/v1.0.0-alpha.2) will work for you

[2022-10-28 09:39] jjavierdguezas commented on #582
This is a known issue and we are tackling it by rewriting the entire app. You can follow the progress on https://github.com/responsively-org/responsively-app/issues/724

Maybe [the alpha release](https://github.com/responsively-org/responsively-app/releases/tag/v1.0.0-alpha.2) will work for you

[2022-10-28 09:41] jjavierdguezas commented on #559
closing this as no further information has been given and we cannot reproduce it

[2022-10-28 09:41] #559 closed

[2022-10-28 09:46] jjavierdguezas commented on #456
we are tackling this by rewriting the entire app. You can follow the progress on #724

[2022-10-28 09:48] jjavierdguezas commented on #379
Im closing this as no further information has been given

[2022-10-28 09:48] #379 closed

[2022-10-28 09:55] jjavierdguezas commented on #698
closing this as duplicated of #456

[2022-10-28 09:55] #698 closed

[2022-10-28 10:14] jjavierdguezas commented on #724
First time installing the alpha version

I know this is a pre-release version but it should look like this?

![image](https://user-images.githubusercontent.com/13673443/198563180-3088c7b8-ae74-4d1c-ab14-815ffc89bc25.png)

Note the vertical scroll on the middle of the screen and the websites truncation.

[code]

[2022-10-28 10:27] manojVivek commented on #724
That's really odd.

The middle scrollbar shouldn't be there and there are some size fix waiting in #742, which I'm about to merge and cut a release. Let's see if this still persists.

[2022-10-28 11:13] manojVivek commented on #724
@jjavierdguezas Can you please give this one a try and let me if it looks the same: https://github.com/responsively-org/responsively-app/releases/tag/v1.0.0-alpha.3

[2022-10-28 11:21] jjavierdguezas commented on #724
![image](https://user-images.githubusercontent.com/13673443/198575350-6b00fff6-f294-4ad1-a351-a9fbb62ad42d.png)

The vertical scroll is still there, and now there are horizontal scrolls on the mobile devices

[2022-10-28 11:27] jjavierdguezas commented on #724
tested it on a Windows Sandbox session to avoid any environment issue:

![image](https://user-images.githubusercontent.com/13673443/198576684-a3695ee5-a939-4312-aaaf-c0b586f173ab.png)

[2022-10-28 11:36] adrinux commented on #724
I'm seeing the same on manjaro Linux. Adding more devices pushes scrollbar to right of the window, obviously. No 'flex layout' option yet of course, but also no horizontal scrollbar until I docked the dev tools and selected an element. Quite usable once I did that.

[2022-10-28 11:55] manojVivek commented on #724
This info is helpful, I'll work on debugging this. 👍🏼

[2022-10-28 12:26] adrinux commented on #724
Just to be clear, I mean no horizontal scroll bar on the *Responsively window* when the row of devices exceed the width of the window. :)

The horizontal scrollbars on *individual devices* only occur on google.com - probably a bug with google.com device width detection/adaption which you can ignore.

[2022-10-30 07:25] manojVivek commented on #724
@jjavierdguezas This is taken care of in https://github.com/responsively-org/responsively-app/releases/tag/v1.0.0-alpha.4

[2022-10-30 10:41] manojVivek opened #748 "Manual publish workflow trigger and auto-version bump"
- [x] Disable `push to main` workflow trigger for publish job
- [x] Do auto-version bump as part of the workflow trigger

[2022-10-30 10:43] #748 closed

[2022-10-30 21:40] DerHerrGammler opened #749 "Support device renaming"
# 🚀 Feature Request

### 📝 Description

It would probably a good idea to implement the possibility to rename a device. Everyone makes typo mistakes so it would be a good fast way to rename the device instead of delete it and make a new one.

### ✨ Describe the solution you'd like

It could something like a edit button in the device manager on the "active devices" site just like the delete button o

[2022-10-31 08:24] jjavierdguezas commented on #724
`v1.0.0-alpha.4`:

- When the app is maximized, the vertical scroll doesn't appear but when the app is not maximized the scroll is still there
  - maximized

  ![image](https://user-images.githubusercontent.com/13673443/198963307-d3c75247-de8d-430a-8464-db8e0e278b07.png)

  - not maximized

  ![image](https://user-images.githubusercontent.com/13673443/198963356-51fbdc4b-412d-4869-8dbc-af6bbcad3edd

[2022-10-31 12:17] adrinux commented on #724
Are you sure that's alpha.4 @jjavierdguezas ?

In manjaro Linux using the alpha4 appimage the vertical scroll bar appears correctly at the right of the window.

![resp-alpha4](https://user-images.githubusercontent.com/41276/199005907-982833ac-516c-46ea-81b1-b8c27d49e8fc.png)

[2022-10-31 14:53] jjavierdguezas commented on #724
Yes, I am sure it is v1.0.0-alpha.4

If Responsively 1.0-alpha is using a different UA that is a desktop UA instead of a mobile UA for mobile devices _maybe_ we should fix that right? All I am saying is that if it looks good on v0.19.1 it _should_ look good on v1 as well. I understand that if this is just a google.com issue, it might not be a priority for app renewal.

[2022-11-01 10:00] manojVivek commented on #724
I just tried on an AWS windows instance, and it looks fine in both maximized state or not:
<img width="1330" alt="Screenshot 2022-11-01 at 3 28 01 PM" src="https://user-images.githubusercontent.com/1283424/199208571-59ac240e-d7b8-47c3-9986-b6dfd257a932.png">

Strange, what could be the scenario where the scroll bar shows. 🤔

[2022-11-01 10:34] jjavierdguezas commented on #724
try to make at least one device not display full vertically
![198963356-51fbdc4b-412d-4869-8dbc-af6bbcad3edd](https://user-images.githubusercontent.com/13673443/199214527-28716a01-3ace-4a46-ad61-e3909f07d62c.png)

[2022-11-02 11:16] mindplay-dk commented on #724
Just gave `v1.0.0-alpha.4` a try - it doesn't seem to mirror any events? It's just like having 3 independent browser windows side-by-side. The "mirror events" toggle doesn't seem to have any effect. Maybe I'm too early for testing this? 😅

[2022-11-03 16:18] manojVivek commented on #724
Ah bummer, it works in the `dev` build but doesn't in the `prod` build.
Looking into it.

[2022-11-03 17:07] manojVivek commented on #724
@mindplay-dk Event mirroring is fixed and available in `v1.0.0-alpha.7` release here: https://github.com/responsively-org/responsively-app/releases

[2022-11-03 17:08] manojVivek commented on #724
Didn't happen to me:
<img width="1652" alt="Screenshot 2022-11-03 at 10 16 16 PM" src="https://user-images.githubusercontent.com/1283424/199788239-4d821d54-7caf-41cf-9c1c-18e8163959fe.png">

Sorry if I'm missing something obvious again.

[2022-11-08 22:40] ndstate commented on #707
--disable-gpu-sandbox Fixed for me. Is there a way to make this flag run automatically when I double click the file vs having to do it in the terminal @diego-betto ? Thank you.

[2022-11-10 10:07] diego-betto commented on #707
Sure, you can create a `.desktop` file with params, etc.

Take a look here:
- https://help.ubuntu.com/community/UnityLaunchersAndDesktopFiles
- https://itsfoss.com/ubuntu-desktop-shortcut/

[2022-11-10 19:42] dougg0k commented on #711
Actually just `0.0.0.0:PORT` is enough. No need to get the local ip.

[2022-11-10 19:48] waldothedeveloper commented on #711
This works for me on Mac Os Ventura!

[2022-11-14 18:06] aaronlippold opened #758 "Loading browser data"
I have a vuejs app that uses vuex to store data I load into my add from files and endpoints. When I load this data in the screen in Responsively in which I load the data works as expected but the other screen are not kept in sync.

Is there a setting in the app I need to adjust or is this a corner case that has not yet been worked?

[2022-11-14 23:50] nikfp commented on #745
Has anyone started work on this issue yet? Or any of the upstream issues that could be blocking it? I'd like to know where to _try_ to help out.

[2022-11-17 03:49] manojVivek commented on #745
@nikfp No, this is not being worked on. But if you're going to take this up, then I would suggest you implement this on the v1 app: https://github.com/responsively-org/responsively-app/tree/main/desktop-app-rewrite

[2022-11-17 03:52] manojVivek commented on #758
@aaronlippold I'm afraid this won't work. The processing you do within JavaScript in one device won't be synced to other devices.

[2022-11-18 07:32] MozerBuce commented on #711
I'm facing the same issue, but for now it worked.

Thanks @TheBinaryGuy

[2022-11-21 15:37] Sathvik902 commented on #677
Hey @jjavierdguezas !
I can I work on the issue?
please assign it to me.

[2022-11-21 17:21] iamr-kumar commented on #745
@nikfp have you started working on it?

[2022-11-21 19:13] nikfp commented on #745
@iamr-kumar as much as I'd like to say yes, life got in the way a bit. If you want to take it up feel free, you won't be duplicating any work from my end.

[2022-11-22 03:09] manojVivek commented on #677
@Sathvik902 Go for it!

Please note the old deprecated app is renamed as `legacy` and any new development should be done on `v1` app in this folder: https://github.com/responsively-org/responsively-app/tree/main/desktop-app

[2022-11-29 06:05] Disaelfra commented on #745
@iamr-kumar are you working on this?

[2022-11-30 22:21] awakekat opened #766 "401 Authorization Required on website"
# 🚀 Feature Request

### 📝 Allow Prompt for Protected Websites

### ✨ In the previous version of Responsively that I just deleted (darn it), allowed for a protected folder on a website that required a username and password on it.

Now with the new Beta version I just downloaded, I get no prompt for the username and password to load the site but a 401 Authorization Required and the site does not lo